- var titleContent = "NAI Ohio Equities | Multifamily Opinion of Value Analysis"
- var metaContent = "NAI Ohio Equities comprehends the importance of providing Multifamily property owners the information they need to understand their assets value in today’s every changing market conditions."

html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.bov-header
				h1 Multifamily Opinion of Value Analysis
		.page-wrap.bov
			.container.bov-body
				.row 
					p NAI Ohio Equities comprehends the importance of providing Multifamily property owners the information they need to understand their assets value in today’s every changing market conditions.
					p Because of that, we offer a free of charge “Opinion of Value” which will include:
					.card-row
						.card
							img(src="../img/myIcons/bov-icons/003-investment.png", alt="")
							h3.text-center Investment Highlights &amp; Objectives
						.card
							img(src="../img/myIcons/bov-icons/002-trend.png", alt="")
							h3.text-center Economic Trends in the Market &amp; Submarket
						.card
							img(src="../img/myIcons/bov-icons/004-comparison.png", alt="")
							h3.text-center Multifamily Sale &amp; Rental Comps
						.card
							img(src="../img/myIcons/bov-icons/001-analysis.png", alt="")
							h3.text-center Financial Analysis of the asset
					p By providing Multifamily property owners with this analysis, they can get a wholelistic understanding of their property and how it is positioned within the overall market. This allows owners to:
						ul 
							li
								i(class="fas fa-angle-double-right")
									span Achieve the highest possible Internal Rate of Return
							li
								i(class="fas fa-angle-double-right")
									span Capitalize on Market Timing
							li
								i(class="fas fa-angle-double-right")
									span Remain aware of Net Worth
							li
								i(class="fas fa-angle-double-right")
									span Constantly Gauge Investment Returns
							li
								i(class="fas fa-angle-double-right")
									span Identify Value Add Opportunities
					p To schedule a no obligation call, please fill out the form below and our team will contact you for next steps.
					.navspacer
					.navspacer
					h2.text-center FORM GOES HERE
					.navspacer
					.navspacer
					.bov-agent-gutter
						img.bov-agent-bio-photo(src="../img/brokers/cstephens-portrait.jpg")
						.bov-agent-gutter-content
							i(class="fas fa-solid fa-quote-left bov-quote-symbol")
							.bov-agent-quote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis numquam illum eveniet quibusdam delectus placeat consectetur obcaecati quam ducimus iste aut alias dolor voluptatem eaque qui, sapiente soluta molestias officiis.
							.bov-agent-name Carter Stephens
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
