- var titleContent = "NAI Ohio Equities | Multifamily Opinion of Value Analysis"
- var metaContent = "NAI Ohio Equities comprehends the importance of providing Multifamily property owners the information they need to understand their assets value in today’s every changing market conditions."

html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.bov-header
				h1 Multifamily Opinion of Value Analysis
		.page-wrap.bov
			.container.bov-body
				.row 
					p NAI Ohio Equities comprehends the importance of providing Multifamily property owners the information they need to understand their assets value in today’s every changing market conditions.
					p Because of that, we offer a free of charge “Opinion of Value” which will include:
					.card-row
						.card
							.card-body 
								img(src="../img/myIcons/bov-icons/003-investment.png", alt="")
							.card-footer 
								h3 Investment Highlights &amp; Objectives
						.card
							.card-body 
								img(src="../img/myIcons/bov-icons/002-trend.png", alt="")
							.card-footer 
								h3 Economic Trends in the Market &amp; Submarket
						.card
							.card-body 
								img(src="../img/myIcons/bov-icons/004-comparison.png", alt="")
							.card-footer 
								h3 Multifamily Sale &amp; Rental Comps
						.card
							.card-body 
								img(src="../img/myIcons/bov-icons/001-analysis.png", alt="")
							.card-footer 
								h3 Financial Analysis of the asset
					p By providing Multifamily property owners with this analysis, they can get a wholelistic understanding of their property and how it is positioned within the overall market. This allows owners to:
						ul 
							li
								i(class="fas fa-angle-double-right")
									span Achieve the highest possible Internal Rate of Return
							li
								i(class="fas fa-angle-double-right")
									span Capitalize on Market Timing
							li
								i(class="fas fa-angle-double-right")
									span Remain aware of Net Worth
							li
								i(class="fas fa-angle-double-right")
									span Constantly Gauge Investment Returns
							li
								i(class="fas fa-angle-double-right")
									span Identify Value Add Opportunities
					p To schedule a no obligation call, please fill out the form below and our team will contact you for next steps.
					.navspacer
					.navspacer
					h2.text-center FORM GOES HERE
					.navspacer
					.navspacer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
