body {
    background: #E1E1E1;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Domine', serif;
    margin: 0;
}

.container {
    max-width: 80%;
    background: #fff;
    text-align: center;
    margin: 50px auto;
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.container:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logo {
    max-width: 55%;
    margin-bottom: 35px;
}

.lounge {
    max-width: 80%;
    margin-bottom: 55px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border: 10px solid #fff;
    opacity: 0;
    transition: all .3s linear;
}

.container p {
    text-align: initial;
}

#invite h1 {
    margin-bottom: 10px;
}
.invite-details {
    text-align: initial;
}
.invite-details dl {
    margin-bottom: 30px;
}
.invite-details dt {
    font-weight: 900;
    font-size: 1.1em;
}
.invite-details dd {
    font-style: italic;
}
.invite-details img {
    display: block;
    margin-bottom: 15px;
}

#place-holder {
    max-width: 75%;
    margin: 35px auto 55px;
    border: 1px dashed #333;
}

@media screen and (max-width: 650px) {
    #place-holder {
        max-width: 100%;
    }

    .logo {
        max-width: 85%;
    }

    .lounge {
        max-width: 90%;
        border: 5px solid #fff;
    }

    #invite h1 {
        font-size: 1.6em;
    }

    .headline2 {
        font-size: 1.25em;
        display: none;
    }
}