-var titleContent = "NAI Ohio Equities | FST Logistics Tenant Rep Project"
-var metaContent = " Case study for the NAI Ohio Equities Tenant Rep Project for FST Logistics in Dallas, Texas."
-var fileNameCSS = "fst-dallas"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#fst-dallas-header
				.fst-dallas-header-text
					h1 Tenant Rep Project
					h6 FST Logistics
				img.img-responsive(src="../img/logos/fst-dallas.png", alt="fst-dallas Logo")
			.container-fluid
				.row
					.col-sm-3.fst-dallas-text-left
						h3 Case Study
						h4 FST Logistics - Dallas, Texas
						p: a(href="download/fst-dallas.pdf", target="_blank", rel="noopener noreferrer") Download Case Study
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Summary
							dd FST Logistics had been considering a westward expansion for some time and initially looked at Salt Lake City as their first location west of the Mississippi River. However, after further review and discussion with current and future customers, it became clear that they needed to locate in the Dallas-Fort Worth market. The requirement was to locate a space between 300,000 – 500,000 square feet.
							dd Having a longstanding relationship with Blake DeCrane and Curt Berlin, SIOR, of the Industrial Property Team at NAI Ohio Equities, FST engaged their services to assist in the leasing process. Blake and Curt partnered with Mark Miller, SIOR, at NAI Robert Lynn in Dallas. Working together the team identified over 80 potential spaces that could meet FST’s requirements. With additional information and some labor analysis, a “short” list of 15 properties was developed.
							dd Blake and Curt flew to Dallas with the FST team and, with Mark’s scheduling prowess, were able to tour all 15 buildings in a day and a half. There were multiple excellent alternatives, and three properties were chosen for further negotiations. FST is currently a tenant of EQT/Exeter in Central Ohio, and it quickly became clear that the EQT/Exeter team wanted this deal more than the others. With a very aggressive lease proposal, the familiarity of both parties, and having an existing lease document in place, it made the process almost seamless.
							dd “We are very happy the Industrial Property Team was able to help FST with the transaction. Having partners in over 350 Markets worldwide allows us to represent our client’s best interests no matter the location,” said DeCrane.
							dd FST Logistics is very excited about this new location and the opportunities it opens for them.
							dt Transaction Profile
							dd: ul(style="list-style-type: none; margin-left: 0; padding-left: 0;") 
								li 
									strong Transaction Type: 
									| Lease
								li 
									strong Building Type:
									| Industrial
								li 
									strong Size:
									| 383,930 SF
								li 
									strong Profile:
									| FST Logistics, Inc. is a leading provider of third-party logistics solutions and sought a new facility in the Dallas-Fort Worth area to aid in expansion of its network to better serve its customers across the U.S.
							dt Client Objectives
							dd: ul(style="list-style-type: none; margin-left: 0; padding-left: 0;") 
								li Located in the Dallas-Fort Worth Market
								li Space between 300,000-500,000 SF
								li Temperature-Controlled Space
								li Grow FST’s Geographic Network of Distribution Facilities to Serve Current and Future Clients
				.row.fst-dallas-team-photos
					p Team Members
					hr
					ul
						li: a(href="https://www.industrialpropertyteam.com", target="_blank", rel="noopener noreferrer") 
							img.img-responsive(src="../img/brokers/cberlin-portrait.jpg", alt="Curt Berlin, SIOR")
							p Curt Berlin, SIOR
							p: em Industrial Property Team
						li: a(href="https://www.industrialpropertyteam.com", target="_blank", rel="noopener noreferrer") 
							img.img-responsive(src="../img/brokers/bdecrane-portrait.jpg", alt="Blake DeCrane")
							p Blake DeCrane
							p: em Industrial Property Team
						li: a(href="https://www.industrialpropertyteam.com", target="_blank", rel="noopener noreferrer") 
							img.img-responsive(src="../img/brokers/mosowski-portrait.jpg", alt="Matt Osowski")
							p Matt Osowski
							p: em Industrial Property Team
				//- .row.fst-dallas-testimonials
					p "We have grown significantly in the past few years and had to lease space at three separate locations in order to accomodate the needs of the agency. I was delighted with the personal commitment made by both Peter and Matt to find us a property that met all of fst-dallas House's needs. The time and effort they have put forth has been invaluable."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Denise M. Robinson, President and CEO | fst-dallas House
						img.img-responsive(src="../img/logos/fst-dallas.png", alt="fst-dallas House logo")
				.row.fst-dallas-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug