-var titleContent = "NAI Ohio Equities | FST Logistics Case Study"
-var metaContent = "Case Study for the Sale/Leaseback deal NAI Ohio Equities worked on with FST Logistics."
-var fileNameCSS = "fst"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#fst-header
				.fst-header-text
					h1 Sale/Leaseback Project
					h6 FST Logistics
				a(href="https://fstlogistics.com/", target="_blank", rel="noopener noreferrer"): img.img-responsive(src="../img/logos/fstlogistics.png", alt="FST Logistics Logo")
			.container-fluid
				.row
					.col-sm-3.fst-text-left
						h3 Case Study
						h4 FST Logistics - Columbus, Ohio
						p: a(href="download/fst.pdf", target="_blank", rel="noopener noreferrer") Download Case Study
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Project
							dd Founded in 1991 in Columbus, Ohio, FST Logistics, focused its business on shipping and transportation before also pursuing warehousing in 1998. The company occupied over 1.6 million square feet of warehouse space in several buildings in the Midwest. While most of the buildings were leased, they owned two of the properties. The buildings were located at 5400 Renner Road and 1727 Georgesville Road in Columbus’ West and Southwest submarkets. They were 226,000 SF and 130,004 SF warehouses with both ambient and air-conditioned space. After transitioning from a privately owned to an employee-owned company (ESOP), FST Logistics decided to explore the potential of a sale/leaseback on 5400 Renner Road and 1727 Georgesville Road to determine if it was a better fit for the ESOP moving forward.
							dt Approach
							dd FST Logistics consulted with NAI Ohio Equities’ Industrial Property Team to determine if the sale/leaseback was a financially viable alternative at this time. With FST being a strong, growing company and market cap rates at or near all-time lows, it made sense to pursue this opportunity. To maximize the sale value while maintaining as much flexibility as possible, NAI Ohio Equities recommended a seven-year lease term.
							dd NAI Ohio Equities then worked with NAI Hiffman’s Capital Markets Group out of Chicago to identify potential buyers. The property was put on the market without a purchase price and with a call for offers date. Utilizing the vast databases of both teams, multiple confidentiality agreements were executed and 10 written offers were received. After reviewing all of the offers with FST, the top three were chosen for the short list. Discussions were opened with all three potential buyers, and the goal was to identify the buyer who would be a compatible landlord, have the highest likelihood of closing and offer the best price.
							dt Results
							dd Ultimately, Weston Inc., based out of Cleveland, Ohio, was selected. They proved to be an excellent choice. They worked with FST and NAI Ohio Equities’ Industrial Property Team of Curt Berlin, Matt Osowski and Blake DeCrane to finalize the deal. The Purchase and Sale agreement was negotiated simultaneously with the Lease and the sale was able to be closed within 60 days after full execution of the Letter of Intent.
				.row.fst-team-photos
					p Team Members
					hr
					ul
						li
							a(href="../brokers/cberlin.html"): img.img-responsive(src="../img/brokers/cberlin-portrait.jpg", alt="Curt Berlin")
							p Curt Berlin, SIOR
							p: em Industrial Property Team
						li
							a(href="../brokers/mosowski.html"): img.img-responsive(src="../img/brokers/mosowski-portrait.jpg", alt="Matt Osowski")
							p Matt Osowski, SIOR
							p: em Industrial Property Team
						li
							a(href="../brokers/bdecrane.html"): img.img-responsive(src="../img/brokers/bdecrane-portrait.jpg", alt="Blake DeCrane")
							p Blake DeCrane
							p: em Industrial Property Team
				.row.fst-testimonials
					p "The Industrial Property Team from NAI Ohio Equities was instrumental in helping us analyze the potential of a sale/leaseback. From our first exploratory meeting, through the financial analysis, marketing and sale negotiations, they were there every step of the way. It was nice to know this transaction was being handled by such true professionals."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Art DeCrane, CEO | FST Logistics
						a(href="https://fstlogistics.com/", target="_blank", rel="noopener noreferrer"): img.img-responsive(src="../img/logos/fstlogistics.png", alt="FST Logistics logo")
				.row.fst-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
