-var titleContent = "NAI Ohio Equities | Healthcare Realty Trust Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities' Office Brokerage Group's medical office leasing portfolio for Healthcare Realty Trust."
-var fileNameCSS = "hrt"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#hrt-header
				.hrt-header-text
					h1 Medical Office Project
					h6 Healthcare Realty Trust
				img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust Logo")
			.container-fluid
				.row
					.col-sm-3.hrt-text-left
						h3 Case Study
						h4 Healthcare Realty Trust - Columbus, Ohio
						p: a(href="download/hrt.pdf", target="_blank", rel="noopener noreferrer") Download Case Study
					.col-sm-9.hrt-base-text.dt-section
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12.hrt-base-text
						dl.dl-horizontal
							.dt-section 
								dt Project
								dd In July 2022 Healthcare Realty Trust, one of the largest healthcare REITs in the country, finalized its merger with Healthcare Trust of America Inc. growing its portfolio of medical office buildings in Central Ohio to more than 748,000 square feet, or roughly 7.5% of medical office building space in the MSA. Following the merger, Healthcare Realty determined that it would use a local brokerage to manage the leasing responsibilities for its Columbus properties, a responsibility Healthcare Trust of America previously managed in-house. Through a selective process, Healthcare Realty chose NAI Ohio Equities’ award-winning Office Brokerage Group to manage its Columbus portfolio.
							.dt-section 
								dt Approach
								dd The Office Brokerage Group curated conceptual floor plans and used professional photos and drone video to capture the spatial elements and actively market the portfolio – an approach not previously undertaken. It also leveraged its positive reputation and established relationships with hospital systems and co-operating brokers to generate awareness, putting a familiar name and face to the properties. The responsiveness and accessibility of Healthcare Realty paired with its white glove approach simplified and expedited the tenant decision-making process. This, along with the team’s creative approach to both problem-solving and keeping deals on-track, has been a significant differentiator leading to increased visibility and more executed leases.
							.dt-section 
								dt Results
								dd Over the course of the first year since taking on the assignment the Office Brokerage Group has leased or renewed more than 106,000 square feet of medical office space across the Columbus portfolio averaging more than 8,800 square feet per month. Between January 1, 2023, and January 1, 2024, the absorption rate for the Healthcare Realty portfolio was a positive 3.1%, outperforming the absorption of medical office space for the Columbus market, which was negative 1.2%. Furthermore, the team has successfully attracted new tenants with complimentary practices to the portfolio including Cityblock Health, Hypertension Nephrology Consultants, Ohio Guidestone, Necco LLC, Horizon Infusions, ClinOhio, and Tri-State Men’s Health. This synergy among tenants creates balance which allows these practices to thrive.
							.dt-section 
								dt Portfolio Size 
								dd 673,403 SF
							.dt-section 
								dt Profile 
								dd Healthcare Realty Trust is a Real Estate Investment Trust focused on owning, managing, acquiring, and developing outpatient medical facilities. HRT owns 697 properties and 41 million square feet of medical outpatient buildings throughout the United States.
				.row.hrt-team-photos
					p Team Members
					hr
					ul
						li: a(href="../brokers/mgregory.html")
							img.img-responsive(src="../img/brokers/mgregory-portrait.jpg", alt="Matt Gregory")
							p Matt Gregory
							p: em Senior VP, Office Brokerage
						li: a(href="../brokers/adutcher.html")
							img.img-responsive(src="../img/brokers/adutcher-portrait.jpg", alt="Andy Dutcher")
							p Andy Dutcher
							p: em Senior VP, Office Brokerage
						li: a(href="../brokers/pbird.html")
							img.img-responsive(src="../img/brokers/pbird-portrait.jpg", alt="Philip Bird")
							p Philip Bird
							p: em VP, Office Brokerage
						li: a(href="../marketing/jloxterman.html")
							img.img-responsive(src="../img/support/jloxterman-portrait.jpg", alt="Jenna Loxterman")
							p Jenna Loxterman
							p: em Licensed Marketing Assistant
				//- .row.hrt-testimonials
					p "We have grown significantly in the past few years and had to lease space at three separate locations in order to accomodate the needs of the agency. I was delighted with the personal commitment made by both Peter and Matt to find us a property that met all of hrt House's needs. The time and effort they have put forth has been invaluable."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Denise M. Robinson, President and CEO | Healthcare Realty Trust
						img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust logo")
				.row.hrt-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
				.navspacer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug