-var titleContent = "NAI Ohio Equities | Southeast Industrial Park Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities industrial property deals for Southeast Industrial Park."
-var fileNameCSS = "industrialpark"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#industrialpark-header
				.industrialpark-header-text
					h1 Southeast Industrial Park
					h6 Columbus, Ohio
			.container-fluid
				.row
					.col-sm-3.industrialpark-text-left
						h3 Case Study
						h4 Southeast Industrial Park - Columbus, Ohio
						p: a(href="marketing/industrialpark.pdf", target="_blank") View Marketing Materials
							br
							|
							a(href="download/industrialpark.pdf", target="_blank") Download Case Study
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Project
							dd Once known as an industrial area with inexpensive rent, the Southeast Industrial Park in Central Ohio has turned into a goldmine with desirable industrial buildings for sale on over 33 acres of land.
							dt Approach
							dd When Hackman Capital Partners purchased the 18 buildings less than a mile from the Alum Creek exit off I-70 in 2012, the plan was to sell the entire industrial park to one owner. Before retaining NAI Ohio Equities, Hackman Capital Partners worked with another broker in town. The company sold one property, but ultimately decided it would be better to go with another brokerage. After retaining Curt Berlin, Matt Osowski, Mike Semon, and Dan Sheeran, it was determined the best course of action was to sell the buildings as individual parcels instead of a whole.
							dd During the sales process, current tenants were offeed the opportunity to purchase their building when their leases were expiring. With that offer, 5 of the 17 buildings were sold to occupied tenants.
							dt Results
							dd Within six months, the first building was sold to Crimson Cup for their new innovation lab. After 36 months, 11 of the remaining 17 parcels were also sold, leaving only three currently on the market. Some of the more prominent companies located in the Southeast Industrial Park include Unistrut, Sabo Industries, Appian Manufacturing, and the Yellow Cab Company.
				.row.industrialpark-team-photos
					p Team Members
					hr
					ul
						li
							img.img-responsive(src="../img/brokers/cberlin-portrait.webp", alt="Curt Berlin, SIOR")
							p Curt Berlin, SIOR
							p: em Sales and Leasing Agent
						li
							img.img-responsive(src="../img/brokers/mosowski-portrait.webp", alt="Matt Osowski")
							p Matt Osowski
							p: em Sales and Leasing Agent
						li
							img.img-responsive(src="../img/brokers/msemon-portrait.webp", alt="Mike Semon")
							p Mike Semon
							p: em Sales and Leasing Agent
						li
							img.img-responsive(src="../img/brokers/dsheeran-portrait.webp", alt="Dan Sheeran")
							p Dan Sheeran
							p: em Sales and Leasing Agent
				.row.industrialpark-testimonials
					p "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Ben Struewing | VP, Hackman Capital Partners
						img.img-responsive(src="../img/logos/hackman.webp", alt="Hackman Capital Partners logo")
				.row.industrialpark-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
