-var titleContent = "NAI Ohio Equities | Kappa Kappa Gamma Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities tenant representation deal for Kappa Kappa Gamma in Dublin, Ohio."
-var fileNameCSS = "kkg"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#kkg-header
				.kkg-header-text
					h1 Tenant Rep Project
					h6 Kappa Kappa Gamma
				img.img-responsive(src="../img/logos/kkg.png", alt="Kappa Kappa Gamma Logo")
			.container-fluid
				.row
					.col-sm-3.kkg-text-left
						h3 Case Study
						h4 Kappa Kapa Gamma - Dublin, Ohio
						p: a(href="download/kkg.pdf", target="_blank") Download Case Study
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Project
							dd Kappa Kappa Gamma (KKG), a national sorority, had been headquartered in a historic building in Old Town East since the 1950s. This location was more than just their office - it was part of the KKG legacy. Employees, the board, current members, and alumna all felt connected to this property. But by 2014, the building clearly no longer worked for the growing needs of the organization.
							dt Challenge
							dd In 2014, KKG hired NAI Ohio Equities, along with an architect, to elevate their options: renovate, buy new, lease, or build ground up. Over the next six months, NAI showed KKG approximately 20 different properties while the architect calculated renovation costs. After evaluating their options, the board voted to build ground up.
							dd However, when the decision was announced, the board received feedback from the rest of the organization. They wanted an opportunity to voice their opinions, so the board decided to put the project on hold to solicit all stakeholders’ input.
							dt Solution
							dd For 18 months, KKG analyzed surveys, conducted focus groups, an held internal discussions to determine the best course of action. Through this period, NAIOE met frequently with the board and employees to answer questions and help guide them through the process. Their support helped the board build the internal consensus needed to maintain momentum on the project. With the membership now on board, KKG was ready to restart the property search.
							dt Results
							dd Working with NAI, KKG found a space to lease at Bridge Park in Dublin, This new development had ample space with many walkable nearby amenities. Their new location would help foster the collaboration and sense of community the organization needed to operate more effectively.
							dd The final challenge was to sell the existing property. NAIOE listed the property, had multiple offers within days, and helped KKG select the best one. The property closed February 2018, just weeks after KKG moved to their new location.
				.row.kkg-team-photos
					p Team Members
					hr
					ul
						li
							a(href="../brokers/mgregory.html"): img.img-responsive(src="../img/brokers/mgregory-portrait.jpg", alt="Matt Gregory")
							p Matt Gregory
							p: em Senior VP, Office Brokerage
						li
							a(href="../brokers/adutcher.html"): img.img-responsive(src="../img/brokers/adutcher-portrait.jpg", alt="Andy Dutcher")
							p Andy Dutcher
							p: em VP, Office Brokerage
						li
							a(href="../brokers/pbird.html"): img.img-responsive(src="../img/brokers/pbird-portrait.jpg", alt="Philip Bird")
							p Philip Bird
							p: em Associate VP, Office Brokerage
						li
							a(href="../marketing/jwilliams.html"): img.img-responsive(src="../img/support/jwilliams-portrait.jpg", alt="Jenna Williams")
							p Jenna Williams
							p: em Licensed Marketing Assistant
				.row.kkg-testimonials
					p "Matt and the team went above and beyond to get everyone on board with the decision to move. They made us all feel comfortable and at ease throughout the entire process and were patient and helpful during this lengthy journey."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Kari Kittrell Poole, Executive Director | Kappa Kappa Gamma
						a(href="https://www.kappakappagamma.org/kappa/", target="_blank"): img.img-responsive(src="../img/logos/kkg.png", alt="Kappa Kappa Gamma logo")
				.row.kkg-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
