-var titleContent = "NAI Ohio Equities | Laundry Max Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities retail sale at 2210 E Dublin Granville Road."
-var fileNameCSS = "laundrymax"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#laundrymax-header
				.laundrymax-header-text
					h1 Retail Sale
					h6 2210 E Dublin Granville Road - Columbus, Ohio
			.container-fluid
				.row
					.col-sm-3.laundrymax-text-left
						h3 Case Study
						h4 Laundry Max - Columbus, Ohio
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Project
							dd 2210 E. Dublin-Granville Road was the site of a former strip club. In addition to the exterior challenges of the façade and location, John Mally was tasked with finding a buyer and representing the ownership group in selling this 10,000 square foot asset in 2016.
							dt Approach
							dd Due to crime issues with previous clubs, the Northland Community Council, Village of Minerva Park, and City of Columbus, did not support interest received from other club operators. The community emphasized this desire by putting a hold on the liquor license for the address and communication with the owners. John was tasked with targeting and recruiting a user with a concept that could utilize the large space and parking lot, while winning approval from the surrounding communities.
							dd Due to the size of the property, dollars stores, night clubs, and churches made up the initial interest. Interested parties were only offering a purchase option with a desire for a quick close, ultimately not working for the property sale.
							dd The owner of the Dunkin’ Donuts across the street showed interest in the property with a desire to turn it into a laundromat in order to service the many rental units in the surrounding area. Architectural and structural meetings were set to examine the possibility of creating a single flat foundation as well as adding windows around the entrance. Multiple details included in the buyer’s diligence were worked through in a matter of 30 days and both parties agreed on a closing date. An SBA loan was approved to acquire the property and fund a portion of the construction.
							dt Results
							dd A new laundromat concept, Laundry Max, very popular on the East Coast, will now be opening up in 2017. The entire neighborhood is excited for a new clientele to come into the area.
				.row.laundrymax-team-photos
					p Team Members
					hr
					ul
						li
							img.img-responsive(src="../img/brokers/jmally-portrait.jpg", alt="John Mally")
							p John Mally
							p: em Sales and Leasing 
								span.to-hide Agent
				.row.laundrymax-testimonials
					p "The neighborhood needed something to cater to the nearby apartments. We really thought everyone would appreciate the change."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Yogesh Patel | Owner, Laundry Max
						img.img-responsive(src="../img/logos/laundrymax.png", alt="Laundry Max logo")
				.row.laundrymax-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug