-var titleContent = "NAI Ohio Equities | Primary Solutions Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities tenant representation deal for Primary Solutions in Westerville, Ohio."
-var fileNameCSS = "primarysolutions"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#primarysolutions-header
				.primarysolutions-header-text
					h1 Tenant Rep Project
					h6 Primary Solutions
				img.img-responsive(src="../img/logos/primarysolutions.png", alt="Primary Solutions Logo")
			.container-fluid
				.row
					.col-sm-3.primarysolutions-text-left
						h3 Case Study
						h4 Primary Solutions - Westerville, Ohio
						p: a(href="download/primarysolutions.pdf", target="_blank") Download Case Study
					.col-sm-9
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Project
							dd Located in Columbus, Primary Solutions is a software development company. In 1998, Primary Solutions launched their flagship Gatekeeper Software. Gatekeeper was designed to address the evolving information management needs of Ohio’s county boards of Developmentally Disabled. Shortly after, Primary Solutions went to market with their Advisor software to meet the billing and management challenges of DD provider agencies in Ohio.
							dd Due to Primary Solutions’ continued success as well as recent business acquisitions, the company had outgrown their space at 6665 Busch Blvd in Columbus.
							dd Brian Marshall engaged NAI Ohio Equities brokers Mark Francescon and Joe Menninger of The Capital City Team within NAI Ohio Equities to represent Primary Solutions.
							dt Challenge
							dd The real estate market was experiencing higher demand than supply for single-tenant office buildings within the Columbus MSA. The goal was to assist Primary Solutions solve their real estate need by representing them in the sale of their building at 6665 Busch Blvd. and relocate to a new single-tenant office building on a timeline that will allow for no disruption in normal business.
							dt Solution
							dd 6665 Busch Boulevard in Columbus is a 12,000 office building in excellent condition with a great balance of offices and open workspaces. Mark and Joe were able to market, negotiate and enter into a purchase agreement within two months of listing the property, it was sold at 99% of the ask price. Mark and Joe also assisted Primary Solutions negotiate a lease back from the buyer to bridge the gap in timing and allow them to continue to operate until relocating.
							dd Mark and Joe surveyed the market and identified several buildings that looked to potentially meet the needs of Primary Solutions. After touring several spaces, they identified 707 Park Meadow Road in Westerville as a perfect fit for the company. This single-tenant office building included 19,000 square feet on about 4 acres and was not on the market before they assisted in negotiating the sale of the building. The property was occupied by a tenant, so Mark and Joe assisted in lining up the acquisition timeline and existing tenants’ lease with the lease back at 6665 Busch Blvd.
				.row.primarysolutions-team-photos
					p Team Members
					hr
					ul
						li
							img.img-responsive(src="../img/brokers/jmenninger-portrait.jpg", alt="Joe Menninger")
							p Joe Menninger, CCIM
							p: em Sales and Leasing Agent
						li
							img.img-responsive(src="../img/brokers/mfrancescon-portrait.jpg", alt="Mark Francescon")
							p Mark Francescon
							p: em Sales and Leasing Agent
				.row.primarysolutions-testimonials
					p "Joe and Mark were great to work with. They not only sold our building for a great price, but they were also able to find us the new space we needed with the expertise to get the deals done in our timeframe."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Brian Marshall, President  | Primary Solutions
						img.img-responsive(src="../img/logos/primarysolutions.png", alt="Primary Solutions logo")
				.row.primarysolutions-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
