-var titleContent = "NAI Ohio Equities | Rittal North America Case Study"
-var metaContent = "Case Study for the NAI Ohio Equities tenant representation deal for Rittal North America in Westerville, Ohio."
-var fileNameCSS = "rittal"
include ../../mixins/results-css.pug

doctype html
html(lang="en")
	include ../../extends/results-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#rittal-header
				.rittal-header-text
					h1 Tenant Rep Project
					h6 Rittal North America
				img.img-responsive(src="../img/logos/rittal.png", alt="Rittal North America Logo")
			.container-fluid
				.row
					.col-sm-3.rittal-text-left
						h3 Case Study
						h4 Rittal North America - Springfield, Ohio
						p: a(href="download/rittal.pdf", target="_blank", rel="noopener noreferrer") Download Case Study
					.col-sm-9(style="background-color: rgba(0,0,0,.1); padding: 2rem 0 1rem 3rem; margin-bottom: 1rem;")
						p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
						p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				.row
					.col-sm-12
						dl.dl-horizontal
							dt Summary
							dd Rittal North America began working with Matt Osowski and the Industrial Property Team in January 2021 and sought a distribution facility in close proximity to its Urbana headquarters. Supply at the time was extremely limited as the increase in online ordering had driven warehouse demand to record highs during the pandemic. After searching for months, Osowski and Rittal took a tour of the Upper Valley Mall. At the time, Industrial Commercial Properties (ICP) was in contract and intended to convert the existing obsolescent retail space to a warehouse/ distribution facility. The mall was still operating at the time of the tour.
							dd “We were standing in the middle of JCPenney trying to envision it as a distribution center,” said Osowski. “However, the location was ideal and after seeing the space and reviewing the renderings, Rittal was very receptive to the concept,” he added.
							dd ICP has since begun the conversion to a 780,000-square-foot industrial facility and Rittal moved into the Upper Valley Business Park in August 2022, leasing 141,500 square feet, making it the largest tenant to date.
							dd Rittal is pleased with the outcome. The conversion was an unconventional solution to a common problem, noted Jim Collins, vice president of logistics.
							dt(style="padding-top: 2rem;") Client Objectives
							dd(style="background-color: rgba(0,0,0,.1); padding: 2rem 0 1rem;") 
								ul
									li Proximity to Urbana HQ
									li Sought a distribution facility
									li Minimum 100,000 SF
							dt Transaction Profile
							dd 
								strong Transaction Type: 
								| Lease
								br 
								strong Building Type: 
								| Industrial
								br 
								strong Size: 
								| 141,500 SF
								br 
								strong Profile: 
								| Rittal North America manufactures electrical enclosures for use in industrial settings and sought a large distribution facility near its headquarters in Urbana.
				.row.rittal-team-photos
					p Team Members
					hr
					ul
						li
							a(href="../brokers/cberlin.html"): img.img-responsive(src="../img/brokers/cberlin-portrait.jpg", alt="Curt Berlin")
							p Curt Berlin, SIOR
							p: em Industrial Property Team
						li
							a(href="../brokers/mosowski.html"): img.img-responsive(src="../img/brokers/mosowski-portrait.jpg", alt="Matt Osowski")
							p Matt Osowski, SIOR
							p: em Industrial Property Team
						li
							a(href="../brokers/bdecrane.html"): img.img-responsive(src="../img/brokers/bdecrane-portrait.jpg", alt="Blake DeCrane")
							p Blake DeCrane
							p: em Industrial Property Team
				//- .row.rittal-testimonials
					p "Joe and Mark were great to work with. They not only sold our building for a great price, but they were also able to find us the new space we needed with the expertise to get the deals done in our timeframe."
					p.results_byline
						span(style="color: #E9B741; font-size: 0.75em") Brian Marshall, President  | Rittal North America
						img.img-responsive(src="../img/logos/rittal.png", alt="Rittal North America logo")
				.navspacer
				.row.rittal-testimonials_return
					a(href="../results.html") << View All Case Studies and Testimonials
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
