- var titleContent = "NAI Ohio Equities - Office Space For Lease"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several offices for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Venture Drive
				br
				| Dublin Office Space Available
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=5880-Venture-Dr", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/4443338/3652685c533d8795e8bc585d04cb38dec28445bc/full.jpg?1588603681", alt="5880 Venture Drive", style="max-height: 200px")
							p
								strong(style="font-size: 1.5rem") 5880 Venture Drive
								br
								| 5,348 SF Two-Story Building<br>Investment Opportunity
					a(href="https://ohioequities.com/listings.html?propertyId=5930-venture-drive-dublin-sale", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/30068549/8f18221fb1b0a00183bee295fc17ea51344a6989/original.jpg?1718027458", alt="59300 Venture Drive", style="max-height: 200px")
							p
								strong(style="font-size: 1.5rem") 5930 Venture Drive
								br
								| 5,316 SF Office Building<br>For Sale or Lease
					a(href="https://www.ohioequities.com/listings.html?propertyId=5990-Venture-Drive", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/10808390/f914f2fcab9c077ac1afdd88743bb1e934381a8d/full.jpg?1634043477", alt="5990 Venture Drive", style="max-height: 200px")
							p 
								strong(style="font-size: 1.5rem") 5990 Venture Drive
								br
								| 5,416 SF Two-Story Brick Building<br>Office Space For Lease
		.navspacer
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
