{
  "name": "2015design",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "brokers"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "extends/brokers-ext.pug",
      "imports": [
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "extends/galleria-ext.pug",
      "imports": [
        "includes/head.pug"
      ]
    },
    {
      "path": "extends/results-ext.pug",
      "imports": [
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "extends/social-ext-mgmt.pug",
      "imports": [
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "extends/social-ext.pug",
      "imports": [
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "extends/social-facebook-ext.pug",
      "imports": [
        "extends/social-ext.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "extends/social-website-ext.pug",
      "imports": [
        "extends/social-ext.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "extends/website-ext.pug",
      "imports": [
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "pugs/brokers.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/connect.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/contactus.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/index.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug"
      ]
    },
    {
      "path": "pugs/listings.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/management.pug",
      "imports": [
        "extends/galleria-ext.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug",
        "includes/head.pug"
      ]
    },
    {
      "path": "pugs/managers.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/marketing.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/privacy.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/results.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/servicerequest.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/services.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/signup.pug",
        "includes/footer.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/temp-results.pug",
      "imports": [
        "includes/head.pug",
        "includes/nav.pug",
        "includes/footer.pug"
      ]
    },
    {
      "path": "pugs/brokers/_template-brokers.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/social-ext.pug",
        "extends/website-ext.pug",
        "extends/social-website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/adutcher.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/bdecrane.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/bmonahan.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/cberlin.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/cdavid.pug",
      "imports": [
        "extends/social-facebook-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "extends/social-ext.pug",
        "includes/head-brokers.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "pugs/brokers/djsheeran.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/dsheeran.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/jmally.pug",
      "imports": [
        "extends/social-facebook-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "extends/social-ext.pug",
        "includes/head-brokers.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "pugs/brokers/jmenninger.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/jmerkel.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/kbenincasa.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/mfrancescon.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/mgregory.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/mosowski.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/msemon.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/msimpson.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/pbird.pug",
      "imports": [
        "extends/website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/plarrimer.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/pmerkle.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/rmcgreevy.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/brokers/ssimpson.pug",
      "imports": [
        "mixins/brokers-bio.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/camden/index.pug",
      "imports": [
        "includes/head-brokers.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/dublinoffice/index.pug",
      "imports": [
        "includes/head-brokers.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/lima/index.pug",
      "imports": [
        "includes/head-brokers.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug"
      ]
    },
    {
      "path": "pugs/managers/_template-managers.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/akerns.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/amitchell.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/amotycka.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/byuhas.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/cmanofsky.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/cpope.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/dbaumann.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/dcotterman.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/dlong.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/dwakeman.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/jchancey.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/kbock.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/kbroeg.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/kkasas.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/kkountz.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/klampinen.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/lhagan.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/mhoy.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/mmcgraw.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/mreader.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/pharklau.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/rculbertson.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/rgarcia.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/rturrin.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/managers/scramblett.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/_template-marketing.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/akarnes.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/aschnitkey.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/cmapes.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/dblake.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/jshipley.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/jwilliams.pug",
      "imports": [
        "extends/social-website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "extends/social-ext.pug",
        "includes/head-brokers.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "pugs/marketing/kfrey.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/klaney.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/mwengerd.pug",
      "imports": [
        "extends/social-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "mixins/brokers-bio.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/marketing/sjankowski.pug",
      "imports": [
        "extends/social-website-ext.pug",
        "extends/brokers-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "extends/social-ext.pug",
        "includes/head-brokers.pug",
        "mixins/brokers-bio.pug"
      ]
    },
    {
      "path": "pugs/results/_template-results.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/alvis.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/furniture.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/goodale.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/industrialpark.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/laundrymax.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/pnc.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    },
    {
      "path": "pugs/results/scioto-harper.pug",
      "imports": [
        "mixins/results-css.pug",
        "extends/results-ext.pug",
        "includes/nav-brokers.pug",
        "includes/footer-brokers.pug",
        "includes/scripts.pug",
        "includes/head-brokers.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}