/*********************************************************
	Global Declarations
*********************************************************/

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Domine', serif;
*/

html, body {
	height: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	/*background-color: #E1E1E1;*/
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Domine', serif;
	margin: 0;
}

::selection {
	background-color: #AF2D37;
	color: #fff;
}

.navspacer {
	height: 50px;
}

.red {
	color: #AF2D37;
}
.coolgray {
	color: #6D7276;
}
.coolgraytwentypercent {
	color: #E1E1E1;
}
.blue {
	color: #1D6497;
}
.bluetwentypercent {
	color: #D0DDE8;
}
.orange {
	color: #E9B741;
}
.orangetwentypercent {
	color: #F5DAA2;
}



/*********************************************************
	Navbar Styling
*********************************************************/

.navbar-inverse {
	background-color: #AF2D37;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-brand {
	font-size: 1.25em;
	margin-top: -5px;
}

.navbar-brand img {
	max-height: 30px;
	display: inline-block;
	margin: 0 10px 10px 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #E1E1E1;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #6D7276;
}



/*********************************************************
	Hero Box
*********************************************************/

.hero-wrap {
	min-height: 100%;
	background: url('../img/hero.jpg') no-repeat center center fixed;
	background-size: cover;
}

.hero-wrap:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: -50px;
	left: 0;
	background-image: linear-gradient(to bottom right,#dc4225,#002f4b);
	/*background-image: linear-gradient(to bottom right,#AF2D37,#1D6497);*/
	opacity: .8;
}

.hero-content {
	color: #fff;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-left: -350px;
}

.hero-header {
	width: 700px;
	text-align: center;
}

.hero-header h1 {
	font-size: 4em;
	text-shadow: 0 1px 1px rgba(0,0,0,.9);
	margin-bottom: 75px;
}

.hero-view-listings-button {
	color: #fff;
	font-size: 1.5em;
	border: 3px solid #fff;
	padding: 10px;
}

.hero-view-listings-button:hover,
.hero-view-listings-button:focus {
	color: #000;
	background-color: #fff;
	text-decoration: none;
}

.hero-header img {
	display: inline-block;
	margin: 50px 7px 0;
}

.hero-header p a {
	font-size: 2em;
	font-weight: bold;
	color: #fff;
}

.hero-header p a:hover,
.hero-header p a:focus {
	text-decoration: none;
}

.hero-header p {
	margin-top: 14%;
}



/*********************************************************
	Index Content
*********************************************************/

/* Section: Our Team */

.our-team {
	margin: 60px auto 0;
	text-align: center;
}

.our-team img {
	margin-top: 40px;
	margin-bottom: 10px;
	max-width: 100%;
}

.our-team h4 {
	font-size: 1.2em;
	max-width: 80%;
	margin: auto;
}

.our-team h4 a {
	border: none;
	color: #AF2D37;
}

.our-team h4 a:hover {
	background-color: initial;
	color: #AF2D37;
	text-decoration: underline;
}

.our-team p {
	margin-top: 10px;
	text-align: justify;
}

.our-team a {
	border: 1px solid #1D6497;
	padding: 5px;
	margin: 30px auto 0;
	display: inline;
	width: 100px;
}

.our-team a:hover {
	background-color: #1D6497;
	color: #fff;
	text-decoration: none;
}

.our-team-bio-buttons {
	margin-top: 20px;
}

.our-team-bio-buttons h4 {
	margin-bottom: 15px;
}



/* Section: Services */

.retailspacer {
	background: url('../img/retailspacer.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 350px;
}

.services {
	margin: 60px auto 0;
	text-align: center;
}

.services h3 {
	margin-bottom: 60px;
}

.services h4 {
	color: #AF2D37;
	margin-bottom: 20px;
}

.services p {
	text-align: justify;
	max-width: 90%;
	margin: 5px auto;
}

.services img {
	
}

.col-md-5 {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left: 0;
}

.services-company-image {
	background-color: #eff1f2;
	box-shadow: 0 0 6px rgba(0,0,0,.4);
	max-width: 80%;
	margin-left: 10%;
	padding: 20px 10px;
}

.services-company-image p {
	max-width: 90%;
}

.services-location-list {
	list-style-type: none;
	max-width: 90%;
	margin-left: 5%;
	margin-top: 15px;
}

.services-location-list li {
	float: left;
	width: 50%;
	text-align: left;
}

.services-location-list li:before {
	content: "\270E";
	margin-right: 10px;
}

.sale-leaseback-header {
	margin-top: 40px;
}

.sale-leaseback-description h4 {
	font-size: 1.7em;
	text-align: left;
	margin-top: 10px;
}

.sale-leaseback-accordion-heading {
	padding: 10px;
	margin: initial;
}

.sale-leaseback-accordion-heading h4 {
	padding: initial;
	margin: initial;
}

.sale-leaseback-accordion dl {
	text-align: left;
}

.sale-leaseback-accordion dd {
	margin-bottom: 10px;
}

.net-leased-investments-image {
	background: url('../img/retail02.jpg') center center no-repeat;
	background-size: cover;
	height: 300px;
}

.net-leased-investments-header {
	margin-top: 90px;
}

.net-leased-investments-description {
	text-align: left;
}

.net-leased-investments-description h4 {
	margin-top: 30px;
	margin-left: 50px;
}

.net-leased-investments-description h5 {
	margin-left: 50px;
	margin-bottom: 10px;
	color: #AF2D37;
	font-size: 1.15em;
}

.net-leased-investments-description p {
	margin-bottom: 20px;
}

.net-leased-investments-description li {
	margin-left: 50px;
}





/*********************************************************

	Clients.html

*********************************************************/

.clients h1 {
	text-align: center;
	color: #1D6497;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	background-color: #D0DDE8;
	padding: 10%;
	margin-top: 20px;
}

.clients-logos-container {
	text-align: center;
	margin: 25px 5% 10px;
}

.clients-logos-container img {
	float: left;
	max-width: 32%;
	margin: 10px 5px;
}





/*********************************************************

	News.html

*********************************************************/

.news h1 {
	text-align: center;
	margin: 20px auto 50px;
	background-color: #D0DDE8;
	padding: 150px 25px;
	color: #1D6497;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}

.news-featured h3:first-child {
	color: #AF2D37;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
	margin-bottom: 5px;
}

.news-featured .small {
	margin-bottom: 20px;
}

.news-featured a,
.news-featured a:hover,
.news-featured a:focus {
	color: #AF2D37;
	text-decoration: none;
}

.news-more-list {
	margin: 35px auto 5px;
}

.news-more-list ul {
	margin-top: 5px;
}

.news-more-list a,
.news-more-list a:hover,
.news-more-list a:focus {
	color: #AF2D37;
	text-decoration: none;
	font-weight: bold;
}

.news-more-list a:hover {
	font-style: italic;
}





/*********************************************************

	Footer

*********************************************************/

.page-wrap,
.hero-wrap {
	min-height: 100%;
	margin-bottom: -95px;
}

.page-wrap:after {
	content: "";
	display: block;
}

.site-footer,
.page-wrap:after {
	height: 95px;
}

.site-footer {
	background-color: #6D7276;
	color: #fff;
	margin-top: 30px;
}

.site-footer a,
.site-footer a:hover,
.site-footer a:focus {
	color: #fff;
	text-decoration: none;
}

footer div {
	margin-top: 10px;
}

.footer-contact-text {
	padding-left: 35px;
}

.footer-social-icons img {
	float: right;
	margin: 10px 10px 0 5px;
	margin-left: 5px;
	margin-right: 10px;
}





/*********************************************************
	Media Queries
*********************************************************/

@media (max-width: 1110px) {
	.navbar-header a {
		font-size: 1em;
	}

	.navbar-nav li a {
		font-size: .9em;
		padding-left: 5px;
		padding-right: 10px;
	}
}