- var titleContent = "NAI Ohio Equities | Cooper Progress Park - Mount Vernon, Ohio"
- var metaContent = "NAI Ohio Equities' Doug Shull has listed 11 industrial buildings in The Cooper Progress Park in Mount Vernon, Ohio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small 105 N Sandusky St - Mount Vernon, Ohio
				br
				| Cooper Progress Park
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=105-n-sandusky", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6267002/59989c6aa58c2737ae49e6d2e000f27562592d44/full.jpg?1605207907", alt="Cooper Progress Park Plant #1")
							p
								strong(style="font-size: 1.5rem") Plant #1
								br
								| 117,000 SF Industrial Building<br>16 Cranes With Up to 50 Ton Capacity
					a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-2", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6204430/259c795d3321ec0765507047a941e9cb8e8d2023/full.jpg?1604681911", alt="Cooper Progress Park Plant #2")
							p 
								strong(style="font-size: 1.5rem") Plant #2
								br
								| 86,345 SF Industrial Building<br>10 Drive-In Doors
					a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-Four", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6687929/37a123c61a5ea290c0581d15ecbc4d8074c307c5/full.jpg?1607113995", alt="Cooper Progress Park Plant #4")
							p 
								strong(style="font-size: 1.5rem") Plant #4
								br
								| 101,236 SF Industrial Building<br>4 Cranes and 13 Drive-In Doors
					a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-5", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6741763/df30a3c0ff7ff7a8727fcd18dff7b94e89619224/full.jpg?1607456034", alt="Cooper Progress Park Plant #5")
							p 
								strong(style="font-size: 1.5rem") Plant #5
								br
								| 97,000 SF Industrial Building<br>6 Drive-Ins and 2 Loading Docks
					a(href="https://www.ohioequities.com/listings.html?propertyId=Controls-Building", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6436739/01e1307f1f761e48ab353522dd2b16784d35e922/full.jpg?1606153415", alt="Cooper Progress Park Controls Building")
							p 
								strong(style="font-size: 1.5rem") Controls Building
								br
								| 13,408 SF Industrial Building<br>Includes 1,600 SF Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=3-Bay-Testing-Facility", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6205581/d069600119cd215aeb5fdb278274d69d048257b4/full.jpg?1604688783", alt="Cooper Progress Park 3-Bay Testing Facility")
							p 
								strong(style="font-size: 1.5rem") 3-Bay Testing Facility
								br
								| 17,260 SF Industrial Building<br>Designed for Large Unit Testing &amp; Assembly
					a(href="https://www.ohioequities.com/listings.html?propertyId=4-Bay-Testing-Facility", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6206132/922409b15d93281024a44e22973603875e2e546a/full.jpg?1604691963", alt="Cooper Progress Park 4-Bay Testing Facility")
							p 
								strong(style="font-size: 1.5rem") 4-Bay Testing Facility
								br
								| 32,400 SF Industrial Building<br>Designed for Large Unit Testing &amp; Assembly
					a(href="https://www.ohioequities.com/listings.html?propertyId=Facilities-Building", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6437002/8053a0db95a4de6674bfcd50d5de56dc73dd58b0/full.jpg?1606154565", alt="Cooper Progress Park Facilities Building")
							p 
								strong(style="font-size: 1.5rem") Facilities Building
								br
								| 12,307 SF Industril Building<br>Includes 2,500 SF Office
					a(href="https://www.ohioequities.com/listings.html?propertyId=Shipping-and-Receiving", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6452528/9311322cd0b959a5ef29a23f9748b21a620fdfba/full.jpg?1606228042", alt="Cooper Progress Park Shipping and Receiving")
							p 
								strong(style="font-size: 1.5rem") Shipping &amp; Receiving
								br
								| 57,000 SF Industrial Building<br>35' Clear Ceiling Height
					a(href="https://www.ohioequities.com/listings.html?propertyId=Engineering-Center", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6291997/b8b61ee5138c62bcd045d180afd35f613a85c08d/full.jpg?1605548018", alt="Cooper Progress Park Engineering Center")
							p 
								strong(style="font-size: 1.5rem") Engineering Center
								br
								| 31,130 SF Industrial Building<br>Combination of Open Space &amp; Private Offices
					a(href="https://www.ohioequities.com/listings.html?propertyId=Administration-Building", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/6454874/7dfcaa68c7b63b928abf7ed36d0d4276a4e70548/full.jpg?1606233111", alt="Cooper Progress Park Administration Building")
							p 
								strong(style="font-size: 1.5rem") Administration Building
								br
								| 60,480 SF Industrial Building<br>100 Car Parking Available
				.camden-footer-spacer(style="width: 100%; height: 400px;")
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
