- var titleContent = "NAI Ohio Equities | German Village Office"
- var metaContent = "Office Space available for Sale or Lease in historic German Village in downtown Columbus, Ohio"

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Downtown Office Space Available
				br
				| German Village Office
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=30-40-E-Columbus-St-762-S-Pearl", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/4642971/c7f48acabdacc712f8004d79af38d8917fccf0ad/full.jpg?1591970466", alt="30-40 E Columbus Street & 762 S Pearl Street")
							p
								strong(style="font-size: 1.5rem") 30-40 E Columbus &amp; 762 S Pearl St
								br
								| Three Office Buildings<br>Combined 5,049 SF Available
					a(href="https://www.ohioequities.com/listings.html?propertyId=739-s-3rd-st", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/9996574/b28f1a7991c6bfa88a9b9a92b36e71feb07df7f8/full.jpg?1628252589", alt="739 S 3rd Street")
							p 
								strong(style="font-size: 1.5rem") 739 S 3rd Street
								br
								| Creative Office Space<br>1,694 SF Available
				.camden-footer-spacer(style="width: 100%; height: 400px;")
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
