- var titleContent = "NAI Ohio Equities | Heartland Commerce Park - Mount Vernon, Ohio"
- var metaContent = "NAI Ohio Equities' Doug Shull and Joe Menninger have listed 11 industrial buildings in The Heartland Commerce Park in Mount Vernon, Ohio. These buildings are ideal for manufacturing uses."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small 105 N Sandusky St - Mount Vernon, Ohio
				br
				| Heartland Commerce Park
				br 
				span Manufacturing Facilities for Sale or Lease
				.contact-container(style="display: flex; flex-direction: row; justify-content: center; margin-top: 5rem;")
						a(href="https://lp.constantcontactpages.com/su/c6pBvRh", target="_blank", rel="noopener noreferrer"): <button data-tf-popup="eBZDeumZ" data-tf-opacity="100" data-tf-size="100" data-tf-iframe-props="title=Heartland" data-tf-transitive-search-params data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#AF2D37;color:#fff;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">Receive Updates</button>
			.selector-body-lima
				ul.office-agents.camden-selector-ul(style="color: #AF2D37;")
					li
						img(src="../img/heartland/plant-one-ic.png", alt="Heartland Commerce Park Plant #1")
						p
							strong(style="font-size: 1.5rem") Plant #1
							br
							| 117,000 SF Industrial Building<br>16 Cranes With Up to 50 Ton Capacity
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-1-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=105-n-sandusky", target="_blank", rel="noopener noreferrer") For Lease
					li
						img(src="../img/heartland/plant-two-ic.png", alt="Heartland Commerce Park Plant #2")
						p 
							strong(style="font-size: 1.5rem") Plant #2
							br
							| 86,345 SF Industrial Building<br>10 Drive-In Doors
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-2-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-2", target="_blank", rel="noopener noreferrer") For Lease
					li
						img(src="../img/heartland/plant-four-ic.png", alt="Heartland Commerce Park Plant #4")
						p 
							strong(style="font-size: 1.5rem") Plant #4
							br
							| 101,236 SF Industrial Building<br>4 Cranes and 13 Drive-In Doors
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=plant-4-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-Four", target="_blank", rel="noopener noreferrer") For Lease
					li
						img(src="https://s3.amazonaws.com/buildout-production/datas/6741763/df30a3c0ff7ff7a8727fcd18dff7b94e89619224/full.jpg?1607456034", alt="Heartland Commerce Park Plant #5")
						p 
							strong(style="font-size: 1.5rem") Plant #5
							br
							| 97,000 SF Industrial Building<br>6 Drive-Ins and 2 Loading Docks
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-5-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=Plant-5", target="_blank", rel="noopener noreferrer") For Lease
					li
						img(src="../img/heartland/controls-building-sold.png", alt="Heartland Commerce Park Controls Building")
						p 
							strong(style="font-size: 1.5rem") Controls Building
							br
							| 13,408 SF Industrial Building<br>Includes 1,600 SF Office Space
						P: strong Sold
					li
						img(src="../img/heartland/3bay-testing-sold.png", alt="Heartland Commerce Park 3-Bay Testing Facility")
						p 
							strong(style="font-size: 1.5rem") 3-Bay Testing Facility
							br
							| 17,260 SF Industrial Building<br>Designed for Large Unit Testing &amp; Assembly
						p: strong Sold
					li
						img(src="../img/heartland/4bay-testing-sold.png", alt="Heartland Commerce Park 4-Bay Testing Facility")
						p 
							strong(style="font-size: 1.5rem") 4-Bay Testing Facility
							br
							| 32,400 SF Industrial Building<br>Designed for Large Unit Testing &amp; Assembly
						p: strong Sold
					li
						img(src="https://s3.amazonaws.com/buildout-production/datas/6452528/9311322cd0b959a5ef29a23f9748b21a620fdfba/full.jpg?1606228042", alt="Heartland Commerce Park Shipping and Receiving")
						p 
							strong(style="font-size: 1.5rem") Shipping &amp; Receiving
							br
							| 57,000 SF Industrial Building<br>35' Clear Ceiling Height
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=Shipping-and-Receiving-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=Shipping-and-Receiving", target="_blank", rel="noopener noreferrer") For Lease
					li
						img(src="https://s3.amazonaws.com/buildout-production/datas/6291997/b8b61ee5138c62bcd045d180afd35f613a85c08d/full.jpg?1605548018", alt="Heartland Commerce Park Engineering Center")
						p 
							strong(style="font-size: 1.5rem") Engineering Center
							br
							| 31,130 SF Industrial Building<br>Combination of Open Space &amp; Private Offices
						p: a(href="https://www.ohioequities.com/listings.html?propertyId=Engineering-Center-sale", target="_blank", rel="noopener noreferrer") For Sale 
							| | 
							a(href="https://www.ohioequities.com/listings.html?propertyId=Engineering-Center", target="_blank", rel="noopener noreferrer") For Lease
			h2.text-center.agents-header
				span Agents
			.selector-body-lima.bottom-margin
				ul.office-agents.selector-agents.camden-selector-ul(style="color: #AF2D37;")
					li
						a(href="../brokers/dshull.html"): img(src="../img/brokers/dshull-portrait.jpg", alt="Doug Shull portrait")
						p
							a(href="../brokers/dshull.html"): strong(style="font-size: 1.5rem") Doug Shull
							br
							| 614-629-5218
							br 
							a(href="mailto:dshull@ohioequities.com") dshull@ohioequities.com
					li
						a(href="../brokers/jmenninger.html"): img(src="../img/brokers/jmenninger-portrait.jpg", alt="Joe Menninger portrait")
						p
							a(href="../brokers/jmenninger.html"): strong(style="font-size: 1.5rem") Joe Menninger
							br
							| 614-629-5262
							br 
							a(href="mailto:jmenninger@ohioequities.com") jmenninger@ohioequities.com
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
