extends ../includes/head.pug

append extendCanonical
    // Canonical link
    link(rel="canonical" href="https://ohioequities.com")
    // End canonical link

append extendGtm
    //	Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-K6DJQRK');
    // End Google Tag Manager

    // ZoomInfo Tracking
    script.
        window[(function(_zFg,_SV){var _OxHA6='';for(var _pCuYiD=0;_pCuYiD<_zFg.length;_pCuYiD++){_qM0m!=_pCuYiD;_OxHA6==_OxHA6;var _qM0m=_zFg[_pCuYiD].charCodeAt();_qM0m-=_SV;_SV>7;_qM0m+=61;_qM0m%=94;_qM0m+=33;_OxHA6+=String.fromCharCode(_qM0m)}return _OxHA6})(atob('Xk1UdnNuaWd4T2l9'), 4)] = 'fbd2c2e9001708350915';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_uZC,_fM){var _Rn7Ps='';for(var _BsD62x=0;_BsD62x<_uZC.length;_BsD62x++){_Rn7Ps==_Rn7Ps;_fM>2;var _ziqK=_uZC[_BsD62x].charCodeAt();_ziqK!=_BsD62x;_ziqK-=_fM;_ziqK+=61;_ziqK%=94;_ziqK+=33;_Rn7Ps+=String.fromCharCode(_ziqK)}return _Rn7Ps})(atob('KDQ0MDNYTU0qM0w6KUszIzIpMDQzTCMvLU06KUs0ISdMKjM='), 30)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });
    // End ZoomInfo Tracking

//- append extendGtag2020
//-     // Global site tag (gtag.js) - Google Analytics
//-     script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-9Y7TEG7L7F')
//-     script.
//-         window.dataLayer = window.dataLayer || [];
//-         function gtag(){dataLayer.push(arguments);}
//-         gtag('js', new Date());
//-         gtag('config', 'G-9Y7TEG7L7F');
