extends ../mixins/brokers-bio.pug

append extendSocial
	a(href="https://instagram.com/" + instagram, target="_blank")
		img(class="broker-bio-social", src="../img/social/instagram-bio.png", alt="Instagram")
	|
	|