<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NAI Ohio Equities Open House
        link(href="https://fonts.googleapis.com/css?family=Domine|Source+Sans+Pro&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
    body
        .container#invite
            img.logo(src="img/logo.jpg", alt="NAI Ohio Equities logo")
            img.lounge(src="img/lounge.jpg", alt="Ohio Equities New Office Space")
            h1.jeadline1 NAI Ohio Equities Open House
            h2.headline2 Help Us Celebrate Our New Space!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, numquam? Commodi dolore, suscipit nisi dolor consequuntur nesciunt. Modi quidem eveniet suscipit. Recusandae, doloremque in dolores nostrum assumenda qui ab a.
            .invite-details
                dl
                    dt When
                    dd Thursday, October 10, 2019
                    dt Time
                    dd 6:00 pm, EST
                    dt Where
                    dd 605 S Front St
                    dd Suite 200
                    dd Columbus, OH 43215
                    dd: a(href="https://goo.gl/maps/u38i5EhZny6c4vjH8", target="_blank") Map
            .card#place-holder
                // Begin Constant Contact Inline Form Code
                .ctct-inline-form(data-form-id='6866865b-d51a-41d8-b857-5983983c0c02')
                // End Constant Contact Inline Form Code

        // Begin Constant Contact Active Forms
        script.
            var _ctct_m = "93be9fabdcc058a4d275a71e6b391324";
        script#signupScript(src='//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js' async='' defer='')
        script(src="js/scripts.js")
        // End Constant Contact Active Forms
