- var titleContent = "NAI Ohio Equities - Healthcare Realty Columbus"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several medical office spaces for lease in Columbus, Ohio."

doctype html
html(lang="en")
	include ../../includes/head-selectorsub.pug
	body
		include ../../includes/nav-selectorsub.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Columbus Medical Office Space
			.selector-body-lima
				ul.office-agents.camden-selector-ul 
					a(href="https://www.ohioequities.com/listings.html?propertyId=85-mcnaughten-rd", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/946547/full.jpg?1469637802", alt="85 McNaughten")
							p
								strong(style="font-size: 1.5rem") 85 McNaughten
								br
								| 73,331 SF Class "A" Medical Building<br>Flexible suite options
					a(href="https://www.ohioequities.com/listings.html?propertyId=150-taylor-station-road", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/11135273/0620339603acacb6a851f3cd0132adde343a8e88/full.jpg?1637609768", alt="150 Taylor Station")
							p
								strong(style="font-size: 1.5rem") 150 Taylor Station
								br
								| Five Suites Available<br>Ranging from 1,292 SF up to 6,317 SF
					a(href="https://www.ohioequities.com/listings.html?propertyId=4363-All-Seasons-Drive", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/14209753/a00f0fbe4da388c273ca95371e326966699eb303/full.jpg?1673300011", alt="4363 All Seasons Dr")
							p
								strong(style="font-size: 1.5rem") 4363 All Seasons Dr
								br
								| 35,023 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=477-cooper", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/14217491/46bef6aaf5b14487041037ef7695dd98c9fe1324/full.jpg?1673380011", alt="477 Cooper Rd")
							p
								strong(style="font-size: 1.5rem") 477 Cooper Rd
								br
								| 98,638 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=5965-E-Broad", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/14217987/9662cb5310fe2fc8df601061a1c3b890a539af9c/full.jpg?1673381714", alt="5965 E Broad St")
							p
								strong(style="font-size: 1.5rem") 5965 E Broad St
								br
								| 75,019 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=515-E-Main", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/14217929/405a6fa5812ada7110411e52b0ee59991a01cf03/full.jpg?1673381592", alt="515 E Main St")
							p
								strong(style="font-size: 1.5rem") 515 E Main St
								br
								| 59,965 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=500-E-Main", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/14217851/4a46a083fe4236f97b2f636f618611df149ad9ef/full.jpg?1673381301", alt="500 E Main St")
							p
								strong(style="font-size: 1.5rem") 500 E Main St
								br
								| 55,844 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=1146835-lease", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/15416300/249e6fb7995544f2ce574bed95206c8c82067227/original.jpg?1686317812", alt="3650 Olentangy River Rd")
							p
								strong(style="font-size: 1.5rem") 3650 Olentangy River Rd
								br
								| 77,000 SF Building<br>Medical Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=7901-Diley-Rd", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/20738607/d717d2d46ebc876756f8937ca297f16ad8e74f76/original.jpg?1697113723", alt="7901 Diley Road")
							p
								strong(style="font-size: 1.5rem") 7901 Diley Road
								br
								| 45,209 SF Medical/Office Building<br>Suites ranging from 1,225 SF up to 3,063 SF
			.navspacer
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-selectorsub.pug
	include ../../includes/scripts.pug
