- var titleContent = "NAI Ohio Equities - Healthcare Realty Trust"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed medical office space for lease on behalf of Healthcare Realty Trust throughout Ohio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Medical Office Space Available
			.selector-body-lima
				ul.office-agents.camden-selector-ul.hrt-ul
					a(href="/healthcarerealtytrust/columbus")
						li
							img(src="../img/cities/columbus.jpg", style="max-width: 200px; margin-left: 1rem")
							img(src="../img/logos/hr-columbus.png", alt="Healthcare Realty Columbus")
							//- p
							//- 	strong(style="font-size: 1.5rem") 939 Worthington Woods Loop
							//- 	br
							//- 	| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="/healthcarerealtytrust/cleveland")
						li
							img(src="../img/cities/cleveland.jpg", style="max-width: 200px; margin-left: 1rem")
							img(src="../img/logos/hr-cleveland.png", alt="Healthcare Realty Cleveland")
							//- p 
							//- 	strong(style="font-size: 1.5rem") 943 Worthington Woods Loop
							//- 	br
							//- 	| 1,200 SF Available for an Owner/User<br>Medical Office Space
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
