- var titleContent = "NAI Ohio Equities - Office Space For Lease"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several offices for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Dublin, Ohio
				br
				| Office Space For Lease
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=113-s-high-street", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/2911612/613dccda83412abcad7dc55e074d566d81e33c39/full.jpg?1547733335", alt="113 S High Street")
							p 113 S High Street<br>956 SF Freestanding Building<br>Two Executive Offices
					a(href="https://www.ohioequities.com/listings.html?propertyId=115-S-High-Street", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/2851625/c08157333604bb9aef06006dd82dceccf5db2e24/full.jpg?1546894753", alt="115 S High Street")
							p 115 S High Street<br>Two-Story Office Building Under Construction<br>2nd-Quarter 2019 Occupancy
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
