- var titleContent = "NAI Ohio Equities | Alicia Kerns"
- var metaContent = "Alicia Kerns is a Vice President of Property Management at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Alicia Kerns, CMCA, AMS", "VP of Property Management", "614-222-0996", "akerns", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/alicia-kerns-10441114", "akerns", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Education
					p Attended the University of Alabama, Birmingham and Franklin University
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p As Vice President of Property Management Alicia Kerns oversees employee development and manages client relationships. Alicia has spent more than 20 years as a manager of residential high rises in downtown Columbus. Born and raised in Alabama, Alicia attended University of Alabama, Birmingham before enlisting in the United States Marine Corps. After serving for six years, Alicia settled in Columbus, and attended Franklin University.
								p Alicia joined NAI Ohio Equities in 2001 after the Pizzuti Companies transitioned their management to NAI Ohio Equities. She has managed several prominent downtown communities and oversaw the opening of North Bank Condominiums where she remained as the on-site property manager for 16 years and was responsible for staffing, budgeting, day-to-day operations and general management of the property.
								hr
								h5 Why did you decide to make Columbus your home?
								p I served 6 years in the US Marine Corps and my last duty station was Columbus so I made it my home.
								h5 What is a favorite pastime that you enjoy?
								p My family and I enjoy camping and can be found at the campground most weekends. Camping provides quality family time.
								h5 Who are your favorite sports teams?
								p Football, OSU, and Alabama (my home state)
				.broker-bio-right
					h4 Professional Membership
					p National Association of REALTORS&reg;
						br 
						| Ohio REALTORS&reg;
						br 
						| Columbus REALTORS&reg;
						br 
						| Community Association Insititute
					h4 Certifications 
					p High-Rise Safety Certified
						br 
						| Association Management Specalist
						br 
						| Certified Manager of Community Associations
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug