- var titleContent = "NAI Ohio Equities | Amber Motycka"
- var metaContent = "Amber Motycka is a senior property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Amber Motycka", "Senior Property Manager", "614-629-5241", "amotycka", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/amber-motycka-9754426b/", "amotycka", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p High-Rise Building Management
						br
						| Condominium Association Management
						br
						| Home Owner Association Management
						br
						| Management of Single-Family Rentals
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Amber is a Senior Commercial Property Manager at NAI Ohio Equities with over ten years of experience in the Real Estate/Property Management industry. Over the past ten years, Amber has been responsible for the financial and operational functions of real estate consisting of high-rise, medical, office, data, and industrial facilities. Amber has overseen two million-dollar-elevator modernizations, as well as a 1.5-million-dollar interior capital renovation for an amenity complex and a 4-million-dollar exterior campus renovation. She has successfully lowered an operating budget by $2/sqft with improved efficiency and increased productivity by doing more with less.
								p Amber graduated with a degree in Real Estate/Property Management, holds an Ohio real estate license, and is certified in Fire and Life Safety for high-rise and high-risk facilities. She is an active member of BOMA and the Columbus Board of Realtors.  She believes that being Connected (communication and building relationships) and Effective (set a high bar and do what is needed to exceed expectations) are the most important attributes to her work. In Amber’s downtime, she enjoys spending time at home with her husband and two kids. She also enjoys spending their weekends at the lake with family, golfing with friends, and attending country concerts.  
								hr
								h5 What is your favorite neighborhood/area of Columbus?
								p I love historic Dublin because of all the amazing restaurants and little shops on High Street.
								h5 What is a favorite pastime that you enjoy?
								p I love boating and just being on a lake in general.
								h5 Who are your favorite sports teams?
								p Cincinnati Reds and Bengals
				.broker-bio-right
					h4 Education
					p A.A.S. Degree in Real Estate Management
					h4 Membership
					p Building Owners and Managers Association (BOMA)
						br
						| Community Association Institute
						br
						| Columbus REALTORS&reg;
					h4 Certification
					p High-Rise Safety Certified
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug