- var titleContent = "NAI Ohio Equities | Brandi Smith"
- var metaContent = "Brandi Smith is a property manager with NAI Ohio Equities"
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt-newalbany("Brandi Smith", "Property Manager", "614-939-8618", "bsmith", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/brandi-smith-388967a0", "bsmith", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p With 20 years of experience working in association management, land development and real estate, Brandi Smith is a dedicated, knowledgeable Property Manager. After relocating from Los Angeles, California to Central Ohio, Brandi attended Ohio Dominican University where she graduated with a Bachelor of Science Degree in Risk Management and Insurance. From there, Brandi earned the Certified Manager of Community Associations (CMCA®) designation from the Community Association Managers International Certification Board (CAMICB) and the Associations Management Specialist (AMS®) designation from the Community Associations Institute (CAI). She is also a member of the Building Industry of Central Ohio (BIA). Most recently, Brandi served as Board President for the CAI Central Ohio Chapter in 2021. 
								p Brandi’s experience emphasizes residential property management and includes condominium and homeowners’ associations. She also specializes in Board engagement and developing operational and sales strategies.
								hr 
								h5 What is one of your favorite buildings in Columbus?
								p That has yet to be determined – I have so many to see!
								h5 What has  been the best part of Columbus' growth over the past few decades?
								p Columbus’ growth has challenged innovators and leaders to reestablish new infrastructure – so our city can be more adaptable and competitive with its community. As a result, Columbus is now ranked in the top 60 places to live. And…the best part – we are just getting started!
								h5 If you had to pick a song to walk-out to (similar ro baseball), what woul it be?
								p Definitely a track by JAY-Z!
								h5 What is your favorite neighborhood/area of Columbus?
								p New Albany, Ohio – much of my industry expertise was cultivated in New Albany, Ohio; while partnering with The New Albany Company and NAI Ohio Equities
								h5 Where do you like to vacation? 
								p Maine – I enjoy the aesthetic, seasons and the peaceful experience
								h5 What is a favorite pastime you enjoy?
								p Golf and photography 
								h5 Who are your favorite sports teams?
								p Formula One (F1) Ferrari &amp; Mercedes AMG, Boston Celtics, and Ohio State
				.broker-bio-right
					h4 Education
					p BS, Risk Management and Insurance 
						br
						| Ohio Dominican University
					h4 Memberships &amp; Affiliations
					p Community Association Managers International Certification Board (CAMICB)
						br 
						| Community Associations Institute (CAI) - National, Central Ohio and Ohio Valley Chapters 
						br 
						| Building Industry of Central Ohio (BIA)
					h4 Community Involvement 
					p Mental Health America of Ohio – Volunteer
						br 
						| (CAI) Community Associations Institute – Immediate Past President, Central Ohio Chapter
						br 
						| Columbus Fashion Council (Columbus Fashion Week 2022) – Talent/Volunteer    
						br 
						| Big Brothers Big Sisters of America – Big Sister 
						br 
						| Habitat for Humanity (The Home of Hope Columbus) – Volunteer 
						br 
						| Mid-Ohio Foodbank - Volunteer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug