- var titleContent = "NAI Ohio Equities | Chris Gegas"
- var metaContent = "Chris Gegas is a property manager with NAI Ohio Equities in the New Albany office where he handles day-to-day operations for a portfolio of commercial buildings."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Chris Gegas", "Property Manager", "614-939-8610", "cgegas", "naiohioequities", "naiohioequities", "https://www.linkedin.com/company/nai-ohio-equities", "cgegas", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Chris is a property manager in our New Albany office, handling day-to-day operations for a portfolio of commercial buildings that includes retail and restaurant spaces, business parks, and property owner associations. His responsibilities also include nine homeowner associations in New Albany and Dublin that are comprised of approximately 6500+ homes in premier single-family residential communities. He works with the liaison to four Architectural Review Committees and assists with over $6,000,000.00 in annual budgeting. Chris has both a B.A. and M.A. from The Ohio State University and is very involved in the community.
								hr
								h5 What is one of your favorite buildings in Columbus?
								p The LeVeque Tower
								h5 What is your favorite neighborhood/area of Columbus?
								p One of my favorite areas in Columbus is Clintonville. It has great walkability with restaurants and shops, ravines and parks, and is centrally located.
								h5 What is a favorite pastime that you enjoy?
								p Chess.
				.broker-bio-right
					h4 Education
					p BA, Comparitive Studies
						br
						| The Ohio State Univeristy, 2003
						br
						br
						| MA, Comparitive Studies
						br
						| The Ohio State University, 2013
					h4 Membership
					p Short North Special Improvement District, Board of Directors, 2014-Present
					h4 Community Involvement
					p Friends of the Topiary Park, Volunteer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
