- var titleContent = "NAI Ohio Equities | Colleen Moses"
- var metaContent = "Colleen Moses is an experienced Senior Property Manager for NAI Ohio Equities. She is currently overseeing a portfolio of over 500,000 square feet in and around the Columbus area, specializing in commercial retail, medical office, and development."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Colleen Moses", "Senior Property Manager", "614-629-5245", "cmoses", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/company/nai-ohio-equities", "cmoses", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
						br
						| Commercial Retail
						br 
						| Medical Office
						br 
						| Industrial
						br 
						| Development
					h4 Top Clients
					p Ohio University at Dublin
						br 
						| Prescott Group
						br 
						| Kipp Columbus
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Colleen Moses is an experienced Senior Property Manager currently overseeing a portfolio of over 500,000 square feet in and around the Columbus area. Specializing in commercial retail, medical office, and development, her current clients including Ohio University, Prescott Group, and Kipp Columbus. She is not only responsible for day-to-day operations, but as a partner with the property stakeholders to work towards accomplishing their large-scale strategic goals and objectives.
								p Colleen brings with her over 13 years of property management experience from the DC metro area where she oversaw a commercial real estate portfolio of 1.5 million square feet including retail, office, industrial and development properties throughout the mid-Atlantic region.
								hr
								h5 Why did you decide to make Columbus your home?
								p One word; Family. Although I did not grow up in Columbus many of my family members have relocated to this beautiful city over the years. When visiting, everyone I came across was so welcoming they all soon felt like family.  
								h5 Where do you like to vacation?
								p A sleepy little town in Delaware on the Eastern Shore called Rehoboth Beach. It is 1.64 square miles of fun in the sun and they have the best pizza on this planet!
								h5 Who are your favorite sports teams?
								p Growing up just outside of DC, we waited a long time for a baseball team…. When the Washington Nationals came on the scene in 2005 it was love at first pitch. It doesn’t hurt being 2019 World Series Champions either.
				.broker-bio-right
					h4 Education
					p BA, Corporate Communication
						br
						| Drexel University, 2005
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug