- var titleContent = "NAI Ohio Equities | Devon Cotterman"
- var metaContent = "Devon Cotterman is Vice President of Property Management at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Devon M. Cotterman, RPA", "VP of Property Management", "614-939-8600", "dcotterman", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/devon-cotterman-rpa-a85765b7/", "dcotterman", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management:
						br
						| Medical Office
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Devon Cotterman brings more than 20 years of knowledge and experience to the role of Vice President of Property Management for NAI Ohio Equities. Devon currently oversees a portfolio of commercial office buildings, homeowners’ associations, and business park associations in the New Albany area and has represented clients such as The New Albany Company, Piedmont Health, The Daimler Group and Remedy Medical Properties. 
								p Devon has earned the respect of his clients and his peers with his ability to deliver results beyond expectations through his demonstrated leadership skills. He is adept at building relationships with ownership groups of all kinds, instilling confidence that their assets will be well-managed. He has a firm grasp on financials and accounting, mechanical and structural components, fundamental legal knowledge, and outstanding customer service.
								hr
								h5 Why did you decide to make Columbus your home?
								p It has always felt like home, even when I spent time away. It is the perfect blend of big city, small town, surrounded by beautiful country and very family friendly.
								h5 Where do you like to vacation?
								p Coastal South Carolina. I have spent at least one week per year on the same island in the South Carolina low country since I was 4 years old, it’s hard to define until you’ve travelled there; but it is a unique and very relaxing experience.
								h5 Who are your favorite sports teams?
								p The Ohio State Buckeyes
								h5 What is your favorite hidden gem in Columbus?
								p Relatively unknown and/or underappreciated restaurants, we have a lot of them!
				.broker-bio-right
					h4 Education
					p Bachelor of Accounting
						br
						| Franklin University
						br
						br
						| BOMI Real Property Administrator (RPA)
					h4 Awards & Recognition
					p 2005 BOMA Scholarship Recipient
					h4 Membership
					p Building Owners and Managers Association (BOMA)
						br
						| Real Property Administrator (RPA)
						br 
						| National Association of REALTORS&reg;
						br 
						| Ohio REALTORS&reg;
						br 
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p Pelotonia, Rider and Team Captain: 2012-2015
					h4 Top Clients
					p The New Albany Company
						br 
						| Mount Carmel Health
						br
						| The Daimler Group
						br
						| Remedy Medical Properties
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug