- var titleContent = "NAI Ohio Equities | Dave Long"
- var metaContent = "Dave Long is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("David L. Long, RPA", "Senior Property Manager", "614-629-5251", "dlong", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/dave-long-rpa-aa48508/", "dlong", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p David has been with NAI Ohio Equities since 1992. He started out in the maintenance department and was promoted to Director of Operations in 1996. He and his team of 20 maintenance technicians were responsible for the maintenance of over 9,000,000 square feet of commercial real estate. In 2001, David was promoted to a property manager and presently manages 1,024,000 square feet of office, retail, warehouse and government space. He has experience in construction and an excellent working knowledge of fire suppression, HVAC, electrical, plumbing and access control systems.
								p Mr. Long has completed several FEMA and department of homeland security courses. He has his RPA designation from BOMA and a high rise fire director certificate.
								hr
								h5 Where do you like to vacation?
								p Anywhere cell phones do not work...
								h5 What is a favorite pastime you enjoy?
								p I really enjoy camping.
								h5 What is your favorite hidden gem in Columbus?
								p If I answer this, it may not stay hidden!
				.broker-bio-right
					h4 Education
					p Columbus State Community College, 1993
					h4 Membership &amp; Certification
					p Licensed Agent
						br
						| Columbus REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| BOMA Committee Member
						br
						| High-Rise Safety Certification 
					h4 Top Clients
					p The Daimler Group
						br
						| Weston
						br
						| DBR Holdings
						br
						| MXD Group
						br
						| Columbus State
						br
						| Travel Solutions
						br
						| Sedgwick
						br
						| iQor
						br
						| Zulily
						br
						| Equitas Health
						br
						| Primary 1
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug