- var titleContent = "NAI Ohio Equities | Dave Wakeman"
- var metaContent = "Dave Wakeman is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("David Wakeman", "Senior Property Manager", "614-629-5267", "dwakeman", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/david-wakeman-4b06976/", "dwakeman", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br
						| Medical
						br
						| SID
					//- h4#header-assistant Assistant
					//- p
					//- 	span.glyphicon.glyphicon-user
					//- 	a(href="../managers/nkost.html")
					//- 		strong Nicole Kost
					//- 	br
					//- 	span.glyphicon.glyphicon-envelope
					//- 	a(href="mailto:nkost@ohioequities.com") nkost@ohioequities.com
					//- 	br
					//- 	span.glyphicon.glyphicon-earphone
					//- 	| (614) 629-5237
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Dave Wakeman is a Senior Property Manager and Licensed Realtor for NAI Ohio Equities overseeing a portfolio of over 900,000 square feet of Class “A” commercial office and medical real estate in the central Ohio.  He has over 15 years of property management experience with NAI Ohio Equities.  Prior to joining the NAI Ohio Equities team, Dave held a position with one of central Ohio’s largest residential real estate developers.
				.broker-bio-right
					h4 Education
					p BLA in Landscape Architecture
						br
						| SUNY College of Environmental Science and Forestry
						br
						| Syracuse University
					h4 Membership &amp; Certification
					p Columbus REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Building Owners and Managers Association (BOMA) 
						br
						| High-Rise Safety Certified
					h4 Top Clients
					p The Daimler Group, Inc.
						br
						| Columbus Oncology and Hematology Associates
						br
						| Ohio Health 
						br
						| JP Morgan Chase 
						br
						| Grange Insurance
						br
						| Fiore Companies
						br
						| Morse Road Special Improvement District (SID)
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug