- var titleContent = "NAI Ohio Equities | Heather Posey"
- var metaContent = "Heather Posey is a Property Manager with NAI Ohio Equities in Columbus, Ohio where she manages Riverwatch Tower on the campus of The Ohio State University."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Heather Posey", "Property Manager", "614-291-7179", "hposey", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/heather-posey-53167193/", "hposey", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p After a career transition in 2010, Heather Posey dove feet first into the world of real estate. She began her career as Market Manager for a REIT where she built the company’s portfolio of 290 single family homes, oversaw its property renovations, and subsequently marketed, leased, and managed the properties. After the company was sold in 2017, Heather served as the Design/Operations Manager for a custom home builder in coastal North Carolina, where she led a team and oversaw all aspects of design for the firm. 
								p Heather was designated Rookie of the Year by the Lancaster Board of Realtors in 2010 and prides herself on her ability to build strong relationships using her transparent, communicative approach. Heather also has a strong background and knowledge of tenant-landlord law, which allows her to represent her clients efficiently and effectively. Heather loves 80’s hairbands, and in her free time you can find her rocking out at a concert or hiking with her dogs, Riley and Dash.
								hr
								h5 If you had to pick a song to walk out to, what would it be?
								p Anything by M&#246;tley Cr&#252;e or KISS. I love 80s Hair Bands! 
								h5 Where do you like to vacation?
								p Oak Island, North Carolina. We have a beach house there that was built by my husband's grandparents. It's our home away from home! 
								h5 What is a favorite pastime that you enjoy?
								p Going to rock concerts. 
								h5 Who are your favorite sports teams?
								p The Ohio State Buckeyes!
				.broker-bio-right
					h4 Education
					p Real Estate Services
						br 
						| Hondros School of Business, 2010
						br 
						br 
						| Associate in Applied Science
						br 
						| West Virginia University, 1997
					h4 Industry Awards &amp; Recognition 
					p 2010 Rookie of the Year 
						br 
						| Lancaster Board of REALTORS&reg;
					h4 Membership 
					p Columbus Board of REALTORS&reg;
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug