- var titleContent = "NAI Ohio Equities | Kelsey Elam"
- var metaContent = "Kelsey Elam is the Executive Administrative Assistant to the VP of Property Management at NAI Ohio Equities where she is responsible for assisting with special projects and managing the day-to-day operations of the office."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Kelsey Elam", "Executive Assistant", "614-629-5249", "kelam", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/kelsey-elam/", "kelam", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Kelsey Elam is the Executive Administrative Assistant to the VP of Property Management and is responsible for assisting with special projects and managing the day-to-day operations of the office. Starting her career as a leasing agent for student housing, she now has more than seven years of Property Management experience and more than a decade of administrative experience. Kelsey’s professional accomplishments stem from her ability to effectively execute tasks, her passion for helping others, and her continued commitment to learning and development.
								hr
								h5 What is one of your favorite buildings in Columbus?
								p A favorite building of mine in Columbus is the Leveque Tower. Not only is it still the second tallest building downtown, but I love the Art Deco architecture. 
								h5 Where do you like to vacation?
								p I love to travel anywhere, but for short getaways, I love to visit Chicago. I love going to Chicago because there is always something to do and eat. I especially love Lou Malnati’s pizza and Al’s Beef. 
								h5 What is your favorite hidden gem in Columbus?
								p One of my favorite gems in Columbus is Studio 35 in Clintonville. It is a retro movie theatre that has great food and drinks. The Rocky Horror Picture Show nights are really fun. 
				.broker-bio-right
					h4 Education
					p Hondros College, 2013
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug