- var titleContent = "NAI Ohio Equities | Katie Kasas"
- var metaContent = "Katie Kasas is a property manager with NAI Ohio Equities where she specializes in tenant communication, vendor relations, budgeting, maintenance projects, and day-to-day operations."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Katie Kasas", "Property Manager", "614-629-5204", "kkasas", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/katie-kasas-a49255102/", "kkasas", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
						br
						| Office Building Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Katie Kasas is a Commercial Property Manager at NAI Ohio Equities. She has over 6 years of experience in commercial property management and commercial leasing and sales. During Katie’s time in commercial real estate, she has been responsible for ensuring contractual obligations of both tenants and owners of Class A, B, C medical office, retail, flex-space, industrial and land associations. In addition to that; leading property inspections, securing services agreements, annual property budgets up to $1.3 MM, monthly financial and variance report in addition to day-to-day operations. Katie has managed individual capital and tenant improvements ranging up to $2 million throughout the past 6 years. These projects include campus amenity center renovations and full exterior site renovations throughout over 1.2 million square feet.
								p Katie is an active member of the Columbus Board of Realtors and BOMA Columbus. As an active member of BOMA Columbus, she is part of the Emerging Leaders committee in addition to pursuing her RPA. Katie holds an Ohio real estate License, is a Certified Notary Public in the State of Ohio, and is certified in Fire and Life Safety for high rise and high risk facilities. She believes that “team work makes the dream work” with open communication. In Katie’s downtime, she enjoys spending time with her husband and two dogs exploring Columbus parks. She also enjoys playing golf on the weekends and traveling to new locations with family and friends.
								hr
								h5 Where do you like to vacation?
								p I love to travel everywhere of anywhere, especially if there’s a beach.  I enjoy traveling to see new places, learning about cultures and have new experiences. 
								h5 Who are your favorite sports teams?
								p Ohio State Buckeyes
								h5 What is your favorite hidden gem in Columbus?
								p Sideswipe Brewing
				.broker-bio-right
					h4 Education
					p Associates Degree, 2014
						br
						| Columbus State Community College
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| BOMA
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
