- var titleContent = "NAI Ohio Equities | Katie Kountz"
- var metaContent = "Katie Kountz is a property manager at Waterford Condominium in downtown Columbus, Ohio for NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Katie Kountz", "Property Manager", "614-280-0301", "kkountz", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/katie-kountz-70626ba7/", "kkountz", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p High-Rise Condominiums
						br
						| Non-Profit Organizations
						br
						| Rental Communities
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Katie is property manager of the Waterford Condominium, a 19-story, luxury high-rise building in downtown Columbus. She is responsible for on-site management and supervision of the commercial and residential tower, which includes: staffing, budgeting, day-to-day operations, and resident relations, as well as coordinating management activities with the condominium board. Katie has several years of experience in property management, including managing other high-rise luxury condominiums and apartments.
								hr
								h5 What is your favorite neighborhood/area of Columbus?
								p I love the Grandview/Upper Arlington area. I always find myself being able to wander around finding great restaurants, parks, shopping, etc.
								h5 Where do you like to vacation?
								p I love South Carolina, I’ve been visiting Garden City in SC since I was 3 years old. It truly feels like a second home to me.
								h5 Who are your favorite sports teams?
								p Ohio State Buckeyes.
				.broker-bio-right
					h4 Education
					p Condominium Association Continuing Education
					h4 Membership
					p Community Association Institute
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug