- var titleContent = "NAI Ohio Equities | Katie Sulser"
- var metaContent = "Katie Sulser is an assistant Property Manager with NAI Ohio Equities in Columbus, Ohio."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Katie Sulser", "Assistant Property Manager", "614-629-5252", "ksulser", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/company/nai-ohio-equities/", "ksulser", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Katie Sulser joins NAI Ohio Equities as an Assistant Property Manager and brings nearly two decades of hospitality and facility management experience. She began her career at Hilton Hotels, gaining experience in front office and environmental service management before transitioning into the Environmental Health and Safety Director role for Westerwood Senior Living. As director, Katie oversaw the daily operations of housekeeping, maintenance and event set-up operations. While at Westerwood, Katie served on the Team Member Recognition and Community Landscape Committees. 
								hr
								.navspacer
				.broker-bio-right
					h4 Education
					p Early Childhood Education
						br 
						| Heidelberg University, 2001-2003 
						br 
						br 
						| Hospitality Management
						br 
						| Columbus State Community College, 2004-2006
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug