- var titleContent = "NAI Ohio Equities | Linda Gibson"
- var metaContent = "Linda Gibson is a Property Management Coordinator with NAI Ohio Equities, where she supports the property managers of medical office buildings."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Linda Gibson", "Property Management Coordinator", "614-629-5235", "lgibson", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/gibsonlinda/", "lgibson", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Web Content Management
						br
						| Digital Marketing
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Linda joined NAI Ohio Equities in December 2019 as a Marketing/Property Management Assistant. She will be supporting the property managers of medical office buildings with various projects, including the reorganization of digital files and implementing increased usage of industry specific software. With over 15 years in the Marketing field, she has worked for several technology companies including 5 years at Micro Center. Linda enjoys spending time with her son who lives in Clintonville. 
								hr
								h5 What is your favorite neighborhood of Columbus?
								p Worthington, I lived there for 20 years. I loved being able to walk from my home to downtown historic Old Worthington and surrounding areas, shops and restaurants, schools my son attended, and local events. Also enjoyed easy access to the bike path and the feeling of being a part of the community.
								h5 Where do you like to vacation?
								p Anywhere! Two favorite spots are Cinque Terre, Italy and Newport, Rhode Island. One word to describe Cinque Terre would be…beautiful! It is 5 small villages along the scenic Italian Riviera, all with quaint shops, good food, and friendly locals. I enjoy the history and culture of Newport and although I have enjoyed going there and Cape Cod for many years, it never gets old. I love to travel and was fortunate enough to have visited 47 out of 50 states with my son before he graduated from high school.
								h5 What is a favorite pastime that you enjoy?
								p It’s hard to pick just one, I have many and like to stay active. I enjoy spending time with my family and friends, traveling, exploring new eating and drinking establishments and frequenting favorite ones, listening to music, dancing, going to concerts and other events. As for sports, I enjoy skiing (yes, I like cold and snow as long as the sun is shining!), I play softball in the spring/summer, and participate in a bowling league in the winter. I also enjoy collecting snowmen and OSU Buckeye paraphernalia and have quite an assortment of each.
								h5 Who are your favorite sports teams?
								p OSU Buckeyes of course! 
				.broker-bio-right
					h4 Education
					p BA, Criminology &amp; Criminal Justice
						br
						| The Ohio State University, 1984
						br 
						br 
						| AAS, Interactive Multimedia Technology 
						br 
						| Columbus State Community College, 2003
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug