- var titleContent = "NAI Ohio Equities | Mary Brown"
- var metaContent = "Mary Brown is a Property Manager with NAI Ohio Equities in Columbus, Ohio."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Mary Brown", "Property Manager", "614-629-5248", "mbrown", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/mary-brown-4b14289/", "mbrown", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mary is a highly regarded management professional with nearly two decades of experience in both real estate and commercial property management. Throughout her career, she has consistently demonstrated exceptional results, professionalism, and superior communication skills.  Mary is experienced in the preparation of monthly financial and delinquency reporting, marketing and leasing, tenant relations, capital projects and the day-to-day operations of Class A properties.  She is a current Institute of Real Estate Management (IREM), Certified Property Manager candidate, which is a distinguished industry designation that equips experienced property managers with the knowledge to maximize the value of all properties.
								hr
								h5 Where do you like to vacation?
								p My favorite place to vacation is anywhere in the Caribbean, especially the Bahamas.  I love the tranquil turquoise waters with powdery white sand beaches.
								h5 What is a favorite pastime you enjoy?
								p I enjoy fishing with my family.  Any river, lake, pond, or the ocean is where I like to be.
								h5 Who are your favorite sports teams?
								p OSU Buckeyes (football and basketball), Columbus Blue Jackets, Cincinnati Reds, and the Cleveland Cavaliers.
				.broker-bio-right
					h4 Education
					p Attended Indiana University and Hondros College
					h4 Membership 
					p IREM (Institute of Real Estate Management) – CPM Candidate and Scholarship Recipient
						br 
						| Columbus REALTORS&reg;
						br 
						| Ohio Association of REALTORS&reg;
						br 
						| National Association of REALTORS&reg;
					h4 Community Involvement 
					p Volunteer for Ohio Chapter of the National Federation of the Blind
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug