- var titleContent = "NAI Ohio Equities | Marla McGraw"
- var metaContent = "Marla McGraw is a senior property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Marla McGraw, Esq.", "Senior Property Manager", "614-629-5284", "mmcgraw", "naiohioequities", "naiohioequities", "https://www.linkedin.com/company/nai-ohio-equities", "mmcgraw", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Condominium Association and Multi-Family Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Marla is a Senior Property Manager and Licensed Realtor with NAI Ohio Equities with over 20 years of experience in the Real Estate/Property Management Industry. Marla manages a portfolio of Class “A” Office, Retail, Master Associations, and Luxury Condominium Associations throughout the Columbus area.  She is responsible for the management and supervision of the commercial and residential buildings, including staffing, operations, Owner and Tenant relations, as well as, coordinating management activities with Owners and Board of Directors.
								hr
								h5 Why did you decide to make Columbus your home?
								p I grew up in central Ohio, my family is here and it is home.
								h5 What is a favorite pastime you enjoy?
								p Gardening, Travel, Reading, and Antiquing.
								h5 What is your favorite hidden gem in Columbus?
								p The Franklin Park Conservatory.
				.broker-bio-right
					h4 Education
					p C. Blake McDowell School of Law Juris Doctorate
						br
						| University of Akron
						br
						br
						| Bachelor of Science Degree in Political Science
						br
						| Cumberland College
					h4 Awards &amp; Recognition
					p Attorney Licensed to Practice in the State of Ohio
						br
						| High-Rise Safety Certified
					h4 Membership
					p National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
						br
						| CAI Member
					h4 Top Clients
					p Arlington Falls 
						br 
						| 815 Grandview Association 
						br
						| The Dakota Condominium Association
						br
						| City View at Third Condominium Association
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug