- var titleContent = "NAI Ohio Equities | Marla McGraw"
- var metaContent = "Marla McGraw is a senior property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Marla McGraw, Esq.", "Senior Property Manager", "614-629-5284", "mmcgraw", "naiohioequities", "naiohioequities", "https://www.linkedin.com/company/nai-ohio-equities", "mmcgraw", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Condominium Association and Multi-Family Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Marla is the manager of a portfolio of luxury condominium associations throughout the downtown Columbus area. She is responsible for on-site management and supervision of the commercial and residential buildings, which includes; staffing, budgeting, day-to-day operations, and resident relations, as well as, coordinating management activities with the condominium boards.
								hr
								h5 Why did you decide to make Columbus your home?
								p I grew up in central Ohio, my family is here and it is home.
								h5 What is a favorite pastime you enjoy?
								p Gardening, Travel, Reading, and Antiquing.
								h5 What is your favorite hidden gem in Columbus?
								p The Franklin Park Conservatory.
				.broker-bio-right
					h4 Education
					p C. Blake McDowell School of Law Juris Doctorate
						br
						| University of Akron
						br
						br
						| Bachelor of Science Degree in Political Science
						br
						| Cumberland College
					h4 Awards &amp; Recognition
					p High-Rise Safety Certified
						br
						| Attorney Licensed to Practice in the State of Ohio
					h4 Membership
					p CAI Member
					h4 Community Involvement
					p Collect toys for underprivileged kids for Christmas
					h4 Top Clients
					p The Dakota Condominium Association
						br
						| City View at Third Condominium Association
						br
						| Schlee Malt House Condominium Association
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug