- var titleContent = "NAI Ohio Equities | Mark Reader"
- var metaContent = "Mark Reader is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Mark D. Reader", "Senior Property Manager", "614-939-8620", "mreader", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/mark-reader-1119ba88/", "mreader", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial, Commercial, and Residential Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mark Reader joined Ohio Equities in 2008 and currently manages a portfolio of industrial and commercial buildings accommodating manufacturing, office, retail and restaurant spaces. He leads the New Albany team and maintains the New Albany Business Park East (International), New Albany Business Park, New Albany Business Campus and Hamilton Interchange. The 7,000+ acres are in additional to his responsibilities of numerous Homeowner Associations located in New Albany, Dublin and Delaware. The residential oversight is comprised of 6,500 homes in premier residential and golf course communities. He serves as the oversight liaison to five Architectural Review Committees directs over $7,000,000.00 in annual budgeting. He is a licensed Ohio Realtor and member of the Columbus Board of Realtors (CBR), Ohio Association of Realtors (OAR) and the National Association of Realtors (NAR). He previously served as Chairman of the Legislative Committee for the Building Owner's and Manager's Association of Columbus (BOMA) and as the BWC liaison for BOMA Ohio. His experience encompasses High-Rise Building Management, employment with the City of Columbus for 10 years and he is a decorated veteran of the United States Marine Corps.
								hr
								h5 What is your favorite neighborhood of Columbus/Central Ohio?
								p I live and work in my favorite community, New Albany. Every school within the district has earned a national Blue Ribbon School of Excellence by the U.S. Department of Education. Columbus is only 21 minutes away and Business Insider has named it the #1 Suburb to live. There are many great places in the Columbus area, but I enjoy being a part of the New Albany community.
								h5 Who are your favorite sports teams?
								p Ohio State Buckeyes. 
								h5 What is your favorite hidden gem in Columbus?
								p The Top Steakhouse on East Main Street is well known, yet remains a hidden experience to many. There are few places left like it.
				.broker-bio-right
					h4 Education
					p BS, Business Administration
						br
						| Mount Vernon Nazarene University
					h4 Membership &amp; Certification
					p Columbus REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg; (OAR)
						br
						| National Association of REALTORS&reg; (NAR)
						br
						| BOMA Columbus - Legislative Chair
						br
						| BOMA Ohio - BWC Liason
						br
						| High-Rise Safety Certified
					h4 Community Involvement
					p Toys for Tots
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
