- var titleContent = "NAI Ohio Equities | Marissa Shonk"
- var metaContent = ""
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Marissa Shonk", "Executive Assistant", "614-629-5249", "mshonk", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/marissa-shonk-2b5557171/", "mshonk", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Marissa Shonk joins NAI Ohio Equities with a paralegal background. As the Executive Assistant to the Vice President of Property Management, Marissa will work closely with our property managers on special projects and her flexibility and team-oriented approach will allow her to also successfully work cross-departmentally on accounting and marketing initiatives. 
								p Marissa was born into a military family and has lived all over the globe, but has claimed Columbus as her home. She is a self-proclaimed accomplished cook and baker who loves encouraging others to try new foods.
								hr
								h5 Where do you like to vacation?
								p I have developed a love for South America, especially Chile, after marrying a Chilean. Chile is a thin country with a wide range of terrain as you travel down the coast you will be met with dessert, beach, and mountains. It is one of the best vacation spots because of this terrain as well as the food and culture that is very welcoming. 
								h5 What is a favorite pastime you enjoy?
								p Growing up moving around it was always important to my father that we tried new restaurants in the new cities we were stationed. My favorite way to spend my time is going out and trying new (to me) restaurants and sharing them with my friends.
								h5 What is your favorite hidden gem in Columbus?
								p My favorite hidden gem of Columbus has to be kept a secret but I will share it with you. Savor Pint is a small local bar in Clintonville with a wide selection of beer and wine. That’s all I am going to say so it doesn’t spark too much interest and become too public and overrun. 
				.broker-bio-right
					h4 Education
					p AAS, Paralegal Studies 
						br
						| Columbus State Community College, 2018
						br
						br
						| BA, Human Resources 
						br 
						| Franklin University, 2022
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug