- var titleContent = "NAI Ohio Equities | Nicole Kost"
- var metaContent = "Nicole Kost is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Nicole Kost", "Property Manager", "614-629-5237", "nkost", "naiohioequities", "naiohioequities", "https://www.linkedin.com/company/nai-ohio-equities", "nkost", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Property Management
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Nicole is a real estate property manager that has managed an off-site portfolio of downtown high rise condominiums for NAI Ohio Equities. She is now assisting David Wakeman in managing over 900,000 square feet of office and retail space in central Ohio. Nicole comes to NAI Ohio Equities with nine years experience in the real estate industry. She was a regional property/sales manager for seven years overseeing 11 communities from Central to Southern Ohio.
								hr
								h5 Why did you decide to make Columbus your home?
								p I grew up in Pataskala, a small suburb of Columbus.
								h5 What is a favorite pastime you enjoy?
								p Softball, hiking/backpacking, running, biking, and spending time with my two boys.
								h5 Who are your favorite sports teams?
								p Ohio State Football, Cleveland Browns, Indians, and Cavs.
				.broker-bio-right
					h4 Education
					p Associate of Arts in Psychology
						br
						| The Ohio State University, 2005
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| National Association of REALTORS&reg;
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug