- var titleContent = "NAI Ohio Equities | Natalie Stout"
- var metaContent = "Natalie Stout is a Property Manager with NAI Ohio Equities"
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Natalie K. Stout", "Property Manager", "614-905-7599", "nstout", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/stoutnatalie/", "nstout", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Retail, Office, and Medical Management
						br 
						| Sales and leasing, mainly representing the landlord.
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Natalie Stout obtained her real estate license in 2018 after moving to Columbus and has experience with a diverse portfolio of property types and in a variety of capacities. Natalie began her property management career managing a mix of retail and office spaces, and has progressed into managing a portfolio of medical office buildings for a prominent healthcare REIT with offices across Central Ohio. 
								p Currently, Natalie is managing a portfolio totaling more than 621,000 square feet. She has excelled at optimizing landlord cashflow while addressing property and tenant needs and has a keen ability for anticipating tenant needs, strong organizational skills and takes an out-of-the box approach to resolving stubborn issues.
								p Natalie enjoys spending her free time attending concerts and has gone to as many as 30-40 concerts per year! She also plays outdoor volleyball, travels, and spends time with her Silver Labrador, Agador.
								hr
								h5 Why did you decide to make Columbus your home?
								p I first moved down to Columbus on a whim, only knowing a few people here. I loved the energy of the city and all the diversity from neighborhood to neighborhood. There is always something to do!
								h5 What is your favorite neighborhood of Columbus?
								p I have lived in Clintonville, Victorian Village, Olde Towne East, and am now near the German Village area. They have all been great in their own right. But I would say German Village is my favorite, especially in Spring. It has great restaurants, beautiful homes, and charming cobblestone streets. I love all the history and can spend days in The Book Loft. 
								h5 Where do you like to vacation?
								p If it’s a vacation, I’m in. But my favorite places I have visited so far have been Galway, Ireland, Taos, New Mexico, and I’ve had some of my best times on quick trips to New York City. I love to explore the history, restaurants, and local haunts of wherever I’m visiting.
				.broker-bio-right
					h4 Education
					p Real Estate License 
						br
						| Hondros College, 2018
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug