- var titleContent = "NAI Ohio Equities | Patty Harklau"
- var metaContent = "Patty Harklau is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Patty Harklau", "Property Manager", "614-222-2196", "pharklau", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/patty-harklau-2867a418/", "pharklau", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Membership
					p CTA Certified Tourism Ambassador
						br
						| CHRE Certified Human Resources Executive
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Patty is the Property Manager of the luxury high-rise, Parks Edge, located in downtown Columbus, Ohio. The building includes 61 units in the east building and 82 units in the west building, along with a vast array of amenities. She is responsible for the on-site management and supervision of the facility, which includes staffing, budgeting, board of directors, resident relations and day-to-day operations.
								p Prior to coming to NAI Ohio Equities, Patty spent 30+ years in the hospitality business. She has provided oversight to hospitality facilities in and throughout Central Ohio, North Carolina and Florida.
								hr
								h5 Why did you decide to make Columbus your home?
								p My career brought me to Ohio to develop and manage a hotel property.
								h5 What is your favorite neighborhood/area of Columbus?
								p Westerville, because that is where I live. I love the walking community, bike paths, and everything Westerville has to offer. 
								h5 Where do you like to vacation? Why?
								p Beach and mountain vacations are my favorite vacations as I love water sports, hiking, camping, and overall relaxation.
								h5 What is a favorite pastime that you enjoy?
								p Some of my favorite pastimes include reading, cooking, exploring the Columbus food and wine experience, and visiting the wonderful art museums that Columbus has to offer. 
								h5 Who are your favorite sports teams?
								p Green Bay Packers all the way!
								h5 What is your favorite hidden gem in Columbus?
								p The bike trails and Metro Parks in Columbus are very impressive. One can travel through the state on the bike trails and enjoy numerous events at the Metro Parks. 
				.broker-bio-right
					h4 Community Involvement
					p Habitat For Humanity Volunteer
						br
						| Mid-Ohio Foodbank Volunteer
						br
						| 4 Paws for Ability Service Dog Socialization Trainer 
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug