- var titleContent = "NAI Ohio Equities | Roxanne Garcia"
- var metaContent = "Roxanne Garcia is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Roxanne Garcia, CAM", "Senior Property Manager", "614-224-4425", "rgarcia", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/roxanne-garcia-28a10a53", "rgarcia", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Licensed Real Estate Agent
						br
						| Certified Apartment Manager (CAM)
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Roxanne has extensive property management experience, working in various positions from executive administration support to on-site management. She has managed properties ranging from new-build to established communities of 130 to 300 plus units. She is experienced in all aspects of property management including leasing and marketing, creating positive resident relationships, team building, lease administration, building maintenance, management planning, budgeting, accounting, and capital improvement planning. Roxanne flourishes in both environments of successful apartment communities with highly standardized policies and procedures as well as communities with deferred management and maintenance requiring repositioning.
								hr
								h5 Why did you decide to make Columbus your home?
								p Columbus had the best job market when I graduated from college.
								h5 What is your favorite area of Central Ohio?
								p My favorite area of Central Ohio is the Metro Parks because of the nature trails for hiking/biking, areas to relax and enjoy nature and picnics with the family. The Metro Parks remind me of a park I grow up near in Wisconsin.
								h5 Where do you like to vacation?
								p I love to vacation anywhere there is water. My hometown in Wisconsin is on the shores of Lake Michigan and it is always fun and relaxing around the water.
								h5 Why did you decide to get into Commercial Real Estate?
								p I love helping people find their new apartment home. And, when they move-in, help them feel a sense of community; a sense of comfort and pride in their apartment community.
				.broker-bio-right
					h4 Education
					p Real Estate License
						br
						| Hondros College - Columbus, OH
						br
						br
						| Certified Apartment Manager (CAM)
						br
						| National Apartment Association - Columbus, OH
						br
						br
						| Certificate of Secretarial-Computer Operations
						br
						| Milwaukee Business Technical Institute - Milwaukee, WI
						br
						br
						| Business
						br
						| University of Wisconsin-Milwaukee - Milwaukee, WI
					h4 Membership
					p National Apartment Association
						br
						| Columbus Apartment Association
						br
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p Community Block Watches in area neighborhood
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug