- var titleContent = "NAI Ohio Equities | Ryan Roether"
- var metaContent = "Ryan Roether is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Ryan Roether", "Property Manager", "614-629-5233", "rroether", "naiohioequities", "naiohioequities", "https://www.linkedin.com/company/75852/", "rroether", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Medical Office Buildings
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Ryan is a Property Manager and a part of NAI Ohio Equities Medical Office Building Management Group. Ryan has been in Real Estate Management since 2007 and is well versed in construction, leasing and investment sales. Ryan is responsible for tenant communication and satisfaction, vendor relations, budgeting, maintenance and construction projects along with the day-to-day operations of the medical office buildings in his portfolio.
								hr
								h5 What has been the best part of Columbus' growth over the past few decades?
								p Urban renewal and revitilization of older neighborhoods. 
								h5 Where do you like to vacation?
								p Edisto Island, South Carolina because it is a quiet, laid back little island.
								h5 What is a favorite pastime you enjoy?
								p I enjoy playing basketball and coaching youth basketball. 
				.broker-bio-right
					h4 Education
					p BS, Criminal Justice Business Administration
						br
						| University of Phoenix, 2005
					h4 Membership
					p Columbus REALTORS&reg; 
						br
						| Ohio REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Building Owners and Managers Association (BOMA)
						br
						| REBAC’s Accredited Buyer Representative (ABR)
					h4 Community Involvement
					p Upward Basketball, Coach
						br
						| Hilliard Optimist Basketball League, Coach 
						br 
						| Football Fanatics Flag Football, Coach
						br 
						| Hilliard Darby Boys Travel Basketball, Assistant
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug