- var titleContent = "NAI Ohio Equities | Robert Turrin"
- var metaContent = "Robert Turrin is a senior property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Robert G. Turrin, CPM", "Senior Property Manager", "614-221-1314", "rturrin", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/robert-turrin-43a17819/", "rturrin", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Central Business District office high rise
						br
						| Suburban Office
						br
						| Mall and Shopping Center
						br
						| Retail
						br
						| Industrial/Warehouse
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						strong Tamy Jones
						br
						span.glyphicon.glyphicon-envelope
						a(href="mailto:tjones@ohioequities.com") tjones@ohioequities.com
						br
						span.glyphicon.glyphicon-earphone
						| (614) 221-1314
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Throughout Robert Turrin’s 34-year career, he has managed a diverse portfolio of commercial properties, including the South Campus Gateway and Westland Mall. As a Senior Property Manager for NAI Ohio Equities, Robert was selected to oversee the management of the historic Lazarus building in downtown Columbus – a one-million-square-foot department store which was converted into a Class A office building and is considered one of the largest USGBC LEED Gold Certified buildings in the nation.
								p Robert’s vast experience with various ownership entities ranging from small sole proprietors to large institutional organizations and public government entities has distinguished him from his peers. Robert leads the Lazarus team, including the coordination of all management and maintenance activities, as well as handling tenant relations where he teams with brokers to maximize rents.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I enjoy the diversity of projects to work on, the variety of property, the challenge of creating a successful management plan, working with creative people, and an ever evolving industry.  Every hour of every business day can be unique.
								h5 Why did you decide to make Columbus your home?
								p I am originally from Reynoldsburg and relocated to North Carolina and Florida for a period of time. I eventually made my way back to central Ohio since a majority of my family resides here and because I just love the Midwest in autumn.
								h5 Where do you like to vacation?
								p One of my favorite vacation spots is the Outer Banks in Duck, North Carolina. All my brothers and sisters get together, we rent a huge house and spend a full week together with all our children. We could do this anywhere, but we all love the beach and ocean-oriented activities and it keeps us close.
								h5 What is a favorite pastime you enjoy?
								p I enjoy reading fiction novels, experiencing life with my grandchild, watching OSU football games, spending quality time with my busy children and fitness exercising.
								h5 Who are your favorite sports teams?
								p The Ohio State University football team.
								h5 What is your favorite hidden gem in Columbus?
								p I cannot tell you, it would not be hidden any longer. 
				.broker-bio-right
					h4 Education
					p Bachelor of Science in Business Administration
						br
						| The Ohio State University, 1987
					h4 Awards &amp; Recognition
					p Certified Property Manager (CPM)
						br
						| 2005 CB Richard Ellis Team Leader of the Year, Columbus Market
					h4 Membership &amp; Certification
					p Institute of Real Estate Management (IREM)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
						br
						| High-Rise Safety Certified
					h4 Top Clients
					p CDDC & Capitol South
						br
						| TIAA-CREF
						br
						| Ibus
						br
						| Western-Southern
						br
						| Catellus Development
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug