- var titleContent = "NAI Ohio Equities | Saundra Cramblett, RPA&reg;"
- var metaContent = "Saundra Cramblett is a property manager at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-mgmt("Saundra Cramblett, RPA&reg;", "Senior Property Manager", "614-629-5208", "scramblett", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/saundra-cramblett-rpa%C2%AE-85047514/", "scramblett", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Education
					p Studied at The Ohio State University and Franklin University
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Saundra Cramblett comes to NAI Ohio Equities with over 20 years experience in the field of Property Management. Saundra specializes in mid-rise commercial facility management and property management.
								p Saundra is resposible for the management of 1,000,000+sf, consisting of Class A – C+ Mid and low rise office buildings, light  medical, retail centers, public library facility and educational facilities. Her duties performed include invoice coding, track delinquencies and collections, maintain property files, vendor coordination, TI  and CapEx projects, daily operations, budget preparations, contract negotiations, monthly financials and variance reporting and communications, tenant relations, maintenance requests, weekly property visits and retail advertising/promotional events.
								p In addition to her normal duties, her special projects have included extensive concrete restoration (parking garage and retaining walls), HVAC projects (Chiller, RTU replacements, zone risers, cooling towers, building air handler system replacements, and boiler asbestos abatement), building exterior repairs, and a window replacement project. 
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p Transitioning to Commercial Property Management was a natural transition from large mixed use buildings; knowledge of commercial components and the maintenance needs. I had worked with commercial portfolios in addition managing HOA’s and condo associations.
								h5 Why did you decide to make Columbus your home?
								p I relocated to Columbus for college and found Columbus to be a great place to live, work and play.
								h5 What is your favorite neighborhood of Columbus?
								p One of my favorite neighborhoods is German Village because of its architecture and creativity at every turn. It is a great walking neighborhood sprinkled with excellent restaurants.
								h5 Where do you like to vacation?
								p Cultural cities and the beach. 
								h5 What is your favorite hidden gem in Columbus?
								p Lindey's garden patio.
				.broker-bio-right
					h4 Membership &amp; Certification
					p BOMA, Columbus Board Member and Liason and Past Development Chair
						br
						| Columbus REALTORS&reg; Commercial Education Committee
						br
						| Ohio Association of REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| High-Rise Safety Certified
					h4 Community Involvement
					p American Cancer Society's Making Strides for Breast Cancer
						br
						| KickButt Columbus
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
