- var titleContent = "NAI Ohio Equities - St. Georges Court Portfolio"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed 3 office condos and 1 acre land, available separately or as part of one portfolio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector.powellcondo
			h2.text-center
				| 3 Office Condos and 1 Acre of Land
				br
				small Can be Purchased Individually or as Portfolio
			.selector-body-lima
				ul.office-agents
					a(href="https://www.ohioequities.com/listings.html?propertyId=9725-9741-Fairway-Land", target="_blank", style="font-size: 1.2em;")
						li
							img.officeagentsoverride(src="https://s3.amazonaws.com/buildout-production/datas/3390094/7c1ca8b5dcd64777e8a021b61ce1b5a3e358414c/full.jpg?1560526785", alt="9725-9741 Fairway Drive", style="height: 187.5px; width: 250px;")
							p St. Georges Court Land<br>9725-9741 Fairway Drive<br>1 Acre For Sale
					a(href="https://www.ohioequities.com/listings.html?propertyId=9743-Fairway-Condo", target="_blank", style="font-size: 1.2em;")
						li
							img.officeagentsoverride(src="https://s3.amazonaws.com/buildout-production/datas/3373998/ff591d3afa564a0db8a1dc52c91d66e166f3f8ee/full.jpg?1560179736", alt="9743 Fairway Drive", style="height: 187.5px; width: 250px;")
							p St. Georges Court Condo<br>9743 Fairway Drive<br>1,492 SF Office Condo
					a(href="https://www.ohioequities.com/listings.html?propertyId=9749-Fairway-Condo", target="_blank", style="font-size: 1.2em;")
						li
							img.officeagentsoverride(src="https://s3.amazonaws.com/buildout-production/datas/3389615/3eaf5909a7aae776d2373decd038391a83f9eaff/full.jpg?1560522571", alt="9749 Fairway Drive", style="height: 187.5px; width: 250px;")
							p St. Georges Court Condo<br>9749 Fairway Drive<br>881 SF Office Condo
					a(href="https://www.ohioequities.com/listings.html?propertyId=9763-9771-Fairway-Condo", target="_blank", style="font-size: 1.2em;")
						li
							img.officeagentsoverride(src="https://s3.amazonaws.com/buildout-production/datas/3389969/9f531d2146096c493ceca08187ff002e7bfde2c3/full.jpg?1560526333", alt="9763-9771 Fairway Drive", style="height: 187.5px; width: 250px;")
							p St. Georges Court Condo<br>9763-9771 Fairway Drive<br>6,226 SF Office Condo
					a(href="https://www.ohioequities.com/listings.html?propertyId=9725-9771-Fairway-Portfolio", target="_blank", style="font-size: 1.2em;")
						li
							img.officeagentsoverride(src="https://s3.amazonaws.com/buildout-production/datas/3390368/7cfa4868624806bcfbed32e60a053da6f3444707/full.jpg?1560528599", alt="St. Georges Court Portfolio", style="height: 187.5px; width: 250px;")
							p St. Georges Court Portfolio<br>9725-9771 Fairway Drive<br>3 Office Condos and 1 Acre Land
		div(style="height: 350px;")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug