- var titleContent = "NAI Ohio Equities | Industrial Services"
- var metaContent = "NAI Ohio Equities industrial professionals provide expert services in buying, selling, leasing and consulting on all types of industrial products, both in Columbus and around the world."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Industrial 
					br 
					| Services
			a(href="../services.html#industrial").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p Our professionals provide expert services in buying, selling, leasing and consulting on all types of industrial products, both in Columbus and around the world. Whether your need is 3,000 or 3,000,000 square feet, logistics or manufacturing facilities, site selection, or last mile warehouses, we partner with our clients from the beginning through the end of the transaction. Let us focus on the details of the deal so you can focus on your core business.
					.col-md-6
						img.img-responsive(src="../img/stock-industrial.jpg", alt="Industrial Services")
				hr
				.row.services--market-snapshot
					h2 Industrial Market Snapshot
					.col-md-7.market-snapshot--chart
						img.img-responsive(src="../img/market-reports-industrial.png", alt="Industrial Market Snapshot") 
						a(href="../marketing/marketreports/2021/nai_ohio_equities_2021q2.pdf") Download Full 2nd Quarter 2021 Market Report
					.col-md-5
						.market-snapshot--content
							p.market-snapshot--bullet01
								span.market-snapshot--number.snapshot-number01 01
								| The Industrial vacancy rate rose to 5.7% during the second quarter of 2021.
							p.market-snapshot--bullet02
								span.market-snapshot--number.snapshot-number02 02
								| The Industrial market had positive absorption of 650,000 SF in the second quarter of 2021.
							.market-snapshot--header
								h3 2nd Quarter 2021
								ul
									li Demand approached record levels, and supply reached new highs. That momentum continued into 2021, with both absorption and leasing activity hitting the highest levels in the market’s history.
									li “As available properties become scarce, we see continued cap rate compression. For the first time ever our cap rates are .25-.50% lower than Chicago on average. Landlords continue to test the market with record high rents. We are seeing tenants competing for space and deals getting done above the asking rate.” - 
										strong Matt Osowski, Industrial Specialist
				hr
				.row.services--agents
					h2 Featured Industrial Specialist
					.card.card--agent.row
						.col-md-6
							img.img-responsive(src="../img/brokers/cberlin-portrait.jpg", alt="Curt Berlin")
						.col-md-6
							.card--agent-info
								h3.card--agent-name Curt Berlin, SIOR
								p.card--agent-title: strong Industrial Property Team
								p.card--agent-phone
									span.glyphicon.glyphicon-earphone 
									| (614) 629-5221 (office)
								p.card--agent-phone.card--agent-mobile
									span.glyphicon.glyphicon-phone 
									| (614) 296-3739 (mobile)
								p.card--agent-phone.card--agent-email
									span.glyphicon.glyphicon-envelope
									a(href="mailto:cberlin@ohioequities.com") cberlin@ohioequities.com
								p.card--agent-phone.card--agent-education
									strong Education: 
									| The Ohio State University
								p.card--agent-phone.card--agent-exp
									strong Years Experience: 
									| 33
								p.card--agent-bio: a(href="../brokers/cberlin.html") View Full Bio
							a.button.button-primary(href="../brokers.html")  All Industrial Specialists
				hr
				.row.services--testimonials
					h2 Our Industrial Clients
					.testimonials--content
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/meritex.png" alt="The Meritex Company logo")
								p.testimonial--body "I have had the great fortune to work with NAI Ohio Equities as our leasing agent at several properties in Columbus, Ohio.  Because of their tenacity, hard work and understanding of our product type and tenants, we achieved 100% occupancy in this market."
								p.testimonial--source - Jill Evans, Portfolio Manager
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/fstlogistics.png" alt="Hackman Capital Partners logo")
								p.testimonial--body "The team from NAI Ohio Equities was instrumental in helping us analyze the potential of a sale/leaseback. From our first exploratory meeting, through the financial analysis, marketing and sale negotiations, they were there every step of the way. It was nice to know this transaction was being handled by such true professionals."
								p.testimonial--source - Art DeCrane, CEO
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/shippingtree.png" alt="ShippingTree logo")
								p.testimonial--body "NAI Ohio Equities did a great job assisting us with our expansion into the Columbus, Ohio, Market.  We had our sights set on a location but our timing was moved up due to our client’s needs.  We found that this space would not be ready in time to meet with our client’s timeline, but the NAI Ohio Equities team adjusted quickly to find us a new property that was able to meet the timing demand. Their market knowledge and ability to adapt helped us secure a great warehouse/distribution facility in Columbus."
								p.testimonial--source - Jesse Kaufman, CEO &amp; Founder
				.row.servicess--casestudies
					.col.col-md-4
						img.img-responsive.casestudy--logo.casestudy--building(src="../img/services-industrialpark.jpg", alt="Southeast Industrial Park")
					.col.col-md-8.casestudy--content
						p.casestudy--body "The NAI Ohio Equities team has done an excellent job for us. After purchasing Southeast Industrial Park our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
						p.casestudy--source Ben Streuwing | VP, Hackman Capital Partners
						a(href="../results/industrialpark.html"): .button.button-primary Read Case Study
				hr
				.row.services--listings
					h2 Our Industrial Listings
					.card.card--listing
						img.img-responsive(src="https://s3.amazonaws.com/buildout-production/datas/6452840/aa49672537f7f546e790b3aa74eb598deec38c72/full.jpg", alt="Cooper Progress Park")
						.card--listing-info
							h3.card--listing-propname Cooper Progress Park
							p.card--listing-title: strong Mount Vernon, Ohio
							p.card--listing-desc 11 Industrial Listings Available
							p.card--listing-view: a(href="http://www.cooperprogresspark.com") View Listing
						a(href="../listings.html?propertyType=3"): .button.button-primary All Industrial Listings
		script(src="../js/services.min.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
