- var titleContent = "NAI Ohio Equities | Investment Services"
- var metaContent = "NAI Ohio Equities relies on decades of experience within the Central Ohio market to provide every service needed by our office clients."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Investment 
					br 
					| Services
			a(href="../services.html#investment").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p Investors need a real estate partner they can trust, with this property and the next. Our investment services can enhance the value of your real estate portfolio and meet your commercial objectives. We provide in-depth market research, acquisition and disposition expertise, due diligence knowledge, asset optimization solutions, customized analytics, appraisal and valuation services, and custom marketing strategies. We also have in-house property management services, so you can have consistent, high-quality operations that enhance your property values.
					.col-md-6
						img.img-responsive(src="../img/stock-investment.jpg", alt="Investment Services")
		script(src="../js/services.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
