- var titleContent = "NAI Ohio Equities | Office Services"
- var metaContent = "NAI Ohio Equities relies on decades of experience within the Central Ohio market to provide every service needed by our office clients."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Office 
					br 
					| Services
			a(href="../services.html#office").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p NAI Ohio Equities has decades of experience within the Central Ohio office market. We have an understanding of the current market and how it is evolving, including recent trends. Our commercial office brokers use innovative techniques while guiding you through all the details of the transaction, including market comps, negotiations, and the construction process. Whether you are looking to buy or sell, fill vacant space, or relocate your business, our brokers will find a solution that works for you.
					.col-md-6
						img.img-responsive(src="../img/stock-office.jpg", alt="Office Services")
				hr
				.row.services--market-snapshot
					h2 Office Market Snapshot
					.col-md-7.market-snapshot--chart
						img.img-responsive(src="../img/market-reports-office.png", alt="Office Market Snapshot") 
						a(href="../marketing/marketreports/2021/nai_ohio_equities_2021q2.pdf") Download Full 2nd Quarter 2021 Market Report
					.col-md-5
						.market-snapshot--content
							p.market-snapshot--bullet01
								span.market-snapshot--number.snapshot-number01 01
								| The Office vacancy rate rose to 9.5% during the second quarter of 2021.
							p.market-snapshot--bullet02
								span.market-snapshot--number.snapshot-number02 02
								| The Office market had negative absorption of -1,400,000 SF in the second quarter of 2021.
							.market-snapshot--header
								h3 2nd Quarter 2021
								ul
									li Quoted rental rates averaged $21.30/SF in the 2nd Quarter, which held steady from the previous quarter.
									li “Despite lingering effects of the pandemic the office market is slowly recovering. Leasing activity is steadily increasing and demand for high quality space remains strong, especially for new construction in mixed-use developments. We expect this will continue through the remainder of the year.” - 
										strong Philip Bird, VP Office Brokerage
				hr
				.row.services--agents
					h2 Featured Office Specialist
					.card.card--agent.row
						.col-md-6
							img.img-responsive(src="../img/brokers/mgregory-portrait.jpg", alt="Matt Gregory")
						.col-md-6
							.card--agent-info
								h3.card--agent-name Matt Gregory, SIOR, CCIM
								p.card--agent-title: strong Senior VP, Office Brokerage
								p.card--agent-phone
									span.glyphicon.glyphicon-earphone 
									| (614) 629-5234 (office)
								p.card--agent-phone.card--agent-mobile
									span.glyphicon.glyphicon-phone 
									| (614) 937-6501 (mobile)
								p.card--agent-phone.card--agent-email
									span.glyphicon.glyphicon-envelope
									a(href="mailto:mgregory@ohioequities.com") mgregory@ohioequities.com
								p.card--agent-phone.card--agent-education
									strong Education: 
									| The Ohio State University
								p.card--agent-phone.card--agent-exp
									strong Years Experience: 
									| 15
								p.card--agent-bio: a(href="../brokers/mgregory.html") View Full Bio
							a.button.button-primary(href="../brokers.html")  View All Office Specialists
				hr
				.row.services--testimonials
					h2 Our Office Clients
					.testimonials--content
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/furniturebank.png" alt="Furniture Bank logo")
								p.testimonial--body "Working with NAI Ohio Equities was fantastic. They were very energetic and knowledgeable, responding quickly to our various needs and questions. Our agents were very personable, understood our needs, and strongly supported our effort to start a social enterprise. I would highly recommend them."
								p.testimonial--source - Steve Votaw, CEO
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/kkg.png" alt="Kappa Kappa Gamma logo")
								p.testimonial--body "NAI Ohio Equities went above and beyond to get everyone on board with the decision to move. They made us all feel comfortable and at ease throughout the entire process and were patient and helpful during this lengthy journey."
								p.testimonial--source - Kari Kittrell Poole, Executive Director
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/covermymeds.png" alt="Cover My Meds logo")
								p.testimonial--body "NAI Ohio Equities provided valuable and frequent updates on real estate market conditions, deals in play, whose word can be trusted, etc. Also, it was clear throughout our process that other persons and organizations hold Ohio Equities generally in high regard as knowledgeable and trustworthy counter-parties. Through their reputation, we gained a huge benefit in others assuming at the outset that we were a worthy, albeit small, organization."
								p.testimonial--source - Alan Scantland, CEO
				.row.servicess--casestudies
					.col.col-md-4
						img.img-responsive.casestudy--logo.casestudy--building(src="../img/services-pnc.jpg", alt="PNC Plaza")
					.col.col-md-8.casestudy--content
						p.casestudy--body "Each and every prospective deal is always handled in a professional and compelling manner. Furthermore, the attention to detail and analysis provided with each RFP has greatly helped the partners in their decision making."
						p.casestudy--source Arthur Goldner | Owner, PNC Plaza
						a(href="../results/pnc.html"): .button.button-primary Read Case Study
				hr
				.row.services--listings
					h2 Our Office Listings
					.card.card--listing
						img.img-responsive(src="https://s3.amazonaws.com/buildout-production/datas/7110706/02b884db52cc8bdb8f9a2939a906016c44c5ddb4/full.jpg", alt="501 Schrock Road")
						.card--listing-info
							h3.card--listing-propname The 501 Building
							p.card--listing-title: strong Landmark Office Building in Westerville
							p.card--listing-desc 1,500 SF to 3,800 SF Suites Available
							p.card--listing-view: a(href="https://www.501building.com/", target="_blank") View Listing
						a(href="../listings.html?propertyType=1"): .button.button-primary All Office Listings
		script(src="../js/services.min.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
