- var titleContent = "NAI Ohio Equities | Retail Services"
- var metaContent = "NAI Ohio Equities retail agents understand the importance of location, space requirements, tax implications, and rental rates, so we can help you navigate the local retail market to find a space that will give your company the visibility and reach it needs."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Retail 
					br 
					| Services
			a(href="../services.html#retail").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p In retail, the right property can make or break a company’s success. At NAI Ohio Equities, we understand the importance of location, space requirements, tax implications, and rental rates, so we can help you navigate the local market to find a space that will give your company the visibility and reach it needs. Our brokers share knowledge and resources so we know of more properties coming available and prospective tenants considering a move or additional locations.
					.col-md-6
						img.img-responsive(src="../img/stock-retail.jpg", alt="Retail Services")
				hr
				.row.services--market-snapshot
					h2 Retail Market Snapshot
					.col-md-7.market-snapshot--chart
						img.img-responsive(src="../img/market-reports-retail.png", alt="Retail Market Snapshot") 
						a(href="../marketing/marketreports/2020/nai_ohio_equities_2020q3.pdf") Download Full 3rd Quarter 2020 Market Report
					.col-md-5
						.market-snapshot--content
							p.market-snapshot--bullet01
								span.market-snapshot--number.snapshot-number01 01
								| The Retail vacancy rate held steady at 3.4% during the third quarter of 2020.
							p.market-snapshot--bullet02
								span.market-snapshot--number.snapshot-number02 02
								| The Industrial market had positive absorption of +14,781 SF in the third quarter of 2020.
							.market-snapshot--header
								h3 3rd Quarter 2020
								ul
									li Rents in Columbus are high relative to Ohio’s other major metros, averaging $16.50/SF as of the second quarter, nearly 20% above average rents in Cincinnati and 10% above Cleveland.
									li “Retail closures which were already climbing prepandemic are now expected to reach 25,000 by years end, more than doubling 2019’s number. Leasing activity in Columbus has maintained fairly well, with 720,000 SF leased through September, just slightly behind last years pace.” - 
										strong Mike Simpson, President
				hr
				.row.services--agents
					h2 Featured Retail Specialist
					.card.card--agent.row
						.col-md-6
							img.img-responsive(src="../img/brokers/msimpson-portrait.jpg", alt="Mike Simpson")
						.col-md-6
							.card--agent-info
								h3.card--agent-name Mike Simpson
								p.card--agent-title: strong President
								p.card--agent-phone
									span.glyphicon.glyphicon-earphone 
									| (614) 629-5236 (office)
								p.card--agent-phone.card--agent-mobile
									span.glyphicon.glyphicon-phone 
									| (614) 306-1722 (mobile)
								p.card--agent-phone.card--agent-email
									span.glyphicon.glyphicon-envelope
									a(href="mailto:msimpson@ohioequities.com") msimpson@ohioequities.com
								p.card--agent-phone.card--agent-education
									strong Education: 
									| Capital University
								p.card--agent-phone.card--agent-exp
									strong Years Experience: 
									| 24
								p.card--agent-bio: a(href="../brokers/msimpson.html") View Full Bio
							a.button.button-primary(href="../brokers.html")  View All Retail Specialists
				hr
				.row.services--testimonials
					h2 Our Retail Clients
					.testimonials--content
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/ohiostate.png" alt="The Ohio State University logo")
								p.testimonial--body "NAI Ohio Equities has worked with Campus Partners in a various roles including acquisitions, dispositions and consulting on various projects. In two separate projects for Campus Partners, they were able to compel property owners who were previously unwilling to enter into negotiations, to sell their properties, allowing projects important to both the University and the community at large to move forward."
								p.testimonial--source - Keith Myers, Associate Vice President Planning and Real Estate
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/lexus.png" alt="Germain Lexus logo")
								p.testimonial--body "NAI Ohio Equities did a great job with our search for land to build a new Lexus service facility. Rigid requirements dictated both by state law and customer convenience narrowed the property parameters significantly, but NAI Ohio Equities persevered and gave us great options along with great expertise in the market. Additionally, they were able to negotiate a contract that gave us the time we needed to entitle the property to allow for the required zoning and street access. Over all, working with NAI Ohio Equities was a great experience."
								p.testimonial--source - Rick Germain, Germain Lexus
						.col.col-md-4.col--testimonial
							.testimonial--card
								img.img-responsive.testimonial--logo(src="../img/logos/epicenter.png" alt="Epiecenter Event Space logo")
								p.testimonial--body "NAI Ohio Equities helped us find the perfect spot for a business, keeping in consideration all our needs and was persistent. They are their word and have been the most thoughtful and committed realtors I’ve ever worked with."
								p.testimonial--source - Zedrick Clark
				.row.servicess--casestudies
					.col.col-md-4
						img.img-responsive.casestudy--logo(src="../img/logos/laundrymax.png", alt="Laundry Max logo")
					.col.col-md-8.casestudy--content
						p.casestudy--body "The neighborhood needed something to cater to the nearby apartments. We really thought everyone would appreciate the change."
						p.casestudy--source Yogesh Patel, Owner
						a(href="../results/laundrymax.html"): .button.button-primary Read Case Study
				hr
				.row.services--listings
					h2 Our Retail Listings
					.card.card--listing
						img.img-responsive(src="https://s3.amazonaws.com/buildout-production/datas/4792696/6d631cbdd66900484012083d5651dbc6ec471dd1/full.jpg", alt="6505 Dublin Center Drive")
						.card--listing-info
							h3.card--listing-propname 6505 Dublin Center Drive
							p.card--listing-title: strong Prime Dublin Retail Site and Restaurant
							p.card--listing-desc Prime opportunity to purchase an existing restaurant in Dublin, Ohio
							p.card--listing-view: a(href="https://www.ohioequities.com/listings.html?propertyId=6505-Dublin-Center-Drive") View Listing
						iframe(src="https://8impact.com/360/nai/6505-dublin-center-dr/", frameborder="0", width="100%", height="750px")
						br
						a(href="../listings.html?propertyType=2"): .button.button-primary All Retail Listings
		script(src="../js/services.min.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
