- var titleContent = "NAI Ohio Equities | Tenant Representation"
- var metaContent = "NAI Ohio Equities relies on decades of experience within the Central Ohio market to provide every service needed by our office clients."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Tenant 
					br 
					| Representation
			a(href="../services.html#tenant").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p Finding the right space is an important step for any business. Our brokers are here to help you through the entire process, from initial market analysis to the final negotiations. We’ll help you navigate the details of relocation, expansion, evaluating competitive properties, negotiating rates, understanding tenant improvement options, and assist with any legal or local compliance codes. 
					.col-md-6
						img.img-responsive(src="../img/stock-tenant.jpg", alt="Tenant Representation")
		script(src="../js/services.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
