- var titleContent = "NAI Ohio Equities | Valuation and Advisory"
- var metaContent = "NAI Ohio Equities relies on decades of experience within the Central Ohio market to provide every service needed by our office clients."

doctype html
html(lang="en")
	include ../../extends/services-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			.services-sub-header
				h1 Valuation 
					br 
					| &amp; Advisory
			a(href="../services.html#valuation").back-to-services &#8592; Back To Services
			.container.services-sub-content
				.row.services--description
					.col-md-6
						p We know that when the time comes to evaluate or dispose of an asset or an entire portfolio, time is money. That's why we emphasize speed, efficiency, and accuracy for our valuation reports and property analysis. With our valuation and advisory services, you can be certain you have the information you need to make informed business and investment decisions.
					.col-md-6
						img.img-responsive(src="../img/stock-valuation.jpg", alt="Valuation and Advisory")
		script(src="../js/services.min.js")
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
