- var titleContent = "NAI Ohio Equities - Office Condos For Lease"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several office condos for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Dublin, Ohio
				br
				| Office Condos For Lease
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=6255-Emerald-Parkway", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/2205390/62130b87ee03c32db2c53474c615fdf23c09105f/full.jpg?1532965863", alt="6255B Emerald Parkway")
							p 6255B Emerald Parkway<br>2,065 SF Available<br>Built in 2017
					a(href="https://www.ohioequities.com/listings.html?propertyId=6325-Emerald-Parkway", target="_blank")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/2212690/e3afb7a3cb42b981282881954c0ceee9b7b40cc2/full.jpg?1533135370", alt="6325 Emerald Parkway")
							p 6325 Emerald Parkway<br>Variety of Suite Sizes Available<br>2nd-Quarter 2019 Occupancy
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
