<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title NAI Ohio Equities Open House
        link(href="https://fonts.googleapis.com/css?family=Domine|Source+Sans+Pro&display=swap", rel="stylesheet")
        link(rel="stylesheet", href="css/styles.css")
    body
        .container#invite
            img.logo(src="img/logo.jpg", alt="NAI Ohio Equities logo")
            img.lounge(src="img/lounge2.jpg", alt="Ohio Equities New Office Space")
            h1.jeadline1 NAI Ohio Equities Open House
            h2.headline2 Help Us Celebrate Our New Space!
            p We look forward to hosting you for the big reveal of our office renovation. Please let us know who will be attending below.
            .invite-details
                dl
                    dt When
                    dd Thursday, October 24, 2019
                    dt Time
                    dd 4:00 pm, EST
                    dt Where
                    dd 605 S Front St
                    dd Suite 200
                    dd Columbus, OH 43215
                    dd: a(href="https://goo.gl/maps/u38i5EhZny6c4vjH8", target="_blank") Map
                a(href="https://www.ohioequities.com/downloads/calendar/openhouse_oct24.ics", target="_blank")
                    img(src="img/appleoutlook.jpg", alt="Apple/Outlook Calendar", width="100")
                a(href="https://calendar.google.com/event?action=TEMPLATE&tmeid=N2xvbDFidG5oa2tkZWRtb2pmZzFwMGczOHUgbmFpb2hpb2VxdWl0aWVzQG0&tmsrc=naiohioequities%40gmail.com", target="_blank")
                    img(src="https://www.google.com/calendar/images/ext/gc_button1_en.gif", border="0", alt="Google Calendar")
            .card#place-holder
                // Begin Constant Contact Inline Form Code
                .ctct-inline-form(data-form-id='6866865b-d51a-41d8-b857-5983983c0c02')
                // End Constant Contact Inline Form Code

        // Begin Constant Contact Active Forms
        script.
            var _ctct_m = "93be9fabdcc058a4d275a71e6b391324";
        script#signupScript(src='//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js' async='' defer='')
        script(src="js/scripts.js")
        // End Constant Contact Active Forms
