- var titleContent = "NAI Ohio Equities | Anthony Maronitis, CCIM"
- var metaContent = "Anthony Maronitis is a commercial real estate agent at NAI Ohio Equities where he represents retail clients throughout Columbus and the central Ohio region."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Anthony Maronitis, CCIM", "Retail and Investment Services", "614-629-5270", "614-352-8669", "amaronitis", "retailteamus", "retailteamus", "https://www.linkedin.com/in/anthony-maronitis-894a937", "amaronitis", "url")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Landlord and Seller Representation
						br
						a(href="bios/retail/tenant_rep.pdf", target="_blank") Tenant and Buyer Representation
						br
						a(href="bios/retail/investment_sales.pdf", target="_blank") Investment Sales
						br
						a(href="bios/retail/sale_leaseback.pdf", target="_blank") Sale Leasebacks
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/rfallert.html")
							strong Ruth Fallert
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:rfallert@ohioequities.com") rfallert@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Anthony has been with NAI Ohio Equities since 2004 specializing in commercial retail and investment properties. His approach is to fully understanding the needs of his clients and then provide viable options along with the tools to make informed real estate decisions. Using the NAI network he can service their needs on a local, national or global level, as well as provide strong market knowledge, extensive research, and analytical expertise. Anthony has over seventeen years of experience in commercial real estate brokerage and management. His background in commercial property and casualty insurance has allowed him to gain valuable experience in building relationships and comprehensive analysis of commercial properties.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p My first experience with real estate was when I was in college and began to buy residential properties as investments.  I decided to make my hobby into a career when I realized I enjoyed real estate and all that goes along with it better than I did my own career. Property, the value of it, and the search for the best deal are what drive me in this business and helping my clients.
								h5 Why did you decide to make Columbus your home?
								p I am an alum from OSU and decided to make Columbus my home after I graduated for several reasons. Columbus has a great balance of life between outdoor recreation (with its many parks), quaint areas and neighborhoods, wonderful restaurants and several businesses which are based out of Columbus (Limited, Cardinal Health, Huntington Bank, Nationwide, Honda, and The Ohio State University) which keeps the economy strong. Several of the suburbs have very highly rated public schools as well, which makes for a city to raise a family. The city is very clean and organized and citizens tend to really love living here.
								h5 What is a favorite pastime you enjoy?
								p Spending time with my children. I enjoy doing anything with them as every experience constantly reminds me of how much they are growing and flourishing.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "amaronitis@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/acehardware.png", alt="Ace Hardware Logo")
									li: img.img-responsive(src="../img/logos/oreilly.png", alt="O'Reilly logo")
									li: img.img-responsive(src="../img/logos/tirediscounters.png", alt="Tire Discounters logo")
									li: img.img-responsive(src="../img/logos/landstrategies.png", alt="Land Strategies logo")
									li: img.img-responsive(src="../img/logos/mcdonalds.png", alt="McDonald's logo")
									li: img.img-responsive(src="../img/logos/huntington.png", alt="Huntington Bank logo")
									li: img.img-responsive(src="../img/logos/naibergman.png", alt="NAI Bergman logo")
									li: img.img-responsive(src="../img/logos/moes.png", alt="Moe's Southwest Grill logo")
									li: img.img-responsive(src="../img/logos/marcus.png", alt="Marcus Theaters logo")
									li: img.img-responsive(src="../img/logos/unitedart.png", alt="United Art and Education logo")
									li: img.img-responsive(src="../img/logos/tjmaxx.png", alt="TJ Maxx logo")
									li: img.img-responsive(src="../img/logos/panera.png", alt="Panera logo")
									li: img.img-responsive(src="../img/logos/einstein.png", alt="Einstein Bros logo")
									li: img.img-responsive(src="../img/logos/bostonmarket.png", alt="Boston Market logo")
									li: img.img-responsive(src="../img/logos/capitolsquare.png", alt="Capitol Square logo")
									li: img.img-responsive(src="../img/logos/honeybaked.png", alt="Honey Baked Ham logo")
									li: img.img-responsive(src="../img/logos/bakersfield.png", alt="Bakersfield logo")
									li: img.img-responsive(src="../img/logos/gasproperties.png", alt="G.A.S. Properties logo")
									li: img.img-responsive(src="../img/logos/familydollar.png", alt="Family Dollar logo")
									li: img.img-responsive(src="../img/logos/europeanwaxcenter.png", alt="European Wax Center logo")
									li: img.img-responsive(src="../img/logos/nothingbundtcakes.png", alt="Nothing Bundt Cakes logo")
									li: img.img-responsive(src="../img/logos/massageenvy.png", alt="Massage Envy logo")
									li: img.img-responsive(src="../img/logos/larosaspizza.png", alt="LaRosa's Pizza logo")
									li: img.img-responsive(src="../img/logos/connollyconstruction.png", alt="Connolly Construction logo")
									li: img.img-responsive(src="../img/logos/speedway.png", alt="Speedway logo")
									li: img.img-responsive(src="../img/logos/allaboutkids.png", alt="All About Kids logo")
									li: img.img-responsive(src="../img/logos/arbys.png", alt="Arby's logo")
									li: img.img-responsive(src="../img/logos/pizzahut.png", alt="Pizza Hut logo")
									li: img.img-responsive(src="../img/logos/3pillar.png", alt="3 Pillar Homes logo")
									li: img.img-responsive(src="../img/logos/zoup.png", alt="Zoup! logo")
									li: img.img-responsive(src="../img/logos/freshii.png", alt="Freshii logo")
									li: img.img-responsive(src="../img/logos/paviliondevelopment.png", alt="Pavilion Development logo")
									li: img.img-responsive(src="../img/logos/sunbelt.png", alt="Sunbelt Rentals logo")
									li: img.img-responsive(src="../img/logos/choicehotels.png", alt="Choice Hotels logo")
									li: img.img-responsive(src="../img/logos/duckdonuts.png", alt="Duck Donuts logo")
									li: img.img-responsive(src="../img/logos/skyline.png", alt="Skyline Chili logo")
									li: img.img-responsive(src="../img/logos/pnc.png", alt="PNC Bank logo")
									li: img.img-responsive(src="../img/logos/titleboxing.png", alt="Title Boxing Club logo")
									li: img.img-responsive(src="../img/logos/cucinova.png", alt="Cucinova logo")
									li: img.img-responsive(src="../img/logos/kilwins.png", alt="Kilwins logo")
								h4 Transactions
								ul#transactions-list
									li Sportsman's Warehouse | Six-Property Portfolio | Sale
									li LA Fitness | 16,846 SF | Single Tenant Investment Sale
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="news/amaronitis/2017-03-09.pdf", target="_blank") New Scramblers Concept, City Egg, Opening This Spring (March 9, 2017)
									li: a(href="news/amaronitis/2016-05-20.pdf", target="_blank") NAI Ohio Equities gets job to find retailers for New Albany (May 20, 2016)
									li: a(href="news/amaronitis/2015-07-31.pdf", target="_blank") Sullivan Bruck gets new digs (July 31, 2015)
									li: a(href="news/amaronitis/2014-04-22.pdf", target="_blank") LaRosa's coming to Central Ohio with Dublin pizzeria (April 22, 2014)
									li: a(href="news/amaronitis/2014-02-05.pdf", target="_blank") Anthony Maronitis named NAI Global Silver Elite Top Producer (February 5, 2014)
									li: a(href="news/amaronitis/2014-01-24.pdf", target="_blank") Retailers remain elusive at Grandview Yard (January 24, 2014)
				.broker-bio-right
					h4 Education
					p BS, Industrial Systems Engineering
						br
						| The Ohio State University, 1997
						br
						br
						| Master of Industrial Systems Engineering
						br
						| The Ohio State University, 2001
					h4 Membership
					p Certified Commercial Investment Member (
						a(href="http://www.ccim.com/about-ccim/what-is-a-ccim/", target="_blank") CCIM
						| ) Designee
						br
						| International Council of Shopping Centers (ICSC)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
						br
						| NAI Global Retail Council
						br
						| NAI Global Investment Council
						br
						| NAI Global Investment Services Group
						br
						| Xceligent Retail Advisory Board
					h4 Community Involvement
					p American Hellenic Educational Progressive Association (AHEPA), Treasurer
						br
						| Greek Olympic Society member
					h4 Honors and Awards
					p NAI Global Elite - Silver, 2013
						br
						| NAI Elite Top Producer - 2007, 2009, 2012
						br
						| CoStar Power Broker - 2012
					h4 Transaction Volume
					p 95 Transactions
						br
						| 4,340,143 SF
						br
						| $118,773,375 (in the last 4 years)
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug