- var titleContent = "NAI Ohio Equities | Blake DeCrane"
- var metaContent = "Blake DeCrane is a commercial real estate agent at NAI Ohio Equities where he represents industrial clients throughout Columbus and the central Ohio region. Blake is a member of the Industrial Property Team."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Blake DeCrane", "Industrial Property Team", "614-629-5269", "614-905-0944", "bdecrane", "Cbus_Industrial", "instagram", "https://www.linkedin.com/in/blakedecrane", "bdecrane", "https://www.industrialpropertyteam.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/klaney.html")
							strong Kaydee Laney
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:klaney@ohioequities.com") klaney@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5226
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="listings", role="tab", data-toggle="pill") Clients and Testimonials
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Blake specializes in the leasing and sales of industrial properties. With a background in logistics, Blake understands the importance of efficient movement of goods. Utilizing this knowledge and listening to the client needs allows him to analyze which building most effectively meets their requirements.
								p He brings his relentless preparation and strong work ethic to a team of experienced real estate professionals.
								p Blake is a Columbus native, graduated from St. Charles Preparatory in 2011, and then continued his education at Arizona State University, where he obtained a Bachelor of Science degree in Supply Chain Management.
									br
									br
									a(href="http://www.industrialpropertyteam.com", target="_blank") Click here to view Industrial Property Team website
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I decided to get into Commercial Real Estate because I enjoy working alongside and advising business owners and decision makers while helping them with their unique set of requirements.
								h5 Why did you decide to make Columbus your home?
								p Columbus has always been my home and after going away for school I knew I wanted to move back close to my family.
								h5 What is a favorite pastime you enjoy?
								p Golfing, fishing, family dinners, playing with my dogs, and classic cars.
								h5 What is your favorite hidden gem in Columbus?
								p Hellas.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "bdecrane@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								h5.testimonial-bio-company Axiom Precision
								p.testimonial-bio-quote "We were looking for a very popular building in a very tight market and with the fast response time and market knowledge, the Industrial Property Team at NAI Ohio Equities were able to assist us in finding the perfect building."
								p.testimonial-bio-source Todd Damon, President
								h5.testimonial-bio-company HF Group
								p.testimonial-bio-quote "NAI-OE and the Industrial Property Team were extremely patient, helpful, and determined to find us the right location and landlord for our special project.  The unique requirements and specifications for our space meant that the number of available sites were limited, they were never deterred in their efforts and I can’t thank them and NAI enough!"
								p.testimonial-bio-source Jay Fairfield, Chairman &amp; CEO
								h5.testimonial-bio-company Honda Logistics
								p.testimonial-bio-quote "We have worked with the Industrial Property Team since 2012 and they have helped negotiate two new leases.  Each time they understood our need to be in a specific geographic area and knew there were limited options that would fit our requirement.  They completed an extensive search, organized the data, and prepared it so it was easy for me to review.  Once a building was chosen, they assisted in the lease negotiation. Their market knowledge is invaluable and key to us feeling confident in our decisions.  I would be happy to recommend them to anyone with industrial needs in the area."
								p.testimonial-bio-source Mollie Elliot, Lead Buyer
								h5.testimonial-bio-company The Meritex Company
								p.testimonial-bio-quote "I have had the great fortune to work with Matt Osowski as our leasing agent at several properties in Columbus, Ohio.  Because of his tenacity, hard work and understanding of our product type and tenants, we achieved 100% occupancy in this market."
								p.testimonial-bio-source Jill Evans, Portfolio Manager
								h5.testimonial-bio-company Hackman Capital Partners
								p.testimonial-bio-quote "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park, our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
								p.testimonial-bio-source Ben Struewing, VP - Leasing, Sales, &amp; Acquisitions
								h5.testimonial-bio-company Hyperlogistics Group
								p.testimonial-bio-quote "We wanted to express our thanks to the Industrial Property Team for their excellent service over the past 15 years.  The Industrial Property Team have consistently understood our business and its challenges. Whether it is helping to locate a short term warehouse space or assisting in selling our buildings, their dedication to representing our best interests has always been appreciated.  We have asked the Industrial Property Team to do a little of everything over the years and the Industrial Property Team have treated each assignment with equal importance.  From leasing 20,000 SF on a month-to month basis or selling our 340,000 SF Class A building. Their commitment, determination and market knowledge allowed us to achieve our goals.
									br
									br
									| One of their most important traits is their honesty.  It is difficult in these times to maintain a moral compass.  Theirs is fine-tuned and on the mark all the time. When we combine this trait with their loyalty, it sets the Industrial Property Team head and shoulders above all others.  My business partner and I really appreciated all of their good work and dependability.
									br
									br
									| We truly enjoy working with the Industrial Property Team and would highly recommend the Industrial Property Team to anyone with warehouse needs in the Central Ohio area or other parts of the country."
								p.testimonial-bio-source Seatta "Sean" Layland &amp; Geoffrey D. Manack, Owners
								h5.testimonial-bio-company Kenda Tires
								p.testimonial-bio-quote "As we wrap up our year and begin to think about the calendar year 2016, I would like to again sincerely thank the Industrial Property Team for their excellent service over the last 17 plus years.  Over this period of time, the Industrial Property Team have represented us with several building acquisitions, both in Ohio and across the country, and with each new project, the Industrial Property Team have always taken the time to understand our thoughts and negotiate with our interests in mind.  Honestly, it is very comforting to work with someone you can trust and who works so hard to achieve the goals we target.  I sincerely appreciate the partnership and drive the Industrial Property Team bring with each new project. 
									br
									br
									| Please also know that without question, I would highly recommend the Industrial Property Team to anyone looking to complete a real estate project anywhere in the country."
								p.testimonial-bio-source P. Jeffrey Pizzola, Group CFO &amp; COO
				.broker-bio-right
					h4 Education
					p St Charles Preparatory
						br
						br
						| B.S., Supply Chain Management
						br
						| Minor in Sustainability
						br
						| Arizona State University
					h4 Membership
					p National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
					h4 Transactions
					p: a(href="transactions/bdecrane.pdf", target="_blank") View completed transactions
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug