- var titleContent = "NAI Ohio Equities | Bob Monahan"
- var metaContent = "Bob Monahan is a commercial real estate agent at NAI Ohio Equities where he represents retail clients throughout Columbus and the central Ohio region."
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Bob Monahan", "Commercial Real Estate Agent", "614-629-5222", "614-204-6907", "bmonahan", "naiohioequities", "instagram", "https://www.linkedin.com/in/bob-monahan-412ab343", "bmonahan", "url")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Church Sales and Leasing
						br
						| Commercial Specialist
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/khurst.html")
							strong Kaydee Hurst
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:khurst@ohioequities.com") khurst@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Bob has been providing commercial, retail, office, land and investment expertise with NAI Ohio Equities since 1985. He has been a proven force within the company and thoroughly researches every project, providing his clients with expert representation and counsel based on skilled analysis of data, market conditions and client priorities.
								hr
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "bmonahan@ohioequities.com"
									});
				.broker-bio-right
					h4 Education
					p Undergraduate and graduate degrees from The Ohio State University
					h4 Membership
					p National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug