- var titleContent = "NAI Ohio Equities | Curt Berlin"
- var metaContent = "Curt Berlin is a commercial real estate agent at NAI Ohio Equities where he represents industrial clients throughout Columbus and the central Ohio region. Curt is a member of the Industrial Property Team."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Curt Berlin, SIOR", "Industrial Property Team", "614-629-5221", "614-296-3739", "cberlin", "Cbus_Industrial", "instagram", "https://www.linkedin.com/in/curt-berlin-sior-aa7ba219", "cberlin", "https://www.industrialpropertyteam.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial Real Estate
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/khurst.html")
							strong Kaydee Hurst
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:khurst@ohioequities.com") khurst@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5226
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Curt has been involved in commercial real estate since 1987 and has consistently been one of NAI Ohio Equities’ Top Producers.  He and his partners founded the Industrial Property Team. His focus and expertise are in the industrial sector with a specialization in landlord and tenant representation as well as industrial investment sales. He sees himself as a consultant who helps his clients determine how every transaction fits into their overall business model. Utilizing expert market knowledge and vast experience allows Curt to provide his clients with critical information with which they can make confident decisions. He works with a wide range of clients on a local, regional and national basis.
								p Born and raised in Grandview Heights, Curt is a lifelong resident of Columbus and resides in Grandview with his family. He is a diehard fan of the St. Louis Cardinals, loves to fish, and has traveled to all fifty states in the U.S.
								p Curt is an alumnus of The Ohio State University, where he earned a BSBA in 1983 and a Master of Business Administration in 1986.
									br
									br
									a(href="http://www.industrialpropertyteam.com", target="_blank", rel="noopener noreferrer") Click here to view Industrial Property Team website
								hr
								h5 What do you enjoy most about Commercial Real Estate?
								p That it’s not really all about selling. I try to put myself into my clients’ shoes and spend more time consulting with them than on sales. Our goal is to make sure every deal fits into our client’s business model so they can continue to be successful. 
								h5 Why did you decide to make Columbus your home?
								p My family is located here so I wanted to stay in Columbus to be close to them and build my own family in the city I grew up in.
								h5 What is a favorite pastime you enjoy?
								p Fishing. As I have grown older I think it and brokerage have a lot in common. Casting is like cold calling. Most times there is nothing on the end of the line. However, when you do catch something or get a positive response it is exhilarating and it keeps you coming back for more.
								h5 Who are your favorite sports teams?
								p The Ohio State Buckeyes, St. Louis Cardinals, Kansas City Chiefs and Columbus Blue Jackets
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "cberlin@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/meritex.png", alt="Meritex logo")
									li: img.img-responsive(src="../img/logos/sbcapitalgroup.png", alt="SB Capital Group logo")
									li: img.img-responsive(src="../img/logos/hackman.png", alt="Hackman Capital logo")
									li: img.img-responsive(src="../img/logos/fstlogistics.png", alt="FST Logistics logo")
									li: img.img-responsive(src="../img/logos/a-carpenters-son.png", alt="A Carpenter's Son logo")
									li: img.img-responsive(src="../img/logos/shippingtree.png", alt="Shipping Tree logo")
									li: img.img-responsive(src="../img/logos/oscarwlarson.png", alt="Oscar W Larson logo")
									li: img.img-responsive(src="../img/logos/barkeats.png", alt="Bark Eats logo")
									li: img.img-responsive(src="../img/logos/innopak.png", alt="Inno-Pak logo")
									li: img.img-responsive(src="../img/logos/hollingsworth.png", alt="The Hollingsworth Companies logo")
									li: img.img-responsive(src="../img/logos/1800gotjunk.png", alt="1-800-Got-Junk logo")
								h3(style="color: #1D6497; margin-top: 5rem;") Testimonials
								h5.testimonial-bio-company A Carpenter’s Son
								p.testimonial-bio-quote "NAI Ohio Equities (Blake DeCrane) are wonderful partners of ours at A Carpenter's Son. They've been a huge help in finding us warehouse/shop space and their follow up and communication is second to none. I'd highly recommend them for any commercial real estate needs."
								p.testimonial-bio-source Josh Scheutzow, Founder
								h5.testimonial-bio-company FST Logistics
								p.testimonial-bio-quote "I have been working closely with NAI Ohio Equities for over 3 years and have completed multiple transactions with the Industrial Property Team. They are great people that know the market and always have our best interests top of mind."
								p.testimonial-bio-source Matt Hartman, Chairman &amp; CEO
								h5.testimonial-bio-company Shipping Tree
								p.tstimonial-bio-quote "Matt Osowski and the Industrial Property Team did a great job assisting us with our expansion into the Columbus, Ohio, Market. We had our sights set on a location but our timing was moved up due to our client’s needs. We found that this space would not be ready in time to meet with our client’s timeline, but Matt and his team adjusted quickly to find us a new property that was able to meet the timing demand. Matt’s market knowledge and ability to adapt helped us secure a great warehouse/distribution facility in Columbus."
								p.testimonial-bio-source Jesse Kaufman, CEO &amp; Founder
								h5.testimonial-bio-company Oscar W. Larson Co
								p.tstimonial-bio-quote "Matt Osowski and his team were very knowledgeable about the market and were able to provide us with all the options possible for our relocation. After several tours, Matt identified a space that was on the market, however, the landlord did not want to split the space to our suitable size. We toured the space and worked diligently with the landlord to find an agreement that worked for both parties. Matt understood our needs and was able to clearly explain the landlord's objective to reach a common ground."
								p.testimonial-bio-source James C. Lintrol, EVP
								h5.testimonial-bio-company Bark
								p.tstimonial-bio-quote "I had the pleasure of working with Matt Osowski and Ohio Equities for the past two months looking for the perfect spot for our growing business/warehouse needs. Not only did Matt go above and beyond in finding the right spot for us but was very patient and honest when it came to what fit best for our business and long-term needs. His knowledge of the Columbus area, overall state of the industry, and advice throughout the negotiation was first class. Matt always made himself available when needed and was very thorough from start to end. Will definitely be referring him and his agency to others looking for a best in class commercial real-estate experience."
								p.testimonial-bio-source Chris Warren, Director of Operations
								h5.testimonial-bio-company InnoPak
								p.tstimonial-bio-quote "We were very happy with the Industrial Property Team and the Sale-Leaseback process. It was only 120 days from our initial meeting until the deal was closed. From our financial analysis to negotiation of the Purchase Contract and Lease, the Industrial Property Team guided us seamlessly through the entire process."
								p.testimonial-bio-source Todd Sill, CEO
								h5.testimonial-bio-company The Hollingsworth Companies
								p.tstimonial-bio-quote "Matt and Curt gave us a set of expectations then promptly exceeded all of them. They leased both suites before the prior tenant vacated, at market lease rates, then connected us with a contractor to smoothly handle the build-out. We would happily return to them for our leasing work across Columbus."
								p.testimonial-bio-source Jessica Carney, Portfolio Director
								h5.testimonial-bio-company 1-800-Got-Junk?
								p.tstimonial-bio-quote "We had an excellent experience with NAI Ohio Equities after purchasing three commercial properties. In particular, Matt Osowski went above and beyond in helping us with due diligence and purchase of a building/warehouse that had some issues to resolve. He drove the effort! We look forward to working with him in future sales or purchases."
								p.testimonial-bio-source Joe Gillotti, Owner
								h5.testimonial-bio-company Axiom Precision
								p.testimonial-bio-quote "We were looking for a very popular building in a very tight market and with the fast response time and market knowledge, the Industrial Property Team at NAI Ohio Equities were able to assist us in finding the perfect building."
								p.testimonial-bio-source Todd Damon, President
								h5.testimonial-bio-company HF Group
								p.testimonial-bio-quote "NAI-OE and the Industrial Property Team were extremely patient, helpful and determined to find us the right location and landlord for our special project.  The unique requirements and specifications for our space meant that the number of available sites were limited, the team was never deterred in their efforts and I can’t thank them and NAI enough!"
								p.testimonial-bio-source Jay Fairfield, Chairman &amp; CEO
								h5.testimonial-bio-company Honda Logistics
								p.testimonial-bio-quote "We have worked with Curt since 2012 and he has helped negotiate two new leases.  Each time he understood our need to be in a specific geographic area and knew there were limited options that would fit our requirement.  He completed an extensive search, organized the data, and prepared it so it was easy for me to review.  Once a building was chosen, he assisted in the lease negotiation.  His market knowledge is invaluable and key to us feeling confident in our decisions.  I would be happy to recommend him to anyone with industrial needs in the area."
								p.testimonial-bio-source Mollie Elliot, Lead Buyer
								h5.testimonial-bio-company The Meritex Company
								p.testimonial-bio-quote "I have had the great fortune to work with Matt Osowski as our leasing agent at several properties in Columbus, Ohio.  Because of his tenacity, hard work and understanding of our product type and tenants, we achieved 100% occupancy in this market."
								p.testimonial-bio-source Jill Evans, Portfolio Manager
								h5.testimonial-bio-company Hackman Capital Partners
								p.testimonial-bio-quote "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park, our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
								p.testimonial-bio-source Ben Struewing, VP - Leasing, Sales, &amp; Acquisitions
								h5.testimonial-bio-company Hyperlogistics Group
								p.testimonial-bio-quote "We wanted to express our thanks to you for your excellent service over the past 15 years.  You have consistently understood our business and its challenges. Whether it is helping to locate a short term warehouse space or assisting in selling our buildings, your dedication to representing our best interests has always been appreciated.  We have asked you to do a little of everything over the years and you have treated each assignment with equal importance.  From leasing 20,000 SF on a month-to month basis or selling our 340,000 SF Class A building. Your commitment, determination and market knowledge allowed us to achieve our goals.
									br
									br
									| One of your most important traits is your honesty.  It is difficult in these times to maintain a moral compass.  Yours is fine-tuned and on the mark all the time. When we combine this trait with your loyalty, it sets you head and shoulders above all others.  My business partner and I really appreciated all of your good work and dependability.
									br
									br
									| We truly enjoy working with you and would highly recommend you to anyone with warehouse needs in the Central Ohio area or other parts of the country."
								p.testimonial-bio-source Seatta "Sean" Layland &amp; Geoffrey D. Manack, Owners
								h5.testimonial-bio-company Kenda Tires
								p.testimonial-bio-quote "As we wrap up our year and begin to think about the calendar year 2016, I would like to again sincerely thank you for your excellent service over the last 17 plus years.  Over this period of time, you have represented us with several building acquisitions, both in Ohio and across the country, and with each new project, you have always taken the time to understand our thoughts and negotiate with our interests in mind.  Honestly, it is very comforting to work with someone you can trust and who works so hard to achieve the goals we target.  I sincerely appreciate the partnership and drive you bring with each new project. 
									br
									br
									| Curt, please also know that without question, I would highly recommend you to anyone looking to complete a real estate project anywhere in the country."
								p.testimonial-bio-source P. Jeffrey Pizzola, Group CFO &amp; COO
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/star.html") Star Leasing Company | Sale/Leaseback Transaction
									li: a(href="../results/fst.html") FST Logistics | Sale/Leaseback Transaction
									li: a(href="../results/industrialpark.html") Southeast Industrial Park | Industrial Sales
								h4 Top Transactions
								ul#transactions-list
									li Gannett Co, Inc | 418,787 SF | 5300 Crosswind Dr (Sale)
									li Premier ProduceOne | 152,640 SF | 2100 Cloverleaf (Sale)
									li Star Holdings Ltd | 42,360 SF | Three-Location Sale-Leaseback Portfolio 
									li Hyperlogistics Group | 230,265 SF | 4370 Alum Creek Dr (Renewal/Expansion)
									li ADB Safegate Americas LLC | 52,500 SF | 870 Claycraft Rd (Lease)
									li WTOL, LLC | 164,450 SF | 555 Yearling Rd (Sale)
									li Wells Fargo Bank | 141,447 SF | 4051 Fondorf (Sale)
									li FST Logistics | 324,000 | 3280 South Park Pl (Lease)
									li Columbus 2 LLC | 134,282 SF | 2400-2410 McGaw Rd (Sale)
									li Shasta Beverages, Inc. | 351,228 SF | 3219 Rohr Rd (Lease)
									li FST Logistics | 356,000 | 5400 Renner Rd & 1727 Georgesville Rd (Sale-Leaseback)
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2023/10/25/leveck-edge-industrial-park-near-intel-corp-site.html", target="_blank", rel="noopener noreferrer") One of Central Ohio’s fastest-growing companies to begin construction on new industrial development near Intel site (October 25, 2023)
										|
										a(href="news/cberlin/2023-10-25.pdf")
									li: a(href="https://www.bizjournals.com/columbus/news/2021/01/06/dispatch-printing-plant-sells.html") Dispatch printing plant, nearby industrial property sell to new owners (January 6, 2021)
										|
										a(href="news/cberlin/2021-01-06.pdf" download)
									li: a(href="https://www.bizjournals.com/columbus/news/2020/07/14/dayton-developer-to-launch-new.html") New industrial development slated for Canal Winchester (July 14, 2020)
										|
										a(href="news/cberlin/2020-07-14.pdf")
									li: a(href="https://www.bizjournals.com/columbus/news/2020/04/28/how-ecommerce-will-help-central-ohios-industrial.html") How e-commerce will help Central Ohio's industrial real estate sector weather Covid-19
										|
										a(href="news/cberlin/2020-04-28.pdf")
									li: a(href="news/cberlin/2020-04-06.pdf") Developers Flock to Columbus Industrial Market 
										|
										a(href="news/cberlin/2020-04-06.pdf")
									li: a(href="https://www.bizjournals.com/columbus/news/2020/04/01/former-dispatch-printing-plant-hits-the-market.html") Former Dispatch printing plant hits the market (April 1, 2020)
										|
										a(href="news/cberlin/2020-04-01.pdf")
									li: a(href="https://www.bizjournals.com/columbus/news/2020/03/23/heres-what-coronavirus-and-that-stay-at-home-order.html", target="_blank", rel="noopener noreferrer") Here's what coronavirus – and that stay-at-home order – could mean for Columbus' booming real estate market (March 23, 2020)
										|
										a(href="news/djsheeran/2020-03-23.pdf")
									li: a(href="http://rebusinessonline.com/population-growth-strategic-location-fuel-columbus-industrial-activity/", target="_blank", rel="noopener noreferrer") Population Growth, Strategic Location Fuel Columbus Industrial Activity (April 11, 2019)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2018/12/03/Opportunity-Zones-Treasury-Releases-Proposed-Regulations-on-Tax-Incentives-for-Investment-in-Designated-Zones", target="_blank", rel="noopener noreferrer") Opportunity Zones: Treasury releases proposed regulations on tax incentives for investment in Opportunity Zones (December 3, 2018)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2018/01/24/Looking-Back-on-2017-and-Forward-to-2018", target="_blank", rel="noopener noreferrer") Looking back on 2017 and forward to 2018 (January 24, 2018)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2018/01/09/Four-Steps-to-Success-in-a-New-Year", target="_blank", rel="noopener noreferrer") Four steps to success in a New Year (January 9, 2018)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2017/11/16/A-Time-to-Give-Thanks", target="_blank", rel="noopener noreferrer") A time to give thanks (November 16, 2017)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2017/05/16/Good-Markets-Can-Create-Challenges", target="_blank", rel="noopener noreferrer") Good markets can create challenges (May 16, 2017)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2016/03/24/I-Should-Go-On-Vacation-More-Often", target="_blank", rel="noopener noreferrer") I should go on vacation more often! (March 24, 2016)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2016/02/08/NNN-Gross-Full-ServiceQuestions-About-Industrial-Lease-Types-We-Can-Help", target="_blank", rel="noopener noreferrer") NNN, Gross, Full Service...Questions About Industrial Lease Types? We Can Help! (February 8, 2016)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2015/12/28/Speedy-Deliveries-are-Changing-Supply-Chain", target="_blank", rel="noopener noreferrer") Speedy Deliveries are Changing Supply Chain (December 28, 2015)
				.broker-bio-right
					h4 Education
					p BS, Business Administration
						br
						| The Ohio State University, 1983
						br
						br
						| Master of Business Administration
						br
						| The Ohio State University, 1986
					h4 Membership
					p Society of Office & Industrial Realtors (SIOR)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p Grandview Heights Baseball On Deck Club, Past President
						br
						| Grandview Bobcat Boosters, Past President
					h4 Top Clients
					p FST Logistics
						br
						| Meritex
						br
						| Kenda Tires
						br
						| The Hollingsworth Companies
						br
						| Schottenstein Property Group
						br
						| Hackman Capital Partners
						br
						| Honda Logistics North America
						br 
						| Bark Inc 
						br 
						| Grimco Inc 
						br 
						| Rittal Corporation 
						br 
						| Johnstone Supply 
						br 
						| Komyo Logistics
						br 
						|  Inno Pak
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
