- var titleContent = "NAI Ohio Equities | Chad Boggs"
- var metaContent = "Chad Boggs is a Commercial Real Estate Agent with NAI Ohio Equities in Columbus, Ohio"
//- Select one of the following includes:
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Chad Boggs", "Commercial Real Estate Agent", "614-629-5261", "614-595-2752", "cboggs", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/chadboggs25/", "cboggs", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Commercial Real Estate
						br 
						| Tenant &amp; Buyer Representation
						br
						| Retail Sales &amp; Leasing
						br
						| Investment
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/khurst.html")
							strong Kaydee Hurst
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:khurst@ohioequities.com") khurst@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5226
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p After spending more than 15 years in technology supporting Retail and Logistics sectors throughout North America, Chad joins NAI Ohio Equities to continue his passion for helping others achieve their goals through Commercial Real Estate.  As a Retail small business owner and real estate investor, Chad has years of experience as both a landlord and commercial tenant, which lead to his career in Commercial Real Estate.  He continues to use his passion assisting others to achieve their financial goals through Real Estate.  Chad has lived in Columbus, OH nearly his entire life!  He is married with two beautiful daughters.
								p Chad received his bachelor’s degree in Management Information Systems (MIS) from Ohio University’s College of Business and his real estate licensing through Hondros College.  He is one of five new agents to be selected into NAI Ohio Equities’ Fast Track program. 
								hr
								h5 Why did you decide to make Columbus your home? 
								p I was born and raised in Columbus, having graduated from Hilliard Davidson High School.  After graduating from Ohio University, I knew I wanted to be in Columbus long term. Columbus offers a thriving arts and cultural scene with numerous museums, theaters, sporting events, and festivals throughout the year. I love the balance between urban amenities and the suburban feel that Columbus offers.  
								h5 Where do you like to vacation?
								p Every year my family takes a trip to that state up North which includes copious amounts of boating, swimming, fishing, and relaxing. We love the crystal-clear lakes, sunsets on the water, and just enjoying quality family time only a short drive from Columbus.
								.navspacer
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "cboggs@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/studentsuccess.png", alt="Student Success Stores Logo")
									li: img.img-responsive(src="../img/logos/bearsbagels.png", alt="Bears Bagels Logo")
									li: img.img-responsive(src="../img/logos/trueindigo.png", alt="True Indigo Logo")
									li: img.img-responsive(src="../img/logos/pmi.png", alt="PMI Scioto Metro Logo")
									li: img.img-responsive(src="../img/logos/pitabilities.png", alt="Pitabilities Logo")
									li: img.img-responsive(src="../img/logos/pln.png", alt="Project Lean Nation Logo")
									li: img.img-responsive(src="../img/logos/xtremepolishing.png", alt="Xtreme Polishing Logo")
									li: img.img-responsive(src="../img/logos/franklinboe.png", alt="Franklin County Board of Elections Logo")
								h4(style="font-size: 3rem; margin-top: 5rem;") Testimonials
								h5.testimonial-bio-company Student Success Stores
								p.testimonial-bio-quote "Chad Boggs helped my nonprofit organization, Student Success Stores, save thousands in rent. When embarked on a daunting journey to secure a warehouse space, I had zero luck finding any suitable commercial space. My effort to find a suitable space hit a dead end until I was fortunate enough to connect with Chad. Chad's expertise and dedication was evident from our very first interaction. He swiftly grasped the unique needs and constraints of my organization. Thanks to Chad's invaluable assistance, we've not only found a warehouse that meets our needs but also saved a significant amount of money in the process. These savings are now being channeled back into our organization, amplifying our efforts to serve underprivileged children. I would absolutely recommend Chad to anyone looking for commercial space!"
								p.testimonial-bio-source Delilah Nuñez
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Chad Boggs was our real estate agent when we were looking to open our first business and he, along with support from the rest of NAI Ohio Equities, proved to be invaluable not only in finding an amazing space for our business, but also in guiding us through the leasing process. He also provided multiple, high-quality references for a variety of services we required, such as architects and contractors, and was always available to answer any questions or concerns we had. He was also a staunch advocate for us in negotiations and helped us work through a difficult deal. Highly recommended."
								p.testimonial-bio-source Josh Zirl
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Chad was amazing in helping us relocate our business to a new retail space. He found us a location that had just come available, did a great job helping negotiate and craft the letter of intent, and provided critical market advice as we made the many decisions we faced. Thanks Chad, you really rocked this one!!"
								p.testimonial-bio-source Joe Vincent
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "It was great working with Chad. We had a few hiccups with some of the spaces we were looking to get into, but he kept everything moving forward until we were finally able to get everything wrapped up. I would strongly recommend calling Chad if you are in need of someone with a whatever it takes attitude that will find a way to get the job done."
								p.testimonial-bio-source Brendan Thomas
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Chad Boggs did an excellent job leasing our property! It was leased 30% higher than we expected and his communication throughout the process was top notch. Looking forward to the next one, thanks Chad!"
								p.testimonial-bio-source Brad Clarizio
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "I had an outstanding experience with Chad Boggs! His expertise and dedication went above and beyond, securing us a deal that exceeded our expectations. His commitment to delivering results truly sets him apart. Highly recommend his exceptional services!"
								p.testimonial-bio-source Tony Caldwell
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Can’t say enough about the customer service! Chad knocked it out of the park and didn’t stop til the deal was done! Will be using again and again and will always refer when I can!"
								p.testimonial-bio-source Michael Ray
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Chad Boggs was incredible to work with. He found our organization a new space within weeks! VERY professional, knowledgeable and kind. 10/10 would DEFINITELY recommend!"
								p.testimonial-bio-source Neethi Johnson 
								h5.testimonial-bio-company Volunteers of America Ohio & Indiana 
								p.testimonial-bio-quote "Chad Boggs was our agent. He was immeasurably helpful, well informed and patient with us from start to finish. I highly recommend."
								p.testimonial-bio-source Tod Chabucos
				.broker-bio-right
					h4 Education
					p BA, Management Information Systems 
						br 
						| Ohio University, 2007
						br 
						br 
						| Real Estate Licensing, Hondros College
					h4 Professional Affiliations 
					p Columbus REALTORS&reg;
						br 
						| National Association of REALTORS&reg;
						br
						| Columbus Commercial Industrial Investment Realtors (CCIIR)
						br
						| Co-Chair of CCIIR Facilities Group
					h4 Community Involvement 
					p Toys for Tots
						br 
						| Grove City Rotary Club
						br
						| Ambassador – Grove City Chamber of Commerce
						br 
						em Keep Grove City Beautiful 
						| Commission
		.navspacer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug