- var titleContent = "NAI Ohio Equities | Chad Boggs"
- var metaContent = "Chad Boggs is a Commercial Real Estate Agent with NAI Ohio Equities in Columbus, Ohio"
//- Select one of the following includes:
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Chad Boggs", "Commercial Real Estate Agent", "614-629-5261", "614-595-2752", "cboggs", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/chadboggs25/", "cboggs", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Commercial Real Estate
						br 
						| Tenant &amp; Buyer Representation
						br
						| Retail Sales &amp; Leasing
						br
						| Investment
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jloxterman.html")
							strong Jenna Loxterman
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jloxterman@ohioequities.com") jloxterman@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5227
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p After spending more than 15 years in technology supporting Retail and Logistics sectors throughout North America, Chad joins NAI Ohio Equities to continue his passion for helping others achieve their goals through Commercial Real Estate.  As a Retail small business owner and real estate investor, Chad has years of experience as both a landlord and commercial tenant, which lead to his career in Commercial Real Estate.  He continues to use his passion assisting others to achieve their financial goals through Real Estate.  Chad has lived in Columbus, OH nearly his entire life!  He is married with two beautiful daughters.
								p Chad received his bachelor’s degree in Management Information Systems (MIS) from Ohio University’s College of Business and his real estate licensing through Hondros College.  He is one of five new agents to be selected into NAI Ohio Equities’ Fast Track program. 
								hr
								h5 Why did you decide to make Columbus your home? 
								p I was born and raised in Columbus, having graduated from Hilliard Davidson High School.  After graduating from Ohio University, I knew I wanted to be in Columbus long term. Columbus offers a thriving arts and cultural scene with numerous museums, theaters, sporting events, and festivals throughout the year. I love the balance between urban amenities and the suburban feel that Columbus offers.  
								h5 Where do you like to vacation?
								p Every year my family takes a trip to that state up North which includes copious amounts of boating, swimming, fishing, and relaxing. We love the crystal-clear lakes, sunsets on the water, and just enjoying quality family time only a short drive from Columbus.
								.navspacer
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "cboggs@ohioequities.com"
									});
				.broker-bio-right
					h4 Education
					p BA, Management Information Systems 
						br 
						| Ohio University, 2007
						br 
						br 
						| Real Estate Licensing, Hondros College
					h4 Professional Affiliations 
					p Columbus REALTORS&reg;
						br 
						| National Association of REALTORS&reg;
						br
						| Columbus Commercial Industrial Investment Realtors (CCIIR)
						br
						| Co-Chair of CCIIR Facilities Group
					h4 Community Involvement 
					p Toys for Tots
						br 
						| Grove City Rotary Club
						br
						| Grove City Chamber of Commerce
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug