- var titleContent = "NAI Ohio Equities | Conor David, CCIIR"
- var metaContent = "Conor David is a commercial real estate agent with NAI Ohio Equities where he represents both buyers and sellers in all fields of the industry."
//- Select one of the following includes:
include ../../extends/social-facebook-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Conor David, CCIIR", "Commercial Real Estate Agent", "614-629-5298", "248-535-5773", "cdavid", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/conor-david-92293a4b/", "cdavid", "https://www.facebook.com/conordavidrealtor")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Commercial Real Estate
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/aroberts.html")
							strong Amy Roberts
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:aroberts@ohioequities.com") aroberts@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Conor David is originally from Bloomfield Hills, Michigan and moved to Columbus when he was recruited to play lacrosse for The Ohio State University. He currently resides in the Short North area of Columbus with his wife. Conor represents buyers and sellers, as well as landlords and tenants in all fields of real estate. He has extensive experience in client relations and networking from his experience working in media for five years.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p A few reasons: I have always had an interest in real estate and when I made the decision to pursue real estate full-time I wanted to focus on Commercial because of my recent experience selling media. I really enjoy working with business owners and coming up with creative solutions to help them overcome obstacles.
								h5 Why did you decide to make Columbus your home?
								p I moved to Columbus from Michigan to attend Ohio State. After spending four great years at Ohio State University and meeting my wife, it was an easy choice to call Columbus home. Living in the Short North is very vibrant and exciting with no shortage of things to do.
								h5 Where do you like to vacation?
								p Hilton Head Island- I enjoy the beach, the ocean, and great golf courses.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "cdavid@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								h4 Testimonials
								h5.testimonial-bio-company Boundary Zone, Inc.
								p.testimonial-bio-quote "Conor David was great! He was patient, innovative, listened, and worked exceptionally well with my team and myself. We were starting a new division in Ohio and were unfamiliar with the area. He guided us through everything and was wonderful to work with."
								p.testimonial-bio-source Lisa Hicks, Human Resource Manager and Organizational Developer
								h5.testimonial-bio-company The Cheetah Company LTD
								p.testimonial-bio-quote "Thanks for the excellent work. I want to extend my sincere thanks to you for the excellent job you did in marketing and selling my building. I think the price was just about right but more importantly, I am glad that it was sold to an extremely nice man who, I know, will take excellent care of it, thanks to you for your excellent professional help."
								p.testimonial-bio-source Ed Flahive, Owner
								h5.testimonial-bio-company Cooper Crossing Townhomes LLC
								p.testimonial-bio-quote "Conor David, my agent, was fantastic. He went out of his way to ensure that my property closed within my required time frame."
								p.testimonial-bio-source Matt Uher, Managing Member
				.broker-bio-right
					h4 Education
					p BA, History
						br
						| The Ohio State University, 2011
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Columbus Commercial Industrial Investment REALTORS&reg; (CCIIR)
						br
						| Varsity O
						br
						| Buckeye Club
					h4 Transactions
					p: a(href="transactions/cdavid.pdf", target="_blank") View Completed Transactions
include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
