- var titleContent = "NAI Ohio Equities | Dan Sheeran, Jr"
- var metaContent = "Dan Sheeran Jr is an industrial specialist at NAI Ohio Equities where he represents industrial clients throughout Columbus and the central Ohio region."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Dan Sheeran, Jr.", "Industrial Specialist", "614-629-5228", "513-310-5497", "djsheeran", "SheeranSemonCRE", "instagram", "https://www.linkedin.com/in/dan-sheeran-jr-19042b139/", "djsheeran", "https://www.sheeransemonteam.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial
						br
						| Light Manufacturing
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jshipley.html")
							strong Jackie Shipley
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jshipley@ohioequities.com") jshipley@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-control="clients", role="tab", data-toggle="pill") Cients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Dan Sheeran, Jr. comes to NAI Ohio Equities after 30 years in the Insurance Business with Motorists Insurance Group. During his time at Motorists, he served as District Sales Manager in southwestern Ohio, handling commercial insurance sales serving small to medium sized clients. He will bring his experience with price negotiations and suburb client relationships with him to the commercial real estate business.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p It was always a dream to combine my thirty years of experience in commercial insurance with commercial real estate. Both fields utilize the same buyers and many of the same service needs. I was lucky enough to be able to join my dad, Dan Sheeran Sr. here at Ohio Equities to start a second career.
								h5 Why did you decide to make Columbus your home?
								p I was born here and always considered Columbus home. Having not lived here since 1987, I will be looking for the right part of town for me later this year to call home.
								h5 Where do you like to vacation?
								p My son Matthew and I have been lucky enough to take many cruises since he was 10. Ski trips to the east coast are also a favorite. Matthew and I joined my parents on cruises to Alaska and Bermuda as well as trips to The Masters and The Sugar Bowl.
								h5 What is your favorite hidden gem in Columbus?
								p Rubinos Pizza in Bexley, hands down. (now it’s not so hidden though)
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "djsheeran@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/scotts.png", alt="Scott's logo")
									li: img.img-responsive(src="../img/logos/nationwidechildrens.png", alt="Nationwide Children's logo")
									li: img.img-responsive(src="../img/logos/farber.png", alt="Farber logo")
									li: img.img-responsive(src="../img/logos/platinumadvertising.png", alt="Platinum Advertising logo")
									li: img.img-responsive(src="../img/logos/heightscanine.png", alt="Heights Canine logo")
									li: img.img-responsive(src="../img/logos/midwestmedair.png", alt="Midwest MedAir logo")
									li: img.img-repsonsive(src="../img/logos/americanlimousine.png", alt="American Limousine logo")
									li: img.img-responsive(src="../img/logos/superiormetal.png", alt="Superior Metal Worx logo")
									li: img.img-responsive(src="../img/logos/bandago.png", alt="Bandago Van Rental logo")
									li: img.img-responsive(src="../img/logos/scwashandtan.png", alt="SC Wash and Tan logo")
									li: img.img-repsonsive(src="../img/logos/funbev.png", alt="FunBev Distributing logo")
									li: img.img-responsive(src="../img/logos/eliteboxing.png", alt="Elite Boxing Gym")
									li: img.img-responsive(src="../img/logos/mercymotors.png", alt="Mercy Motors logo")
								h4 Testimonials
								h5.testimonial-bio-company Farber Specialty Vehicles
								p.testimonial-bio-quote It has been a pleasure working with Ohio Equities and the Sheeran family.  Over the past 20 + years we have worked on multiple projects related to real estate sales and leasing. The Ohio Equities team can address and handle everything from the big picture to the details.
								p.testimonial-bio-source Ken Farber, President
								h5.testimonial-bio-company FunBev Distributing
								p.testimonial-bio-quote NAI Ohio Equities has gone above and beyond to assist our business in finding the right space for us. We were in a time crunch to move facilities and there were many late nights and weekend days that were given up to help us find a warehouse space quickly. Dan Sheeran [Jr.] was a pleasure to work with and made everything happen we asked for and always got back to us in a timely manor. NAI Ohio Equities is exemplary and we couldn't have asked for a better experience or business relationship. We will undoubtedly use NAI Ohio Equities in the future.
								p.testimonial-bio-source Mindy Hammond
								h5.testimonial-bio-company SC Wash and Tan
								p.testimonial-bio-quote I couldn't be more satisfied with the professionalism and dedication of the Sheeran Semon Team with our portfolio of properties. They have helped tremendously with our sales and acquisitions, and I couldn't think of a more solid team to work with. You can't go wrong with this group.
								p.testimonial-bio-source Daniel Duckworth
								h5.testimonial-bio-company Bandago
								p.testimonial-bio-quote Ohio Equities was great to work with, very helpful and understanding of our needs. We appreciated the high level of customer service, and look forward to working with them in the future.
								p.testimonial-bio-source Sharky Laguana, CEO
								h5.testimonial-bio-company Superior Metal Worx
								p.testimonial-bio-quote The experience with your team, and sales department was superb and went beyond our expectations. We all truly appreciated the respects you gave in our decisions, our time frame, and our requests as a company. As well as your kind, polite natures. At no point did we feel pressured, or pushed into this decision, which made the whole event even easier for us all. 
								p.testimonial-bio-source Shawn Komer
								h5.testimonial-bio-company Amerilimo Coach Sales
								p.testimonial-bio-quote The team of professionals at NAI Ohio Equities have been excellent at connecting us with great tenants for our business investment in Columbus, as well as matching us up with our property purchase many years ago.
								p.testimonial-bio-source Robert Mazzarella
								h5.testimonial-bio-company Midwest Medical Transport Company
								p.testimonial-bio-quote I cannot say enough about Dan Jr and how he worked to find my company a fantastic building in a fantastic location. We have very specific needs in our industry, and Dan was very attentive to those needs. Columbus is a very challenging market to find commercial properties in, but Dan found several viable options for me to look at. In the end, we leased a building that will suit our needs for years to come! During the lease negotiation process, Dan made sure that the lease protected our interests, while not leaving the owners vulnerable, and vice versa. He was also able to negotiate price that was very fair to us during this process as well. Opening a new business in Columbus is very challenging, but my experience with Dan and the rest of his team at NAI was the least challenging portion of getting Midwest Medical Transport Company up and running in Columbus. Thank you Dan Jr, Dan Sr and the rest of the NAI team!
								p.testimonial-bio-source Sean A. Heizer, Regional Manager
								h5.testimonial-bio-company Elite Boxing Gym
								p.testimonial-bio-quote Dan Sheeran, Jr. provided the absolute best service one could receive. His knowledge of commercial real estate was astounding along with his professionalism made for a top flight experience. Dan fought for the things that were important to our companies success, and after the deal was complete he still checks in with us to ensure things are going well.
								p.testimonial-bio-source Brandon Hamilton
								h5.testimonial-bio-company Limbach Holdings, Inc.
								p.testimonial-bio-quote I can honestly say that Dan and Mike did a great job of listening to what we were looking for and delivering on that objective. We are quite pleased with the space, location and people they connected us with.
								p.testimonial-bio-source Robert Glanzman, Operations Manager
								h4 Top Transactions
								ul#transactions-list
									li Federal Parkway West, LLC |506,000 SF | 1879 Federal Parkway (Sale)
									li Friedlinghaus | 8,000 SF | 2424 Dublin Granville Rd / 6181 Thompson St (Sale)
									li WTOL, LLC | 164,450 SF | 555 Yearling Road (Sale)
									li Developers Seven, LLC | 45,192 SF | 8333 Green Meadows Dr (Lease)
									li 5JM, Ltd | 200,000 SF | 2000, 2050-60 S High Street (Sale)
									li WTOL, LLC | 164,450 SF | 555 Yearling Road (Sale)
									li Robinson Investments | 110,000 SF | 6606 Tussing Road (Lease)
									li West Broad Partners, LLC | 51,724 SF | 450-500 W Broad St (Sale)
									li Wasserstrom Realty, LLC | 50,572 SF | 4500 W Broad Street (Sale)
									li WTOL, LLC | 18,000 SF | 3469 S High Street (Lease)
									li The Kobacker Co | 100,000 SF | 6606 Tussing Road (Lease)
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2019/06/05/vacant-fort-rapids-site-hits-the-market-for-6-5.html", target="_blank") Vacant Fort Rapids site hits the market for $6.5 million (June 5, 2019)
										|
										a(href="news/msemon/2019-06-05.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2019/04/10/shutteredlinworth-bookstore-to-transform-under-new.html?s=print", target="_blank") Shuttered Linworth bookstore to transform under new owners (April 10, 2019)
										|
										a(href="news/msemon/2019-04-10.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/11/05/british-chef-finds-a-new-home-in-merion-village.html", target="_blank") British chef finds a new home in Merion Village (November 5, 2018)
										|
										a(href="news/msemon/2018-11-05.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/12/07/need-more-leg-room-on-that-next-family-vacation.html", target="_blank") Need more leg room on that next family vacation? New rental business might have an answer (December 7, 2017)
										|
										a(href="news/djsheeran/2017-12-07.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/10/26/columbus-warehouse-listed-as-perfect-for-medical.html", target="_blank") Columbus warehouse listed as 'perfect' for medical marijuana processing (October 26, 2017)
										|
										a(href="news/djsheeran/2017-10-26.pdf", target="_blank")
									li: a(href="https://www.dispatch.com/news/20170817/farber-specialty-vehicles-buys-former-andersons-site-near-brice-road", target="_blank") Farber Specialty Vehicles buys former Andersons site near Brice Road (August 27, 2017)
										|
										a(href="news/msemon/2017-08-17.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/08/08/cleveland-based-doggy-daycare-to-open-in.html", target="_blank") Cleveland-based doggy daycare to open in Franklinton (August 8, 2017)
										|
										a(href="news/djsheeran/2017-08-08.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/06/20/out-of-state-buyer-snaps-up-huge-warehouse-near.html", target="_blank") Out-of-state buyer snaps up warehouse near John Glenn International (June 20, 2017)
										|
										a(href="news/msemon/2017-06-20.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2016/12/12/wasserstrom-buys-whitehall-office-building-where.html", target="_blank") Wasserstrom buys Whitehall office building where it plans multimillion-dollar renovation (December 12, 2016)
										|
										a(href="news/msemon/2016-12-12.pdf", target="_blank")
				.broker-bio-right
					h4 Education
					p BA, Speech Communications
						br
						| Capital University, 1985
						br
						br
						| BA, Business Administration
						br
						| Wilmington College, 1999
					h4 Membership
					p Columbus Board of Realtors
						br
						| National Association of Realtors
					h4 Community Involvement
					p Board Member, Acting Up Young Performers Theater
						br
						| Board Member, PAWS Animal Shelter
						br
						| Junior Achievement Volunteer
						br
						| Saint Xavier Parish Council
						br
						| Board Member/Adjudicator Association Community Theaters Cincinnati
						br
						| State Director, Ohio REALTORS&reg;
						br
						| Chair, Commercial Member Services - Columbus REALTORS&reg;
					h4 Honors and Awards
					p Commercial Lines Coverage Specialist (CLS)
						br
						| Certified Professional Insurance Agent (CPIA)
						br
						| Construction Risk Insurance Specialist (CRIS)
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
