- var titleContent = "NAI Ohio Equities | John Mally"
- var metaContent = "John Mally is a commercial real estate agent at NAI Ohio Equities where he represents clients throughout Columbus and the cental Ohio region."
include ../../extends/social-facebook-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("John Mally", "Commercial Real Estate Agent", "614-629-5254", "614-570-7804", "jmally", "JohnWayneMally", "Columbuscommercial", "https://www.linkedin.com/in/jmally", "jmally", "https://www.facebook.com/JohnWMally/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br
						| Retail
						br
						| Industrial
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/kmarston.html")
							strong Kendra Marston 
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:kmarston@ohioequities.com") kmarston@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane#bio(role="tabpanel")
								p John has been with NAI Ohio Equities since 2015. He is a committed realtor with the ability to provide an expert level of market knowledge in a wide array of commercial real estate transactions. His integrity and energy add a layer of creativity that can benefit any business. John professionally represents tenants, buyers, businesses, and landlords by developing a detailed plan to meet their mission and goals.  His flexible background and expertise allow him to work on office, retail, and industrial transactions. His favorite part of the process is to be able to use his market knowledge, opinion of value, and proven strategies to execute deals that satisfy both the landlords as well as tenants.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I have a strong appreciation for all types of construction, development, and the entrepreneurial strategy that brings it together.  In my ten years of working with contractors and developers across Ohio, I developed a dedicated interest in site selection, commercial property, and the negotiation of a deal. After an introduction to Ohio Equities President and broker Mike Simpson, my passion and stewardship for Columbus real estate continued to grow leading to an exciting career path.
									br
									br
									| I believe that businesses of every size and shape play an integral part in our economy and deserve the highest level of customer service through that process. With the new corridors thriving in Central Ohio, the growing workforce, modernized retail, and motivated entrepreneurs, Columbus is an exciting area to engage in commercial real estate.
								h5 Why did you decide to make Columbus your home?
								p Columbus has always been my home as I grew up on Eastmoor Blvd and graduated from Bishop Hartley.  After returning from four years at Bowling Green it was exciting to see how quickly the city had changed.   With the revitalization of the Short north and downtown both in full swing I wanted nothing more than to make my mark in my hometown. Entering into my marriage, we both had a dream of raising a family in Bexley where we could stay close to family, the Buckeyes and access to the exciting new hotspots here in Columbus.
								h5 Can you describe a memorable transaction?
								p In 2017 I began assisting Fortner Upholstery in locating a larger facility, as they had outgrown two buildings and were continuing to expand. We explored multiple options and landed on a 232,000sf building that was in need of some love, but had plenty of room for growth and to accommodate other businesses.  Advising the client through this 1031 exchange and acquisition has led to lots of education and many opportunities. It is now home to dozens of tenants and has been pivotal to an area of South High that has long been looked over.
								h5 What is your favorite hidden gem in Columbus?
								p I’m a bit of a history buff so I tend to be drawn into anywhere that shows our city’s rich history. My favorite hide away is what I regard as The Top Steakhouse in Columbus and is located just outside of Bexley. They take pride in the quality of their menu and the bonus is the mad men vibe which takes you back to a bygone era. As of late though, Valter’s at the Maennerchor, has become a new favorite.   An authentic German Village landmark that many are yet to experience.
							.tab-pane.active#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "jmally@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/bakemehappy.png", alt="Bake Me Happy logo")
									li: img.img-responsive(src="../img/logos/clustertruck.png", alt="Cluster Truck logo")
									li: img.img-responsive(src="../img/logos/davenportaviation.png", alt="Davenport Aviation logo")
									li: img.img-responsive(src="../img/logos/dunkindonuts.png", alt="Dunkin Donuts logo")
									li: img.img-responsive(src="../img/logos/mixtalent.png", alt="Mix Talent logo")
									li: img.img-responsive(src="../img/logos/primeequipmentgroup.png", alt="Prime Equipment Group logo")
									li: img.img-responsive(src="../img/logos/serifcreative.png", alt="Serif Creative logo")
									li: img.img-responsive(src="../img/logos/thefort.png", alt="The Fort logo")
									li: img.img-responsive(src="../img/logos/thepitbbq.png", alt="The Pit BBQ logo")
									li: img.img-responsive(src="../img/logos/dentalassociates.png", alt="Dental Associates logo")
									li: img.img-responsive(src="../img/logos/farmersinsurance.png", alt="Farmers Insurance logo")
									li: img.img-responsive(src="../img/logos/huntington.png", alt="Huntington Bank logo")
									li: img.img-responsive(src="../img/logos/statehighwaypatrolretirement.png", alt="State Highway Patrol Retirement System logo")
									li: img.img-responsive(src="../img/logos/maryhaven.png", alt="Maryhaven logo")
									li: img.img-responsive(src="../img/logos/metropcs.png", alt="Metro PCS logo")
									li: img.img-responsive(src="../img/logos/ronintrainingcenter.png", alt="Ronin Training Center logo")
									li: img.img-responsive(src="../img/logos/proslat.png", alt="Proslat logo")
									li: img.img-responsive(src="../img/logos/tridentdesign.png", alt="Trident Design logo")
									li: img.img-responsive(src="../img/logos/nextlevel.png", alt="Next Level Columbus logo")
									li: img.img-responsive(src="../img/logos/loeb.png", alt="Loeb Electric logo")
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/laundrymax.html") Laundry Max | Retail Sale
								h4 Testimonials
								h5.testimonial-bio-company Epicenter Event Center
								p.testimonial-bio-quote "John helped us find the perfect spot for a business, keeping in consideration all our needs and was persistent. He is his word and has been the most thoughtful and committed realtor I’ve ever worked with."
								p.testimonial-bio-source Zedrick Clark
								h4 Transactions
								ul#transactions-list
									li Blazer Parkway, Dublin | 6,000 SF | Men's Warehouse (Lease)
									li 6161 Busch Blvd | 77,000 SF | HPRS (Sale)
									li Hazelton Etna Road, Etna Township | 13.364 Acres | AD Farrow (Sale)
									li Morse Crossing, Columbus | 13,688 SF | Epicenter (Lease)
									li Northwest Blvd, Grandview | 3,500 SF | Trident Design (Lease)
									li Main Street, Bexley | 2,800 SF | Bexley Chiropractic (Lease)
									li Cassady Avenue, Bexley | 4,000 SF | Brent Applebaum (Sale)
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.columbusceo.com/business/20200126/creative-firms-find-homes-in-old-fire-truck-factory", target="_blank") Creative firms find homes in old fire truck factory (January 26, 2020)
										|
										a(href="news/jmally/2020-01-26.pdf", target="_blank")
									li: a(href="https://www.columbusunderground.com/local-bakery-opening-store-front-on-parsons-avenue-ls1", target="_blank") Local Bakery Opening Store Front on Parsons Avenue (April 9, 2019)
										|
										a(href="news/jmally/2019-04-09.pdf", target="_blank")
									li: a(href="https://www.columbusnavigator.com/the-fort-columbus/", target="_blank") Introducing Columbus Navigator's New(ish) Home: The Fort (November 16, 2018)
									li: a(href="https://www.bizjournals.com/columbus/news/2018/10/06/first-look-want-to-work-in-an-old-fire-truck.html", target="_blank") First Look: Want to work in an old fire truck factory? 'The Fort' opens on the south side (October 6, 2018)
										|
										a(href="news/jmally/2018-10-06.pdf", target="_blank")
									li: a(href="http://www.ohioequities.com/wp/news/john-mally-and-jim-merkel-win-at-the-columbus-realtors-commercial-award-night/", target="_blank") John Mally and Jim Merkel win at the Columbus Realtors Commercial Award night (March 9, 2018)
									li: a(href="http://www.columbusceo.com/news/20170718/fortner-upholstering-moves-to-south-side-bringing-jobs-and-space-for-creative-tenants", target="_blank") Fortner Upholstering moves to South Side, bringing jobs and space for creative tenants (July 18, 2017)
										|
										a(href="news/jmally/2017-07-18.pdf", target="_blank")
									li: a(href="https://themetropreneur.com/columbus/south-side-warehouse-new-home-of-fortner-upholstering/", target="_blank") Fortner Upholstery Growing into South Side Warehouse, Making Room for Others (August 25, 2017)
										|
										a(href="news/jmally/2017-08-25.pdf", target="_blank")
									li: a(href="http://www.bizjournals.com/columbus/news/2016/09/22/south-side-gets-more-retail-and-residential-space.html", target="_blank") South side gets more retail and residential space with the Eisen on Parsons (September 22, 2016)
										|
										a(href="news/jmally/2016-09-22.pdf", target="_blank")
									li: a(href="http://www.bizjournals.com/columbus/potmsearch/detail/submission/2840401/John_Mally", target="_blank") People on the move (June 27, 2014)
				.broker-bio-right
					h4 Education
					p BA, Communications
						br
						| Bowling Green State University, 2004
						br
						br
						| Hondros College, 2013
					h4 Membership
					p Columbus REALTORS&reg;
						br 
						| CCIIR - Columbus Commercial Industrial Investment Realtors&reg;
						br 
						| ICSC - International Council of Shopping Centers 
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| PAMA
					h4 Community Involvement
					p Bexley Lions Club 
						br 
						| Next Level Gives
						br 
						| PAMA - Parsons Area Redevelopment Association 
						br
						| Bishop Hartley Alumni Association
						br
						| Bexley Youth Lacrosse
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
