- var titleContent = "NAI Ohio Equities | Joe Menninger, CCIM"
- var metaContent = "Joe Menninger is a commercial real estate agent at NAI Ohio Equities where he represents clients throughout Columbus and the central Ohio region."
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Joe Menninger, CCIM", "Commercial Broker", "614-629-5262", "614-778-1464", "jmenninger", "jmenninger", "instagram", "https://www.linkedin.com/in/joemenninger", "jmenninger", "https://www.capitalcitycre.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial Sales and Leasing
						br
						| Land Sales
						br
						| Office Sales and Leasing
						br
						| Investment
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/kmarston.html")
							strong Kendra Marston
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:kmarston@ohioequities.com") kmarston@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Joe is a Certified Commercial Investment Member, which is widely recognized as signifying the leading experts in commercial investment real estate. Previously he worked as a Certified Real Estate Appraiser within the Central Ohio Market, which gives Joe a unique analytical approach to evaluating real estate.
								p Joe is responsible for handling all aspects of buying, selling and/or leasing commercial real estate for a diverse range of clients. He specializes in buyer and tenant representation, the sale, lease or acquisition of industrial and office space, investment properties as well as undeveloped land deals. Joe's approach to real estate is centered on forming long-lasting partnerships with clients to achieve their business and real estate goals.
								hr
								h5 Why did you decide to make Commercial Real Estate your career?
								p Commercial real estate brokerage is an ever-changing and challenging industry, which drew me in immediately because I love a challenge. The ultimate reward for me is the satisfaction of executing a deal with a strategic approach while fostering key relationships in our community. Few professions allow you the latitude to stretch your creativity while also analyzing things from a financial growth perspective. Not to mention, the journey it takes to get a deal to completion is a heck of a lot of fun.
								h5 Describe a memorable transaction:
								p My most unique and memorable transaction was early on in my career which involved an actual swap of two properties in different states. My client was looking to trade a commercial warehouse in Columbus for a vacation beach home in South Carolina. From the start it was a complicated deal, then during the contingency period, a hurricane went through the coastline. This resulted in damage to the house, which added a new layer of difficulty. Thankfully with a bit of creative thinking, we were able to get to the finish line. 
								h5 Why did you decide to make Columbus your home?
								p I grew up in Cincinnati and made the trip up I-71 in 1996 to attend OSU and have never left. I quickly saw that Columbus is a fantastic city! It's rapidly growing with a busy urban center but still maintains that small-town feel. I like that.
								h5 What’s a favorite pastime you enjoy?
								p I enjoy going out and exploring the city, whether it’s taking my daughter to COSI or the Columbus zoo, checking out a new or revisiting an old favorite restaurant, and enjoying the fresh air riding the many bike paths around the city. Getting out and enjoying Columbus is always a lot of fun.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "jmenninger@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/musicologie.png", alt="Musicologie")
									li: img.img-responsive(src="../img/logos/lemmon.png", alt="Lemmon Development")
									li: img.img-responsive(src="../img/logos/lox.png", alt="Lox Bagel Shop")
									li: img.img-responsive(src="../img/logos/primarysolutions.png", alt="Primary Solutions logo")
									li: img.img-responsive(src="../img/logos/mmh.png", alt="Murray Material Handling logo")
									li: img.img-responsive(src="../img/logos/campuspartners.png", alt="Campus Partners Logo")
									li: img.img-responsive(src="../img/logos/whitehall.png", alt="City of Whitehall logo")
								h4 Testimonials
								h5.testimonial-bio-company Columbus Glass and Mirror 
								p.testimonial-bio-quote Joe Menninger and his team did an outstanding job from the sale of our building to finding a suitable building to lease for the development of our business. Joe completely understood all the language necessary to help us navigate through legalese which allowed us to concentrate on both the sale, and move allowing us to maintain operations seamlessly. Thank you for the hard work you put into this for us, Joe and Mark! 
								p.testimonial-bio-source Dave Stout, President
								h5.testimonial-bio-company Donley Gutters 
								p.testimonial-bio-quote Joe Menninger did a great job locating the property that we needed and really worked through the entire buying and selling process seamlessly! Joe was a great knowledgeable Professional to deal with!
								p.testimonial-bio-source Craig Donley
								h5.testimonial-bio-company Right Way Medical 
								p.testimonial-bio-quote Joe and Mark did a fantastic job identifying a new facility for our move. They brought the opportunity to us.  Columbus is a very competitive market for flex space today.  They brought to our attention a unit that was hours from hitting the market and allowed us to get out ahead of the availability.  The deal went smooth and the space was perfect for our needs.  We loved working with them through the process.  They followed up the entire time, even post occupancy.  Great work.
								p.testimonial-bio-source Josh Prati, President and CEO 
								h5.testimonial-bio-company Murray Material Handling
								p.testimonial-bio-quote We are a small family-owned company and were given a tight timeline to relocate our Columbus location. Occupancy rates were fairly high at the time, so the search was limited from the start. Joe asked a lot of questions about our business to learn what our needs were, both now and in the future, so we were able to see several properties meeting our criteria in a short period of time. As we expanded our search from leasing only to possible purchase, Joe’s experience really paid off, as we had never been down that road before. He was always available by phone or email to answer questions and guide us through the process, and he provided great referrals for both the financing and our plumbing upgrades once the purchase was complete.
								p.testimonial-bio-quote Our new property has more square feet than we needed, so we’ve been able to lease out a portion of it as well. Joe has also assisted with that process, and he continues to be a good sounding board as we grow into this building. If &amp; when the time comes to find a new property, I won’t hesitate to contact Joe again and utilize his knowledge, experience, and professionalism.
								p.testimonial-bio-source Kevin Murray, President
								h5.testimonial-bio-company Inquiry Systems, Inc.
								p.testimonial-bio-quote Joe Menninger and Philip Bird were a delight to work with. They completely understood our parameters and the necessity to sell our real estate, while continuing to maintain our operations in the space during and after the sale.
								p.testimonial-bio-source Bob Hindall, Founder/President
								h5.testimonial-bio-company Central State Realty, LLC
								p.testimonial-bio-quote I have been in the real estate business as a Broker for 47 years and dealt with many real estate agents. I found Joe Menninger and Phil Bird to be absolutely the best agents with very high integrity. These individuals will elevate our profession in the future.
								p.testimonial-bio-source George A. Bavelis, Principal Broker
								h5.testimonial-bio-company MCD Investment Properties, LLC
								p.testimonial-bio-quote We give very high marks to Joe Menninger and his team for the remarkably quick sale of our building and the way he managed the process. He kept us well informed, moved things along thoroughly despite our tight timeline, and has been there for us even after the sale. We were pleased with all of his efforts and would not hesitate to do business with him in the future.
								p.testimonial-bio-source Dean A. Pedon
								h5.testimonial-bio-company Primary Solutions
								p.testimonial-bio-quote Joe and Mark were great to work with. They not only sold our building for a great price, but they were also able to find us the new space we needed with the expertise to get the deals done in our time frame.
								p.testimonial-bio-source Brian Marshall, President
								h5.testimonial-bio-company Lox Bagel Shop - Short North
								p.testimonial-bio-quote Joe is both a friend and our realtor.  He was amazing to work with and was great at getting at the true purpose of what our business needed in a space.  He was thoughtful in what we were able to see and made the whole process feel transparent and thorough.  We hope to have the growth that allows us to work together again soon!
								p.testimonial-bio-source Kevin Crowley, Owner
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/primarysolutions.html") Primary Solutions | Tenant Representation
									li: a(href="../results/goodale.html") Goodale Project | Office/Warehouse Sale
								h4 Top Transactions
								ul#transactions-list
									li David/John Warner | 125 Acres Agricultural Land | 1110 Rathmell Road (Sale)
									li Danbury (Harrison West) Senior Living | Senior Living Land | W. Fifth Ave (Sale)
									li Woodward Park Shopping Center | 32,804 SF Multi-Tenant Retail | 1228 Morse Road (Sale)
									li Clark Baltzell | 20 Acres Multi-Family | Cherry Bottom Road (Sale)
									li Ed Ross | 30,544 SF | 1000-1022 Parsons Avenue (Sale)
									li Inquiry Systems | 16,524 SF | 1195-1199 Goodale Blvd. (Sale)
									li LiUNA | 25,416 SF | 620 Alum Creek Drive (Sale)
									li K&amp;L Allstar Investments | 16,135 SF | 1028-1060 Ashland Road (Sale)
									li Tri-State Educational Systems, INC | 19,377 SF | 4525 Trueman Blvd. (Sale)
									li CRH Limited | 20,500 SF | 4235 Leap Road (Sale)
									li Jim Carpino | 17,068 SF | 1050 E. Fifth Avenue (Sale)
									li JB Marshall Properties LLC | 18,788 SF | 707 Park Meadow (Sale)
									li Ohio HD Studios LLC | 19,140 SF | 350 Johnstown Road (Sale)
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.thisweeknews.com/news/20200205/tri-village-chamber-partnership-new-executive-director-david-polakowski-eyes-outreach?fbclid=IwAR0hjhUKZhrSNsZ4WY0qmua8Vyccc9uu09H-WA-qftMiPUVIxNkt7qYumYY", target="_blank") Tri-Village Chamber Partnership: New executive director David Polakowski eyes outreach (February 5, 2020) 
										|
										a(href="news/jmenninger/2020-02-05.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2019/11/08/hyatt-extendedstay-hotel-coming-to-200m-harrison.html", target="_blank") Hyatt extended stay hotel coming to $200M Harrison West development (November 8, 2019)
									li: a(href="https://radio.wosu.org/post/introducing-musicologie-great-place-learn-about-music#stream/0", target="_blank") Introducing Musicologie: A Great Place To Learn About Music (August 8, 2019)
									li: a(href="https://www.breakfastwithnick.com/2019/05/29/lox-bagel-shop-columbus/", target="_blank") The Lox Bagel Shop (May 29, 2019)
									li: a(href="https://www.columbusunderground.com/first-look-the-lox-bagel-shop-opens-in-the-short-north-ls1", target="_blank") First Look: The Lox Bagel Shop Opens in the Short North (December 17, 2018)
									li: a(href="https://www.bizjournals.com/columbus/news/2018/10/01/first-look-630-housing-units-coming-to-harrison.html", target="_blank") First Look: 630 housing units coming to Harrison West in newly named Founders Park development (October 1, 2018)
										|
										a(href="news/jmenninger/2018-10-01.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/09/21/more-housing-proposed-at-battelle-site-in-harrison.html", target="_blank") More housing proposed at Battelle site in Harrison West (September 21, 2018)
										|
										a(href="news/jmenninger/2018-09-21", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/01/11/125acre-parcel-hits-the-market-in-hilliard.html", target="_blank") 125-acre parcel hits the market in Hilliard (January 11, 2018)
										|
										a(href="news/jmenninger/2018-01-11.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/10/25/35-acres-of-land-for-sale-for-residential.html", target="_blank") 35 acres of land for sale for residential development in NE Columbus (October 25, 2017)
										|
										a(href="news/jmenninger/2017-10-25.pdf", target="_blank")
									li: a(href="https://www.dispatch.com/content/stories/local/2014/06/15/carryout-talks-done-in-secret.html", target="_blank") Weinland Park carryout talks done in secret (June 15, 2014)
										|
										a(href="news/jmenninger/2014-06-15-weinland_park_carryout.pdf", target="_blank")
				.broker-bio-right
					h4 Education
					p BS, Human Ecology and Hospitality Management
						br
						| The Ohio State University, 2002
						br
						br
						| CCIM 101, 102, 103, 104, Preparing to Negotiate
					h4 Professional Affiliations
					p Certified Commercial Investment Member (CCIM)
						br
						| The Ohio State Alumni Association
						br
						| The Tri-Village Chamber of Commerce Board of Directors
						br
						| Columbus Commercial Industrial Investment Realtors (CCIIR)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
						br
						| Ohio CCIM Chapter Board of Directors
					h4 Transaction Volume
					p $50,000,000
					h4 Community Involvement
					p Volunteer for 
						a(href="http://knightsofheroes.org/home", target="_blank") Knights of Heroes
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
