- var titleContent = "NAI Ohio Equities | Jim Merkel, Emeritus Broker"
- var metaContent = "Jim Merkel is Senior VP and a commercial real estate agent at NAI Ohio Equities where he represents clients throughout Columbus and the central Ohio region."
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Jim Merkel", "Emeritus Broker", "614-629-5214", "614-937-0870", "jmerkel", "naiohioequities", "instagram", "https://www.linkedin.com/in/jim-merkel-2674a612", "jmerkel", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br
						| Industrial
						br
						| Investment
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Jim is an Emeritus Broker, having been in the commercial real estate industry for over 50 years. Jim has worked with clients to provide comprehensive real estate solutions and value-add services. His illustrious career allowed him to work on office, industrial and investment sales, leases and property management.
								hr
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/officedepot.png", alt="Office Depot Logo")
									li: img.img-responsive(src="../img/logos/pioneer.png", alt="Pioneer logo")
									li: img.img-responsive(src="../img/logos/daimler.png", alt="Daimler Group logo")
									li: img.img-responsive(src="../img/logos/duke.png", alt="Duke Realty logo")
				.broker-bio-right
					h4 Education
					p BA, Miami University
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| Columbus Commercial Industrial Investment Realtors (CCIIR)
						br
						| Society of Industrial and Office Realtors (SIOR)
						br
						| Certified Commerical Investment Member (CCIM)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Realtors National Marketing Institute
						br
						| National Association of Office and Industrial Parks
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug