- var titleContent = "NAI Ohio Equities | Mark Francescon"
- var metaContent = "Mark Francescon is a commercial real estate agent at NAI Ohio Equities where he represents industrial and office clients throughout Columbus and the central Ohio region."
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Mark Francescon", "Commercial Real Estate Sales", "614-629-5264", "614-376-9285", "mfrancescon", "naiohioequities", "instagram", "https://www.linkedin.com/in/mark-francescon-42b2a510", "mfrancescon", "https://www.capitalcitycre.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br
						| Industrial
						br
						| Land
						br
						| Investment
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/kfrey.html")
							strong Kelly Frey
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:kfrey@ohioequities.com") kfrey@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p With over twelve years of commercial real estate experience, Mark works with owners, tenants, and investors to help them acquire, sell, or lease properties that address their real estate needs.
								p Specializing in office, medical industrial properties, and land acquisitions, Mark works closely with his clients to help them make an educated decision on their real estate options. He has been involved in various land development deals representing both buyers and sellers.
								hr
								h5 What do you like most about Commercial Real Estate?
								p What I like most about commercial real estate is working with owners and tenants to hep them find the space that is right for them and assist them through the process.
								h5 What has been the best part of Columbus' growth over the past few decades?
								p I grew up in Columbus and it is fun to see how much this city has grown. We have had the fortune of having good city leaders both in the private and public sector that had the foresight to work together to make this a thriving city for business, entertainment and great neighborhoods.
								h5 Who are your favorite sports teams?
								p Of course, being from Columbus you have to follow the Buckeyes and the Blue Jackets! I’m also a fan of both the Cleveland and Cincinnati baseball and football teams, I think next year is our year!
								h5 Where do you like to vacation?
								p We do like to travel as a family and one of our goals is to get to all 50 states, we have just a few left to go. The last visit will be Fargo, North Dakota as they have a club called the 
									a(href="https://www.fargomoorhead.org/plan-a-trip/best-for-last-club/", target="_blank") Best for Last Club 
									| that you can join when you finish.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mfrancescon@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								h4 Clients
								ul#transactions-list
									li Private building owners
									li Shannon Chemical
									li My Computer Career
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/primarysolutions.html") Primary Solutions | Tenant Representation
								h4 Transactions
								ul#transactions-list
									li My Computer Career | 12,000 SF | Polaris Parkway | Lease
									li Energy Provider | 86,000 SF | Hannibal, Ohio | Lease
									li Rhinegeist Brewery | 17,500 SF | Columbus, OH | Lease
									li Retail Center | 15,000 SF | Oakland Park | Sold
									li Primary One | 18,000 Sf | Agler Rd | Lease
									li Investment Group | Multi-Family | Various locations | Purchased
									li Star House | 14,000 SF | Corrugated Way | Sold
									li Atlas | 47,000 SF | Sinclair Road | Sold
									li Magnolia Trace | 24 Acres | Cherry Bottom Rd | Sold
									li Habitat for Humanity | 12,000 SF | Busch Blvd | Sold
									li Software Developer | 15,000 SF | Westerville | Purchased
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2018/01/11/125acre-parcel-hits-the-market-in-hilliard.html", target="_blank") 125-acre parcel hits the market in Hilliard (January 11, 2018)
										|
										a(href="news/jmenninger/2018-01-11.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/10/25/35-acres-of-land-for-sale-for-residential.html", target="_blank") 35 acres of land for sale for residential development in NE Columbus (October 25, 2017)
										|
										a(href="news/jmenninger/2017-10-25.pdf", target="_blank")
				.broker-bio-right
					h4 Education
					p BA, Business Administration
						br
						| Ohio Dominican College, 1980
					h4 Membership
					p Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p Charity Newsies
						br
						| Columbus Italian Club
						br
						| St Timothy Parish member, coach, and volunteer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
