- var titleContent = "NAI Ohio Equities | Mike Gersper"
- var metaContent = "Mike Gersper is a Commercial Real Estate Agent with NAI Ohio Equities in Columbus, Ohio. Mike specializes in office sales and leasing."
//- Select one of the following includes:
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Mike Gersper", "Commercial Real Estate Agent", "614-629-5298", "216-903-7473", "mgersper", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/company/nai-ohio-equities", "mgersper", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br 
						| Healthcare 
						br 
						| Technology 
						br 
						| Hospitality
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jramsey.html")
							strong Jacque Ramsey
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jramsey@ohioequities.com") jramsey@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5256
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							//- li(role="presentation")
							//- 	a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							//- li(role="presentation")
							//- 	a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p After spending a decade in commercial sales in the HVAC industry, Mike Gersper transitioned to commercial real estate where he has been able to leverage his extensive knowledge of building and construction management. Over the past several years, Mike has gained experience in land, industrial and manufacturing, and office transactions. As a lifelong Columbus resident, Mike has an intimate understanding of the market, and an established reputation with healthcare, technology, and hospitality organizations. 
								hr
								h5 What is one of your favorite buildings in Columbus?
								p The Athletic Club of Columbus on Broad Street. I have been a member there since 2015. I enjoy taking my son there to play basketball, play in the game room, go bowling, and eat in the restaurant. 
								h5 Why did you decide to make Columbus your home? 
								p I choose to make Columbus my home because we have big city amenities (sports, restaurants, public parks, etc.) without the hassles of living in a “larger” city. I think Columbus is the best city to live in and raise a family. 
								h5 What is your favorite neighborhood/area of Columbus/Central Ohio? 
								p I love the Short North. My favorite restaurant is TownHall. I love going to brunch at TownHall with my family and our dog, Dolly!
								h5 Where do you like to vacation? 
								p Nashville, Tennessee because it offers all of my favorite things. Country music, great sports (Titans, Predators, etc) and awesome weather! If you see Mike wearing headphones, there is a 100% chance he is listening to Country Music. 
								h5 What’s a favorite pastime you enjoy? 
								p Spending time with my family. My wife, Rachel, and my son, Peyton (who is of course named after Peyton Manning). Peyton and I are both huge sports fans. Most weekends, we are in a stadium cheering on our favorite teams.  
								h5 Who are your favorite sports teams? 
								p Colts, Pacers, Reds, Blue Jackets.
								h5 What is your favorite hidden gem in Columbus? 
								p The view from the rooftop at Huntington Center Downtown.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mgersper@ohioequities.com"
									});
							//- .tab-pane#clients(role="tabpanel")
							//- 	ul#clients-list.clearfix
							//- 		li: img.img-responsive(src="../img/logos/covermymeds.png", alt="CoverMyMeds Logo")
							//- 	h4 Case Studies
							//- 	ul#case-studies-list
							//- 		li: a(href="../results/pnc.html") PNC Plaza | Office Leasing
							//- 	h4 Transactions
							//- 	ul#transactions-list
							//- 		li Cameron Mitchell Restaurants | 16,846 SF | The Buggyworks (Lease)
							//- 		br
							//- 		p
							//- 			a(href="transactions/adutcher.pdf", target="_blank", rel="noopener noreferrer") View completed transactions
							//- .tab-pane#news(role="tabpanel")
							//- 	ul.broker-bio-news-list
							//- 		li: a(href="news/mgregory/2016-08-20.pdf", target="_blank", rel="noopener noreferrer") Northwoods II office building changes ownership; NAI Ohio Equities retains leasing (August 20, 2016)
				.broker-bio-right
					h4 Education
					p Associate of Applied Science in Business Management
						br
						| Columbus State Community College, 2002
					h4 Membership
					p National Association of REALTORS&reg;
						br 
						| Ohio REALTORS&reg;
						br 
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p Big Brothers Big Sisters of Central Ohio, 2004-2016
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug