- var titleContent = "NAI Ohio Equities | Matt Gregory SIOR&reg;, Senior VP Office Brokerage"
- var metaContent = "Matt Gregory is a senior VP of Office Brokerage at NAI Ohio Equities, where he represents office clients throughout Columbus and the central Ohio region."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio("Matt Gregory SIOR&reg;, CCIM", "Senior VP Office Brokerage", "614-629-5234", "614-937-6501", "mgregory", "aroundcbus", "instagram", "https://www.linkedin.com/in/mgregoryohioequities", "mgregory", "https://www.officebrokeragegroup.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office Leasing & Investment Sales
						br
						| Tenant & Buyer Representation
						br
						| Real Estate Investment Trusts
						br
						| Medical Office Buildings
						br
						| Non-Profit Organizations
						br
						| Bank Owned Property
						br
						| Corporate Services
						br
						| Sale Leasebacks
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jwilliams.html")
							strong Jenna Williams
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jwilliams@ohioequities.com") jwilliams@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5227
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p With over fifteen years of commercial real estate experience, Matt couples his extensive market knowledge with innovative technology to help tenants, landlord, sellers and buyers achieve their real estate goals. Matt is committed to the values of honesty and hard work and strives to go the extra mile for all of his clients.
								p Specializing in tenant and landlord representation for the sales and leasing of office and investment properties in Central Ohio, Matt works closely with clients to develop a comprehensive plan of action and then provides his clients with all the facts necessary to make informed decisions about their real estate opportunities.
								p In his career, Matt has completed over 600 real estate transactions totaling $350 million in volume and 5,000,000 square feet and is consistently one of NAI Ohio Equities Top Producers. Prior to becoming a lead office broker, Matt spent four years providing in-house marketing and technology services as the firm’s Director of Information Technology.
									br
									br
									a(href="http://www.officebrokeragegroup.com", target="_blank") Click here to view Office Brokerage Group website
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I always tell people who ask this question that commercial real estate is a career that actually chooses you and is usually second calling. My story follows such path. I initially started as a marketing technology intern for Ohio Equities which lead to a full time position as Director of Information Technology. While in this position, I was often told that I had a knack for sales so it was only natural that the firm would eventually transition me into a licensed agent. Growing up, I always wanted to work in a diverse industry which is the epitome of what commercial real estate has to offer.
								h5 What is your favorite neighborhood/area of Columbus/Central Ohio?
								p Early in our travels, my wife and I realized we had a strong connection with the Worthington area. We have called this area home for much of our two decades living in Central Ohio. I think our main attraction to Worthington is because of its historic feeling, walkable amenities and central location both downtown and the other northern submarkets.
								h5 What is a favorite pastime you enjoy?
								p My family and I enjoy visiting professional sporting venues and often stop at one in every city in which we travel. Thus far we have been to 24 of the 30 major league baseball stadiums and try to see at least one new stadium every year.
								h5 What is your favorite hidden gem in Columbus?
								p Are there any hidden gems left in Columbus? With a population that has doubled over the past 15 years to nearly two million people I think nearly every place has been discovered. I used to be able to stay up on all the new openings but now I rely on my clients and co-workers to provide recommendations of all the trendy places to try out.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mgregory@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/covermymeds.png", alt="CoverMyMeds Logo")
									li: img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust logo")
									li: img.img-responsive(src="../img/logos/installedbusinessproducts.png", alt="IBP logo")
									li: img.img-responsive(src="../img/logos/furniturebank.png", alt="Furniture Bank logo")
									li: img.img-responsive(src="../img/logos/cameronmitchellrestaurants.png", alt="Cameron Mitchell Restaurants logo")
								h4 Testimonials
								h5.testimonial-bio-company Building Industry Association of Central Ohio
								p.testimonial-bio-quote "I have worked with Andy Dutcher & Matt Gregory on two separate searches. Each search had different parameters, requirements and needs. Each time they delivered a variety of options and their experience helped secure great properties. Additionally, they don't just stop at the selection of properties, they leverage their relationships with architects, contractors and furniture/ design companies to assure a great outcome."
								p.testimonial-bio-source Jon Melchi, Executive Director
								h5.testimonial-bio-company Furniture Bank of Central Ohio
								p.testimonial-bio-quote "Working with Matt Gregory and Andy Dutcher was fantastic. They were both very energetic and knowledgeable, responding quickly to our various needs and questions. Both are very personable, understood our needs, and strongly supported our effort to start a social enterprise. I would highly recommend them both."
								p.testimonial-bio-source Steve Votaw, CEO
								h5.testimonial-bio-company 9042 Heritage Drive
								p.testimonial-bio-quote "Andy Dutcher and NAI Ohio Equities came highly recommended when the time came for my company to list our property. Andy offered very personal attention to our listing; offering excellent knowledge of the local market and providing appropriate guidance on pricing. I can't say enough good things about how smoothly the listing and sale went! I would strongly recommend and encourage anyone looking at leasing/purchasing or selling commercial property in Central Ohio to reach out to Andy!"
								p.testimonial-bio-source Ian Kimmel, Polar Development Company, LLC
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/kkg.html") Kappa Kappa Gamma | Tenant Representation
									li: a(href="../results/pnc.html") PNC Plaza | Office Leasing
									li: a(href="../results/alvis.html") Alvis House | Tenant Representation
									li: a(href="../results/furniture.html") Furniture Bank | Tenant Representation
								h4 Transactions
								ul#transactions-list
									li PNL Office Portfolio | Sale | $21,100,000
									li 85 McNaughten | Lease | 40,000 SF
									li 6460 Riverside | Lease | 22,000 SF
									li 155 E Broad | Sale | Undisclosed
									li 2 Miranova Place | Lease | 85,362 SF
									li 390 W Nationwide | Lease | 16,846 SF
									li Anchor Portfolio | Sale | $15,100,000
									li 945 Bethesda | Lease | 35,516 SF
									li 955 Eastwind | Sale | $10,500,000
									li 1105 Schrock | Sale | $9,650,000
									br
									p
										a(href="transactions/mgregory.pdf", target="_blank") View completed transactions
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2018/12/31/tight-labor-market-has-employers-trying-new.html", target="_blank") Tight labor market has employers trying new workforce strategies (December 31, 2018)
										| 
										a(href="news/mgregory/2018-12-31.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/10/05/best-buy-founders-real-estate-company-buys-2.html?s=print", target="_blank") Best Buy founder's real estate company buys 2 Columbus offices for $21.1M (October 5, 2018)
										|
										a(href="news/mgregory/2018-10-05.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/10/03/kaufman-puts-stalled-short-north-development-site.html?s=print", target="_blank") Kaufman puts stalled Short North development site on the market (October 3, 2018)
										|
										a(href="news/mgregory/2018-10-03.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/05/01/building-industry-association-moving-offices-back.html", target="_blank") Building Industry Association moving offices back to Columbus (May 1, 2018)
										|
										a(href="news/mgregory/2018-05-01.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/03/16/real-estate-roundup-3-deals-to-know-this-week.html", target="_blank") Real estate roundup: 3 deals to know this week (March 16, 2018)
										|
										a(href="news/mgregory/2018-03-16.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/03/07/former-residential-treatment-facility-on-350-acres.html", target="_blank") Former residential treatment facility on 350 acres for sale (March 7, 2018)
										|
										a(href="news/mgregory/2018-03-07.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/02/06/want-to-work-in-the-downtown-lazarus-building-now.html", target="_blank") Want to work in the downtown Lazarus building? Now is your chance to lease a space (February 6, 2018)
										|
										a(href="news/mgregory/2018-02-06.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2018/01/19/amazons-impact-gauging-the-real-estate-impact-if.html", target="_blank") Amazon's impact: Gauging the real estate impact if Columbus lands HQ2 (January 19, 2018)
										|
										a(href="news/mgregory/2018-01-19.pdf", target="_blank")
									li: a(href="news/pmerkle/2017-10-18b.pdf", target="_blank") Iconic Caterina building in German Village sold (October 18, 2017)
										|
										a(href="news/pmerkle/2017-10-18b.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/10/18/former-caterina-building-in-german-village-issold.html", target="_blank") Former Caterina building in German Village is sold (October 18, 2017)
										|
										a(href="news/pmerkle/2017-10-18a.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/08/14/kyle-katz-buys-prominent-brewery-district-office.html", target="_blank") EXCLUSIVE: Kyle Katz buys prominent Brewery District office building (August 14, 2017)
										|
										a(hre="news/pmerkle/2017-08-14.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/08/11/from-renting-to-owning-toy-barn-commits-to-dublin.html", target="_blank") From renting to owning: Toy Barn commits to Dublin (August 11, 2017)
										|
										a(href="news/mgregory/2017-08-11.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/08/09/could-free-bus-passes-help-ease-downtown-office.html", target="_blank") Could free bus passes help ease downtown office vacancies and low-wage employee turnover? (August 9, 2017)
										|
										a(href="news/mgregory/2017-08-09.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/07/24/apartment-developer-moving-hq-and-90-jobs-to-new.html", target="_blank") Exclusive: Apartment developer moving HQ and 90 jobs to New Albany (July 24, 2017)
										|
										a(href="news/mgregory/2017-07-24.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/07/11/dublins-bridge-park-lands-national-sorority-as.html", target="_blank") Dublin's Bridge Park lands national sorority as latest office tenant (July 11, 2017)
										|
										a(href="news/mgregory/2017-07-11.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/subscriber-only/2017/06/16/office-leases.html", target="_blank") Largest Central Ohio Office Leases (June 17, 2017)
									li: a(href="http://costarpowerbrokers.com/power-broker-award-winners/?search_year=2016&search_market=Columbus,%20OH", target="_blank") CoStar Power Broker Award Winners (March 16, 2017)
									li: a(href="https://www.bizjournals.com/columbus/news/2017/01/17/former-bmw-dealership-in-dublin-for-sale-in-rare.html", target="_blank") Former BMW dealership site in Dublin for sale in developing district (January 17, 2017)
										|
										a(href="news/mgregory/2017-01-17.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2016/10/21/office-outlook-high-end-space-getting-harder-to.html", target="_blank") OFFICE OUTLOOK: High-end space getting harder to find in Columbus (October 21, 2016)
										|
										a(href="news/mgregory/2016-10-21b.pdf")
									li: a(href="https://www.bizjournals.com/columbus/news/2016/10/21/columbus-class-a-office-space-is-scarce-spurring.html", target="_blank") Columbus Class A office space is scarce, spurring developers to build more (October 21, 2016)
										|
										a(href="news/mgregory/2016-10-21a.pdf", target="_blank")
									li: a(href="news/mgregory/2016-08-20.pdf", target="_blank") Northwoods II office building changes ownership; NAI Ohio Equities retains leasing (August 20, 2016)
										|
										a(href="news/mgregory/2016-08-20.pdf", target="_blank")
									li: a(href="http://www.bizjournals.com/columbus/news/2016/07/22/top-of-the-list-biggest-office-leases-of-2015.html?ana=fbk", target="_blank") Top of the List: Biggest Office Leases of 2015 (July 22, 2016)
									li: a(href="http://media.wix.com/ugd/9c9a38_162f67b3a8814daeb561ccb083aaae05.pdf", target="_blank") Furniture Bank Bed Race Raises $14,000+! (July 18, 2016)
									li: a(href="http://media.wix.com/ugd/9c9a38_dfd676d3835642b7944d3df938b6a34a.pdf", target="_blank") Cameron Mitchell moving corporate HQ to the Arena District (May 2, 2016)
									li: a(href="http://www.costar.com/News/Article/Office-Lease-Up-Jan-18-Chemonics-BerkleyNet-Take-Down-Big-Leases-in-Northern-Virginia/178960", target="_blank") CoverMyMeds Leases 15,000 SF in Highland Hills (January 18, 2016)
				.broker-bio-right
					h4 Education
					p BA, Communication
						br
						| The Ohio State University, 2003
					h4 Professional Affiliations
					p OAR Director
						br
						| CCIM
						br
						| CCIIR, Past President
						br
						| CORPAC Governing Board
						br
						| COCIE Office Advisory Board
						br
						| Columbus REALTORS&reg;, Past Commercial Chair
						br
						| SIOR
					h4 Community Involvement
					p Worthington AM Rotary, President Elect
						br
						| St Michael Athletic Association, Vice President
						br
						| Worthington Tax Incentive Review Council
						br
						| Columbus State, Adjunct Real Estate Instructor
					h4 Honors and Awards
					p Largest Office Sale (2015)
						br
						| CoStar Power Broker (2011-2016)
						br
						| Columbus REALTORS&reg; 10 Under 40 (2014)
						br
						| NAI Ohio Equities Top Producer (2008-Present)
					h4 Transaction Volume
					p 600 Transactions
						br
						| 5,000,000 SF
						br
						| $350,000,000
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
