- var titleContent = "NAI Ohio Equities | Mitchell Moore"
- var metaContent = "Mitchell Moore is a commercial real estate agent specializing in office space for NAI Ohio Equities in Columbus, Ohio."
//- Select one of the following includes:
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Mitchell Moore", "Comercial Real Estate Agent", "614-629-5257", "614-940-6139", "mmoore", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/mmoore1/", "mmoore", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office
						br
						| Retail
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jloxterman.html")
							strong Jenna Loxterman
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jloxterman@ohioequities.com") jloxterman@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5227
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							//- li(role="presentation")
							//- 	a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							//- li(role="presentation")
							//- 	a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mitchell Moore has been with NAI Ohio Equities since graduating in 2021, working with the Office Brokerage team. Mitchell has focused on office &amp; retail leasing, representing tenants and owners/landlords. Being a Columbus native, Mitchell uses his market knowledge to professionally assist his clients in finding the perfect fit for their business. 
								p Mitchell graduated from Ohio University in 2021 with a B.S.S. in Marketing &amp; Communications. He was a member of the Club Lacrosse team and a part of several student-run organizations on campus.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I have always been very interested in real estate. It is an industry that is ever-changing, and it provides the opportunity to help people with their businesses. Every client’s wants and needs are unique, allowing me to be creative and find the best way to satisfy their requirements. I get to meet so many interesting people in different industries, giving me insight into all the various lines of work and showing me a broader perspective of the world. There is never a dull moment in commercial real estate, and I get to be a lifelong student learning something new daily to assist my clients better.
								h5 Where do you like to vacation? Why?
								p My favorite place to vacation is Colorado. I love the outdoors, so between skiing and hiking, Colorado is an ideal place to visit at all times of the year. 
								h5 Who are your favorite sports teams?
								p The Cleveland Browns are my favorite sports team.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mmoore@ohioequities.com"
									});
							//- .tab-pane#clients(role="tabpanel")
							//- 	ul#clients-list.clearfix
							//- 		li: img.img-responsive(src="../img/logos/covermymeds.png", alt="CoverMyMeds Logo")
							//- 		li: img.img-responsive(src="../img/logos/cameronmitchellrestaurants.png", alt="Cameron Mitchell Restaurants logo")
							//- 		li: img.img-responsive(src="../img/logos/furniturebank.png", alt="Furniture Bank logo")
							//- 		li: img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust logo")
							//- 		li: img.img-responsive(src="../img/logos/arthurgoldman.png", alt="Arthur Goldner & Associates logo")
							//- 	h4 Case Studies
							//- 	ul#case-studies-list
							//- 		li: a(href="../results/pnc.html") PNC Plaza | Office Leasing
							//- 	h4 Transactions
							//- 	ul#transactions-list
							//- 		li Cameron Mitchell Restaurants | 16,846 SF | The Buggyworks (Lease)
							//- 		br
							//- 		p
							//- 			a(href="transactions/adutcher.pdf", target="_blank", rel="noopener noreferrer") View completed transactions
							//- .tab-pane#news(role="tabpanel")
							//- 	ul.broker-bio-news-list
							//- 		li: a(href="news/mgregory/2016-08-20.pdf", target="_blank", rel="noopener noreferrer") Northwoods II office building changes ownership; NAI Ohio Equities retains leasing (August 20, 2016)
							//- 		li: a(href="http://www.bizjournals.com/columbus/news/2016/07/22/top-of-the-list-biggest-office-leases-of-2015.html?ana=fbk", target="_blank", rel="noopener noreferrer") Top of the List: Biggest Office Leases of 2015 (July 22, 2016)
							//- 		li: a(href="http://media.wix.com/ugd/9c9a38_162f67b3a8814daeb561ccb083aaae05.pdf", target="_blank", rel="noopener noreferrer") Furniture Bank Bed Race Raises $14,000+! (July 18, 2016)
							//- 		li: a(href="http://media.wix.com/ugd/9c9a38_dfd676d3835642b7944d3df938b6a34a.pdf", target="_blank", rel="noopener noreferrer") Cameron Mitchell moving corporate HQ to the Arena District (May 2, 2016)
							//- 		li: a(href="http://www.costar.com/News/Article/Office-Lease-Up-Jan-18-Chemonics-BerkleyNet-Take-Down-Big-Leases-in-Northern-Virginia/178960", target="_blank", rel="noopener noreferrer") CoverMyMeds Leases 15,000 SF in Highland Hills (January 18, 2016)
				.broker-bio-right
					h4 Education
					p BSS, Marketing &amp; Communications
						br
						| Ohio University, 2021
					h4 Membership
					p Columbus Board of Realtors
						br
						| National Association of Realtors
						br 
						| Columbus Commercial Industrial Investment REALTORS&reg; (CCIIR)
					h4 Community Involvement
					p Westerville Central Men’s Lacrosse team, Head Defensive Coordinator
						br 
						| Rotary Club of Upper Arlington/Grandview (Tri-Village), Member
					h4 Transaction Volume 
					p 100 Transactions 
						br 
						| $55 Million in Volume 
						br 
						| 600,000 Square Feet
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug