- var titleContent = "NAI Ohio Equities | Matthew Osowski SIOR"
- var metaContent = "Matthew Osowski is a commercial real estate agent at NAI Ohio Equities, where he serves industrial clients throughout Columbus and the central Ohio region. Matt is a member of the Industrial Property Team."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Matthew Osowski, SIOR", "Industrial Property Team", "614-629-5229", "614-397-4877", "mosowski", "Cbus_Industrial", "instagram", "https://www.linkedin.com/in/matthew-osowski-sior-3a738b2/", "mosowski", "https://www.industrialpropertyteam.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial
						br
						| Investment
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/klaney.html")
							strong Kaydee Laney
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:klaney@ohioequities.com") klaney@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5226
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Matthew’s primary real estate focus is in the industrial sector, specializing in sales and leasing. He has been a licensed real estate professional since 2005 and attributes his success to being straight-forward and completely transparent with his clients. With industrial real estate as his main focus, Matthew has developed expert marketing knowledge of what is demanded in today’s marketplace.
								p Matthew aligns himself with each client’s values, putting himself in their shoes in order to serve them wholeheartedly. His approach to every transaction is to fully understand and assess his client’s needs, point of view and pain points, and then provides viable alternatives as well as the tools to make an informed real estate decision.
									br
									br
									a(href="https://www.industrialpropertyteam.com/", target="_blank") Click here to view Industrial Property Team website
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p As a licensed RE agent I wanted to work in a professional capacity assisting clients with their needs.  The industrial sector is all about functionality, which was the appeal and why I gravitated toward this sector.
								h5 Why did you decide to make central Ohio your home?
								p I moved to Columbus from Cleveland, my hometown, for summer work after high school and quickly realized the growth and opportunity available here.
								h5 Where do you like to vacation?
								p Tennessee – I enjoy the mountains, wildlife, and time spent in nature, and it’s a quick, easy drive from Columbus.
								h5 What is your favorite area of central Ohio?
								p My favorite area is where I currently live: Alexandria. It is one of the few remaining one-stoplight towns left in our ever-growing region. I love that it is a quiet area in the country where I can hear the tree frogs.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mosowski@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								h5.testimonial-bio-company Axiom Precision
								p.testimonial-bio-quote "We were looking for a very popular building in a very tight market and with the fast response time and market knowledge, the Industrial Property Team at NAI Ohio Equities were able to assist us in finding the perfect building."
								p.testimonial-bio-source Todd Damon, President
								h5.testimonial-bio-company HF Group
								p.testimonial-bio-quote "NAI-OE and Matt Osowski were extremely patient, helpful and determined to find us the right location and landlord for our special project.  The unique requirements and specifications for our space meant that the number of available sites were limited, Matt was never deterred in his efforts and I can’t thank him and NAI enough!"
								p.testimonial-bio-source Jay Fairfield, Chairman &amp; CEO
								h5.testimonial-bio-company Honda Logistics
								p.testimonial-bio-quote "We have worked with the Industrial Property Team since 2012 and they have helped negotiate two new leases.  Each time they understood our need to be in a specific geographic area and knew there were limited options that would fit our requirement.  They completed an extensive search, organized the data, and prepared it so it was easy for me to review.  Once a building was chosen, they assisted in the lease negotiation. Their market knowledge is invaluable and key to us feeling confident in our decisions.  I would be happy to recommend them to anyone with industrial needs in the area."
								p.testimonial-bio-source Mollie Elliot, Lead Buyer
								h5.testimonial-bio-company The Meritex Company
								p.testimonial-bio-quote "I have had the great fortune to work with Matt Osowski as our leasing agent at several properties in Columbus, Ohio.  Because of his tenacity, hard work and understanding of our product type and tenants, we achieved 100% occupancy in this market."
								p.testimonial-bio-source Jill Evans, Portfolio Manager
								h5.testimonial-bio-company Hackman Capital Partners
								p.testimonial-bio-quote "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park, our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
								p.testimonial-bio-source Ben Struewing, VP - Leasing, Sales, &amp; Acquisitions
								h5.testimonial-bio-company Hyperlogistics Group
								p.testimonial-bio-quote "We wanted to express our thanks to the Industrial Property Team for their excellent service over the past 15 years.  The Industrial Property Team have consistently understood our business and its challenges. Whether it is helping to locate a short term warehouse space or assisting in selling our buildings, their dedication to representing our best interests has always been appreciated.  We have asked the Industrial Property Team to do a little of everything over the years and the Industrial Property Team have treated each assignment with equal importance.  From leasing 20,000 SF on a month-to month basis or selling our 340,000 SF Class A building. Their commitment, determination and market knowledge allowed us to achieve our goals.
									br
									br
									| One of their most important traits is their honesty.  It is difficult in these times to maintain a moral compass.  Theirs is fine-tuned and on the mark all the time. When we combine this trait with their loyalty, it sets the Industrial Property Team head and shoulders above all others.  My business partner and I really appreciated all of their good work and dependability.
									br
									br
									| We truly enjoy working with the Industrial Property Team and would highly recommend the Industrial Property Team to anyone with warehouse needs in the Central Ohio area or other parts of the country."
								p.testimonial-bio-source Seatta "Sean" Layland &amp; Geoffrey D. Manack, Owners
								h5.testimonial-bio-company Kenda Tires
								p.testimonial-bio-quote "As we wrap up our year and begin to think about the calendar year 2016, I would like to again sincerely thank the Industrial Property Team for their excellent service over the last 17 plus years.  Over this period of time, the Industrial Property Team have represented us with several building acquisitions, both in Ohio and across the country, and with each new project, the Industrial Property Team have always taken the time to understand our thoughts and negotiate with our interests in mind.  Honestly, it is very comforting to work with someone you can trust and who works so hard to achieve the goals we target.  I sincerely appreciate the partnership and drive the Industrial Property Team bring with each new project. 
									br
									br
									| Please also know that without question, I would highly recommend the Industrial Property Team to anyone looking to complete a real estate project anywhere in the country."
								p.testimonial-bio-source P. Jeffrey Pizzola, Group CFO &amp; COO
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/meritex.png", alt="Meritex logo")
									li: img.img-responsive(src="../img/logos/hackman.png", alt="Hackman Capital logo")
									li: img.img-responsive(src="../img/logos/continentalautoparts.png", alt="Continental Auto Parts logo")
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/fst.html") FST Logistics | Sale/Leaseback Transaction
									li: a(href="../results/industrialpark.html") Southeast Industrial Park | Industrial Sales
								h4 Transactions
								ul#transactions-list
									li 683 Manor Park | Sale
									li 2160 McGaw Road | Sale
									li 2120 New World Drive | Sale
									li Contintental Auto Parts | 50,000 SF | Lease
									br
									p
										a(href="transactions/mosowski.pdf", target="_blank") View completed transactions
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="http://rebusinessonline.com/population-growth-strategic-location-fuel-columbus-industrial-activity/", target="_blank") Population Growth, Strategic Location Fuel Columbus Industrial Activity (April 11, 2019)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2018/10/29/Fundamentals-of-a-SaleLeaseback", target="_blank") Fundamentals of a Sale/Leaseback (October 29, 2018)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2017/10/30/Lease-Issues-Dont-Have-to-be-Scary", target="_blank") Lease Issues Don't Have To Be Scary (October 30, 2017)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2017/02/27/Bittersweet-Sale", target="_blank") A Bittersweet Sale (February 27, 2017)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2016/01/04/Untitled", target="_blank") The Necessity of Dock Equipment (January 4, 2016)
									li: a(href="https://www.industrialpropertyteam.com/single-post/2015/12/29/Warehouse-Lighting-Advancements-Continue-to-Provide-High-Efficiencies", target="_blank") Warehouse Lighting Advancements Continue to Provide High Efficiencies (December 28, 2015)
				.broker-bio-right
					h4 Membership
					p Society of Office &amp; Industrial Realtors (SIOR)
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
						br
						| Columbus Commercial Industrial Investment Realtors (CCIIR), Member, Past President
						br
						| CORPAC Major Investor
						br
						| CORPAC, Past Co-Vice Chair
						br
						| Columbus REALTORS&reg; Young Professionals Network, Committee Member, Past Chair
					h4 Top Clients
					p FST Logistics
						br
						| Meritex
						br
						| SB Capital Group
						br
						| Continental Auto Parts
						br
						| Kenda Tires
						br
						| The Hollingsworth Companies
						br
						| Schottenstein Property Group
						br
						| Hackman Capital Partners
						br
						| Honda Logistics North America
						br
						| Hyperlogistics Group
						br
						| Axiom Precision
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
