- var titleContent = "NAI Ohio Equities | Mike Semon"
- var metaContent = "Mike Semon is a commercial real estate agent at NAI OHio Equities, serving industrial and retail clients throughout Columbus and the central Ohio region."
include ../../extends/website-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Michael J. Semon", "Industrial Specialist", "614-629-5217", "614-657-2391", "msemon", "SheeranSemonCRE", "instagram", "https://www.linkedin.com/in/mike-semon-97a7aa26/", "msemon", "https://www.sheeransemonteam.com/")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Industrial
						br
						| Retail
						br
						| Land
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jshipley.html")
							strong Jackie Shipley
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jshipley@ohioequities.com") jshipley@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mike has over 20 years of extensive, in-depth experience in commercial/industrial real estate sales and leasing as well as landlord/tenant representation services. His integrity, enthusiasm for real estate, and dedication to his clients has enabled Mike to achieve an exceptional level of success exemplifi ed by his averaging over 60 commercial transactions each year during his career at NAI Ohio Equities. Mike possesses analytical skills and a deep understanding of all aspects of commercial / industrial real estate, ensuring that his clients receive the best possible representation no matter how complicated the assignment.
								hr
								h5 Where do you like to vacation?
								p I like to vacation in North Carolina because they have some of the best golf courses in the United States.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mjsemon@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/wasserstrom.png", alt="Wasserstrom logo")
									li: img.img-responsive(src="../img/logos/arshot.png", alt="Arshot logo")
									li: img.img-responsive(src="../img/logos/superiordietool.png", alt="Superior Die Tool logo")
									li: img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust logo")
									li: img.img-responsive(src="../img/logos/craneplastics.png", alt="Crane Plastics logo")
									li: img.img-responsive(src="../img/logos/usps.png", alt="USPS logo")
									li: img.img-responsive(src="../img/logos/hackman.png", alt="Hackman Capital logo")
									li: img.img-responsive(src="../img/logos/amtekco.png", alt="Amtekco Logistics logo")
									li: img.img-responsive(src="../img/logos/jetcontainer.png", alt="Jet Container Corporation logo")
									li: img.img-responsive(src="../img/logos/walmart.png", alt="Walmart Logo")
									li: img.img-responsive(src="../img/logos/scotts.png", alt="Scott's logo")
									li: img.img-responsive(src="../img/logos/nationwidechildrens.png", alt="Nationwide Children's logo")
									li: img.img-responsive(src="../img/logos/farber.png", alt="Farber logo")
									li: img.img-responsive(src="../img/logos/platinumadvertising.png", alt="Platinum Advertising logo")
									li: img.img-responsive(src="../img/logos/heightscanine.png", alt="Heights Canine logo")
									li: img.img-responsive(src="../img/logos/midwestmedair.png", alt="Midwest MedAir logo")
									li: img.img-repsonsive(src="../img/logos/americanlimousine.png", alt="American Limousine logo")
									li: img.img-responsive(src="../img/logos/superiormetal.png", alt="Superior Metal Worx logo")
									li: img.img-responsive(src="../img/logos/bandago.png", alt="Bandago Van Rental logo")
									li: img.img-responsive(src="../img/logos/scwashandtan.png", alt="SC Wash and Tan logo")
									li: img.img-repsonsive(src="../img/logos/funbev.png", alt="FunBev Distributing logo")
									li: img.img-responsive(src="../img/logos/eliteboxing.png", alt="Elite Boxing Gym")
								h4 Testimonials
								h5.testimonial-bio-company Farber Specialty Vehicles
								p.testimonial-bio-quote It has been a pleasure working with Ohio Equities and the Sheeran family.  Over the past 20 + years we have worked on multiple projects related to real estate sales and leasing. The Ohio Equities team can address and handle everything from the big picture to the details.
								p.testimonial-bio-source Ken Farber, President
								h5.testimonial-bio-company FunBev Distributing
								p.testimonial-bio-quote NAI Ohio Equities has gone above and beyond to assist our business in finding the right space for us. We were in a time crunch to move facilities and there were many late nights and weekend days that were given up to help us find a warehouse space quickly. Dan Sheeran [Jr.] was a pleasure to work with and made everything happen we asked for and always got back to us in a timely manor. NAI Ohio Equities is exemplary and we couldn't have asked for a better experience or business relationship. We will undoubtedly use NAI Ohio Equities in the future.
								p.testimonial-bio-source Mindy Hammond
								h5.testimonial-bio-company SC Wash and Tan
								p.testimonial-bio-quote I couldn't be more satisfied with the professionalism and dedication of the Sheeran Semon Team with our portfolio of properties. They have helped tremendously with our sales and acquisitions, and I couldn't think of a more solid team to work with. You can't go wrong with this group.
								p.testimonial-bio-source Daniel Duckworth
								h5.testimonial-bio-company Bandago
								p.testimonial-bio-quote Ohio Equities was great to work with, very helpful and understanding of our needs. We appreciated the high level of customer service, and look forward to working with them in the future.
								p.testimonial-bio-source Sharky Laguana, CEO
								h5.testimonial-bio-company Superior Metal Worx
								p.testimonial-bio-quote The experience with your team, and sales department was superb and went beyond our expectations. We all truly appreciated the respects you gave in our decisions, our time frame, and our requests as a company. As well as your kind, polite natures. At no point did we feel pressured, or pushed into this decision, which made the whole event even easier for us all. 
								p.testimonial-bio-source Shawn Komer
								h5.testimonial-bio-company Amerilimo Coach Sales
								p.testimonial-bio-quote The team of professionals at NAI Ohio Equities have been excellent at connecting us with great tenants for our business investment in Columbus, as well as matching us up with our property purchase many years ago.
								p.testimonial-bio-source Robert Mazzarella
								h5.testimonial-bio-company Midwest Medical Transport Company
								p.testimonial-bio-quote I cannot say enough about Dan Jr and how he worked to find my company a fantastic building in a fantastic location. We have very specific needs in our industry, and Dan was very attentive to those needs. Columbus is a very challenging market to find commercial properties in, but Dan found several viable options for me to look at. In the end, we leased a building that will suit our needs for years to come! During the lease negotiation process, Dan made sure that the lease protected our interests, while not leaving the owners vulnerable, and vice versa. He was also able to negotiate price that was very fair to us during this process as well. Opening a new business in Columbus is very challenging, but my experience with Dan and the rest of his team at NAI was the least challenging portion of getting Midwest Medical Transport Company up and running in Columbus. Thank you Dan Jr, Dan Sr and the rest of the NAI team!
								p.testimonial-bio-source Sean A. Heizer, Regional Manager
								h5.testimonial-bio-company Elite Boxing Gym
								p.testimonial-bio-quote Dan Sheeran, Jr. provided the absolute best service one could receive. His knowledge of commercial real estate was astounding along with his professionalism made for a top flight experience. Dan fought for the things that were important to our companies success, and after the deal was complete he still checks in with us to ensure things are going well.
								p.testimonial-bio-source Brandon Hamilton
								h4 Case Studies
								ul#case-studies-list
									li: a(href="../results/industrialpark.html") Southeast Industrial Park | Industrial Sales
								h4 Transactions
								ul#transactions-list
									p
										a(href="transactions/sheeransemon.pdf", target="_blank") View completed transactions
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2018/11/05/british-chef-finds-a-new-home-in-merion-village.html", target="_blank") British chef finds a new home in Merion Village (November 5, 2018)
										|
										a(href="news/msemon/2018-11-05.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/12/07/need-more-leg-room-on-that-next-family-vacation.html", target="_blank") Need more leg room on that next family vacation? New rental business might have an answer (December 7, 2017)
										|
										a(href="news/djsheeran/2017-12-07.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/10/26/columbus-warehouse-listed-as-perfect-for-medical.html", target="_blank") Columbus warehouse listed as 'perfect' for medical marijuana processing (October 26, 2017)
										|
										a(href="news/djsheeran/2017-10-26.pdf", target="_blank")
									li: a(href="https://www.dispatch.com/news/20170817/farber-specialty-vehicles-buys-former-andersons-site-near-brice-road", target="_blank") Farber Specialty Vehicles buys former Andersons site near Brice Road (August 27, 2017)
										|
										a(href="news/msemon/2017-08-17.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2017/06/20/out-of-state-buyer-snaps-up-huge-warehouse-near.html", target="_blank") Out-of-state buyer snaps up warehouse near John Glenn International (June 20, 2017)
										|
										a(href="news/msemon/2017-06-20.pdf", target="_blank")
									li: a(href="https://www.bizjournals.com/columbus/news/2016/12/12/wasserstrom-buys-whitehall-office-building-where.html", target="_blank") Wasserstrom buys Whitehall office building where it plans multimillion-dollar renovation (December 12, 2016)
										|
										a(href="news/msemon/2016-12-12.pdf", target="_blank")
									li: a(href="http://www.bizjournals.com/columbus/print-edition/2015/06/05/done-deal-terramart-buys-1000-buckeye-park-road.html", target="_blank") Done Deal: TerraSmart buys 1000 Buckeye Park Road (June 5, 2015)
									li: a(href="http://www.bizjournals.com/columbus/print-edition/2015/04/24/done-deal-jet-ontainer-picks-up-east-side.html", target="_blank") Done Deal: Jet Container picks up east side expansion site (April 24, 2015)
									li: a(href="http://www.bizjournals.com/columbus/print-edition/2014/08/01/done-deal-illworks-tenants-get-new-landlord.html", target="_blank") Done Deal: Millworks tenants get new landlord (August 1, 2014)
									li: a(href="http://www.bizjournals.com/columbus/news/2013/06/19/two-caterers-buys-former-hosters.html", target="_blank") Two Caterers buys former Hoster’s building in Brewery District (June 19, 2013)
									li: a(href="http://www.bizjournals.com/columbus/news/2013/03/15/wonderland-columbus-eyeing-franklinton.html", target="_blank") Wonderland Columbus eyeing Franklinton (March 15, 2013)
									li: a(href="http://www.bizjournals.com/columbus/print-edition/2012/05/18/more-condos-sell-at-carlyles-watch-as.html", target="_blank") More condos sell at Carlyles Watch as tower completes conversion (May 18, 2012)
				.broker-bio-right
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
					h4 Community Involvement
					p Knights of Columbus
						br
						| Our Lady of Peace Catholic Church
						br
						| Eagle Scout/Scout Troop 169
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
