- var titleContent = "NAI Ohio Equities | Michael Simpson, President"
- var metaContent = "Michael Simpson is President of NAI Ohio Equities. Michael offers leadership to NAI Ohio Equities agents while also representing his own clients throughout Columbus."
//- Select one of the following includes:
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Michael A. Simpson", "President", "614-629-5236", "614-306-1722", "msimpson", "naiohioequities", "instagram", "https://www.linkedin.com/in/michael-simpson-38173921", "msimpson", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Retail
						br
						| Office
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/kmarston.html")
							strong Kendra Marston 
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:kmarston@ohioequities.com") kmarston@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5294
						br
						br
						| 
						span.glyphicon.glyphicon-user
						a(href="../marketing/mgallion.html")
							strong Mariana Gallion
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:mgallion@ohioequities.com") mgallion@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Testimonials
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p As President of NAI Ohio Equities, Michael oversees both the operations and strategic direction of the firm. He is focused not only on improving financial performance and attracting and retaining top talent, but also on actively growing the client roster and serving their institutional clients, such as The Ohio State University and the Columbus Metropolitan Library.
								p Michael brings over three decades of real estate experience to guide both his clients and the agents and property managers at NAI Ohio Equities. Since becoming President in 2013, he has continued to grow the brokerage team and their property management division, currently with over 24,000,000 square feet under management. 
								p In his work as a broker and now as President, Michael leans on their core values to serve clients and grow the office: personal fulfillment, communication, integrity, and value creation. These tenets have led Michael, NAI Ohio Equities, and every team member there to become leaders in the central Ohio CRE market. As the largest locally owned brokerage and 44 years of completing more transactions than any other brokerage in the market, NAI has more experience, more relationships, and more flexibility to deliver solutions that get the job done.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p The most rewarding part of being in the commercial real estate industry is the satisfaction that comes from consulting for clients who are making significant real estate decisions that impact their business and families. When clients trust my judgment, take my advice, based on my experience and analysis, I feel a fulfillment that you can’t put a price on.
								h5 Why did you decide to make Columbus your home?
								p Ohio is a state of over 11,000,000 people. Central Ohio is the only region in the state with population growth, job growth, and significant new investment.
								h5 What is your favorite neighborhood/area of Columbus and why?
								p Being a Bexley native and current resident, I am definitely partial to the city that was the first municipal arboretum in the country.
								h5 What is your favorite hidden gem in Columbus?
								p The restaurant renaissance taking place in our urban areas; progressive and affordable, what more could you want!
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "msimpson@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								h4 Testimonials
								h5.testimonial-bio-company The Ohio State University
								p.testimonial-bio-quote "Mike has worked with Campus Partners in a various roles including acquisitions, dispositions and consulting on various projects.  In two separate projects for Campus Partners, Mike was able to compel properties owners who were previously unwilling enter into negotiations, to sell their properties, allowing projects important to both the University and the community at large to move forward."
								p.testimonial-bio-source Keith Myers, Associate Vice President Planning and Real Estate
								h5.testimonial-bio-company The New Albany Company
								p.testimonial-bio-quote "New Albany’s success stems from a high level of community interaction among all of the New Albany Company’s business partners. Our partnership with Mike Simpson and his team at NAI Ohio Equities, which includes listing property for sale as well as managing both residential and commercial properties, contributes significantly to our vision and values: to provide the highest possible quality of life for those who live and work in New Albany."
								p.testimonial-bio-source William G. Ebbing, President
								h5.testimonial-bio-company Germain Lexus
								p.testimonial-bio-quote "Mike and his team did a great job with our search for land to build a new Lexus service facility.  Rigid requirements dictated both by state law and customer convenience narrowed the property parameters significantly, but Mike persevered and gave us great options along with great expertise in the market. Additionally, Mike was able to negotiate a contract that gave us the time we needed to entitle the property to allow for the required zoning and street access.  Over all, working with Mike was a great experience."
								p.testimonial-bio-source Rick Germain
								h5.testimonial-bio-company Telhio Credit Union
								p.testimonial-bio-quote "Mike has represented Telhio Credit Union for many years and has successfully found sites for new branches in Polaris, Grove City, Worthington and Lancaster.  While some of these new sites were listed for sale, others were acquired from unwilling sellers, and with Mike's expertise, we were able to negotiate deals fair to all parties.  Mike's expertise stretches beyond identifying sites and negotiating deals:  Mike helps to coordinate our development team including engineers, architects and attorneys as we move through the entire development process.  Overall, our experience with Mike Simpson and NAI Ohio Equites has been positive and we intend to use Mike for future real estate assignments."
								p.testimonial-bio-source Leslie Bumgarner, President and CEO
								h5.testimonial-bio-company LiUNA Local 423
								p.testimonial-bio-quote "With Mike Simpson’s help, LiUNA is saving its membership thousands of dollars a year, while maintaining a location that serves us very well.  Besides the savings, we have the flexibility of being a tenant.  Mike did what he said he would do, and we couldn’t be happier."
								p.testimonial-bio-source Mark Lynsky, Secretary Treasure
								h4 Clients
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/newalbanycompany.png", alt="New Albany Company Logo")
									li: img.img-responsive(src="../img/logos/telhio.png", alt="Telhio Credit Union logo")
									li: img.img-responsive(src="../img/logos/huntington.png", alt="Huntington Bank logo")
									li: img.img-responsive(src="../img/logos/pnc.png", alt="PNC Bank logo")
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.bizjournals.com/columbus/news/2018/12/20/death-of-big-box-stores-has-not-affected-columbus.html", target="_blank", rel="noopener noreferrer") Death of big box stores has not affected Columbus retail real estate (December 20, 2018)
										|
										a(href="news/msimpson/2018-12-20.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/news/20171124/former-africentric-school-expects-to-fetch-high-price-during-auction", target="_blank", rel="noopener noreferrer") Former Africentric School expects to fetch a high price during auction (November 24, 2017)
										|
										a(href="news/msimpson/2017-11-24.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/news/20171113/whitehalls-rebound-lures-new-businesses-residents", target="_blank", rel="noopener noreferrer") Whitehall’s rebound lures new businesses, residents (November 13, 2017)
										|
										a(href="news/msimpson/2017-11-13.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/news/20171031/longabergers-big-basket-might-go-to-sheriffs-auction-after-sale-collapses", target="_blank", rel="noopener noreferrer") Longaberger’s ‘Big Basket’ might go to sheriff’s auction after sale collapses (October 31, 2017)
										|
										a(href="news/msimpson/2017-10-31.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/news/20170810/downtown-development-boom-seems-endless-experts-say", target="_blank", rel="noopener noreferrer") Downtown development boom seems endless, experts say (August 10, 2017)
										|
										a(href="news/msimpson/2017-08-10.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="news/msimpson/2017-07-02-Areas_empty_storefronts.pdf", target="_blank", rel="noopener noreferrer") Area’s empty storefronts likely to be filled, but by quite different tenants (July 2, 2017)
										|
										a(href="news/msimpson/2017-07-02-Areas_empty_storefronts.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.bizjournals.com/columbus/print-edition/2016/05/20/nai-ohio-equities-gets-job-to-find-retailers-for.html", target="_blank", rel="noopener noreferrer") NAI Ohio Equities gets job to find retailers for New Albany (May 20, 2016)
										|
										a(href="news/msimpson/2016-05-20-NAI_Ohio_Equities_gets_job_to_find_retailers_for_New_Albany_-_Co.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="news/msimpson/2017-05-08.pdf", target="_blank", rel="noopener noreferrer") Buyer sought for 6-acre site in Dublin’s Bridge Street District (May 8, 2017)
										|
										a(href="news/msimpson/2017-05-08.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/content/stories/business/2015/07/27/Central-Ohio-to-gain-2200-jobs.html", target="_blank", rel="noopener noreferrer") Tax incentives could help Amazon create 2,000 jobs in Central Ohio (July 28, 2015)
										|
										a(href="news/msimpson/2015-07-28-Amazon.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.bizjournals.com/columbus/news/2015/01/09/huntington-bank-sells-worthington-branch-for-2-5m.html", target="_blank", rel="noopener noreferrer") Huntington Bank sells Worthington branch for $2.5M (January 9, 2015)
										|
										a(href="news/msimpson/2015-01-09-Telhio_Credit_Union_buys_Huntington_branch.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="https://www.dispatch.com/content/stories/business/2014/12/07/so-long-sprawl.html", target="_blank", rel="noopener noreferrer") Suburbs building walkable urban centers to lure millennials, empty nesters (December 7, 2014)
										|
										a(href="news/msimpson/2014-12-07-Suburbs_building_walkable_urban_centers.pdf", target="_blank", rel="noopener noreferrer")
									li: a(href="news/msimpson/2014-11-23-Developers_fill_for_central_Ohio_s_need_for_warehouse_space.pdf", target="_blank", rel="noopener noreferrer") Developers fill for central Ohio’s need for warehouse space (November 23, 2014)
										|
										a(href="news/msimpson/2014-11-23-Developers_fill_for_central_Ohio_s_need_for_warehouse_space.pdf", target="_blank", rel="noopener noreferrer")
				.broker-bio-right
					h4 Education
					p BA, Economics
						br
						| Capital University
					h4 Professional Affiliations
					p National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p ULI Columbus - Vice Chairman, Management Committee Member
						br 
						| Bexley Community Foundation - Board Member
						br 
						| Former Chairman, City of Bexley Planning Commission
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
