- var titleContent = "NAI Ohio Equities | Max Ward"
- var metaContent = " Max Ward is an Associate at NAI Ohio Equities in Columbus, Ohio. He specializes in retail sales and leasing. Max is a graduate of the University of Cincinnati and is a member of the Columbus Board of Realtors and the National Association of Realtors."
//- Select one of the following includes:
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Max Ward", "Associate", "614-629-5204", "513-833-4297", "mward", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/max-ward234/", "mward", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Retail
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jramsey.html")
							strong Jacque Ramsey
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jramsey@ohioequities.com") jramsey@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5256
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							//- li(role="presentation")
							//- 	a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							//- li(role="presentation")
							//- 	a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p While studying at the University of Cincinnati, Max Ward joined the University of Cincinnati Real Estate Association (UCREA), which ignited his passion for the industry. After graduating in 2024, Max moved to Columbus to begin his real estate career. He earned his license and spent six months as a retail agent before joining NAI Ohio Equities. Max will continue to focus on retail sales and leasing and takes pride in finding solutions to his clients’ needs through his creative approach.
								p Max graduated with a B.S. in Business in Real Estate and a minor in entrepreneurship from the University of Cincinnati. In his free time Max enjoys golfing, fishing, frisbee golfing, and hanging out with family and friends. He also enjoys watching the Cincinnati Reds and the Bengals.
								hr
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "mward@ohioequities.com"
									});
							//- .tab-pane#clients(role="tabpanel")
							//- 	ul#clients-list.clearfix
							//- 		li: img.img-responsive(src="../img/logos/covermymeds.png", alt="CoverMyMeds Logo")
							//- 		li: img.img-responsive(src="../img/logos/cameronmitchellrestaurants.png", alt="Cameron Mitchell Restaurants logo")
							//- 		li: img.img-responsive(src="../img/logos/furniturebank.png", alt="Furniture Bank logo")
							//- 		li: img.img-responsive(src="../img/logos/healthcarerealtytrust.png", alt="Healthcare Realty Trust logo")
							//- 		li: img.img-responsive(src="../img/logos/arthurgoldman.png", alt="Arthur Goldner & Associates logo")
							//- 	h4 Case Studies
							//- 	ul#case-studies-list
							//- 		li: a(href="../results/pnc.html") PNC Plaza | Office Leasing
							//- 	h4 Transactions
							//- 	ul#transactions-list
							//- 		li Cameron Mitchell Restaurants | 16,846 SF | The Buggyworks (Lease)
							//- 		br
							//- 		p
							//- 			a(href="transactions/adutcher.pdf", target="_blank", rel="noopener noreferrer") View completed transactions
							//- .tab-pane#news(role="tabpanel")
							//- 	ul.broker-bio-news-list
							//- 		li: a(href="news/mgregory/2016-08-20.pdf", target="_blank", rel="noopener noreferrer") Northwoods II office building changes ownership; NAI Ohio Equities retains leasing (August 20, 2016)
							//- 		li: a(href="http://www.bizjournals.com/columbus/news/2016/07/22/top-of-the-list-biggest-office-leases-of-2015.html?ana=fbk", target="_blank", rel="noopener noreferrer") Top of the List: Biggest Office Leases of 2015 (July 22, 2016)
							//- 		li: a(href="http://media.wix.com/ugd/9c9a38_162f67b3a8814daeb561ccb083aaae05.pdf", target="_blank", rel="noopener noreferrer") Furniture Bank Bed Race Raises $14,000+! (July 18, 2016)
							//- 		li: a(href="http://media.wix.com/ugd/9c9a38_dfd676d3835642b7944d3df938b6a34a.pdf", target="_blank", rel="noopener noreferrer") Cameron Mitchell moving corporate HQ to the Arena District (May 2, 2016)
							//- 		li: a(href="http://www.costar.com/News/Article/Office-Lease-Up-Jan-18-Chemonics-BerkleyNet-Take-Down-Big-Leases-in-Northern-Virginia/178960", target="_blank", rel="noopener noreferrer") CoverMyMeds Leases 15,000 SF in Highland Hills (January 18, 2016)
				.broker-bio-right
					h4 Education
					p BBA, Real Estate
						br 
						| Minor, Entrepreneurship
						br 
						| University of Cincinnati, 2024
					h4 Professional Affiliations
					p Columbus REALTORS&reg;
					h4 Community Involvement
					p Dog walking for a Dog Shelter
					h4 Awards 
					p DHL Student Scholarship
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug