- var titleContent = "NAI Ohio Equities | Patrick Larrimer"
- var metaContent = "Patrick Larrimer is a commercial real estate agent at NAI Ohio Equities, serving clients across the central Ohio region."
//- Select one of the following includes:
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Patrick Larrimer", "Commercial Agent", "614-629-5249", "614-746-5602", "plarrimer", "PatLarrimerCRE", "instagram", "https://www.linkedin.com/in/patrick-larrimer-25995b49", "plarrimer", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Multifamily
						br
						| Office
						br
						| Industrial
						br
						| Land
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jshipley.html")
							strong Jackie Shipley
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jshipley@ohioequities.com") jshipley@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
							li(role="presentation")
								a(href="#news", aria-controls="news", role="tab", data-toggle="pill") News
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Patrick is a Columbus native who represents buyers and sellers, as well as landlords and tenants in all fields of commercial real estate. He has extensive experience in client relations and networking from his experience working in Denver at one of the largest chambers of commerce in the country. Patrick brings energy and determination to all his endeavors, both in work and life.
								hr
								h5 What do you like most about Commercial Real Estate?
								p Seeing the city change and grow before your eyes and being able to participate in that development. I decided to make CRE my career to be active in the growth of this city. Columbus is a noteworthy market, even when considering the entire country, so it makes a great place to work. 
								h5 Why did you decide to make Columbus your home?
								p I made Columbus my home because I grew up here and love the city. After a three-year stint living in Denver, I moved home to start my CRE career and be close to my family. 
								h5 If you had to pick a song to walk-up to (similar to baseball), what would it be?
								p My walk-up song would be “Wanna Be a Baller” by Lil' Troy.
								h5 What is your favorite neighborhood / area of Columbus / Central Ohio? Why?
								p Favorite neighborhood is German Village because its unique, beautiful, and fun.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "plarrimer@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/urbntimber.png", alt="Urbn Timber Logo")
									li: img.img-responsive(src="../img/logos/upperiscope.png", alt="Up Periscope logo")
									li: img.img-responsive(src="../img/logos/topycpa.png", alt="Topy CPA logo")
									li: img.ing-responsive(src="../img/logos/2kgeneral.png", alt="2k General logo")
									li: img.ing-responsive(src="../img/logos/bartlett.png", alt="Bartlett logo")
									li: img.ing-responsive(src="../img/logos/bronzedbunny.png", alt="Bronzed Bunny logo")
									li: img.ing-responsive(src="../img/logos/evolved.png", alt="Evolved logo")
									li: img.ing-responsive(src="../img/logos/financefund.png", alt="Finance Fund logo")
									li: img.ing-responsive(src="../img/logos/nationallime.png", alt="National Lime logo")
									li: img.ing-responsive(src="../img/logos/sagles.png", alt="Sagle's Automotive Paints logo")
								h4 Testimonials
								h5.testimonial-bio-company Finance Fund
								p.testimonial-bio-quote "We are thankful to have had Patrick Larrimer and NAI Ohio Equities on our side, negotiating the terms of the transaction and ensuring that the properties were available to us to complete the necessary inspections and due diligence prior to closing. With an aggressive timeline of 18 months to acquire, renovate, and place in service these 100 units, Finance Fund could not delay any portion of the transaction.  For such a large project, the closing went smoothly.  We applaud the work of Patrick and team and look forward to making a positive impact in Franklinton and Central Ohio. Finance Fund is thrilled to play a lead role in the unique and impactful redevelopment of 1551 W. Broad St. in Carol Stewart Village.  Converting these former hotels, known for drug and other illegal activity, into supportive housing for at-risk youth is an exciting prospect, but one that will take the support and collaboration of many partners."
								p.testimonial-bio-source Jeffrey T. Mohrman, Esq, VP Real Estate Development
								h5.testimonial-bio-company Figtree Equities
								p.testimonial-bio-quote "Patrick was extremely responsive and knowledgeable and was an outstanding source of information and excellent representation throughout the entire process of the purchase. Being a local landlord,  as well as being born and raised in Columbus, Patrick’s intuitive knowledge of the local real estate market and diverse network proved invaluable for my company and investors. I will absolutely be using him in the future for more purchases in Columbus."
								p.testimonial-bio-source Levi Feigenbaum, CIO
								h4 Top Transactions
								ul#transactions-list
									li Finance Fund | 16,000 SF | 1551 W Broad St (Sale)
									li National Lime and Stone | 373 Acres | 5911 Lockbourne Rd (Sale)
									li Urban Timber | 10,000 SF | 29 Kingston Ave (Lease)
									li SAI Stone 2 | 116,186 SF | 2225 Greif Rd (Lease)
									li Kingston Realty | 11,600 SF | 49 Kingston Ave (Lease)
							.tab-pane#news(role="tabpanel")
								ul.broker-bio-news-list
									li: a(href="https://www.rejournals.com/nai-ohio-equities-helps-close-sale-of-former-ohio-motels-20190320", target="_blank") NAI Ohio Equities helps close sale of former Ohio motels (March 20, 2019)
										|
										a(href="news/plarrimer/2019-03-20.pdf", target="_blank")
									li: a(href="https://www.dispatch.com/business/20190227/blighted-franklinton-hotels-will-become-apartments-for-those-transitioning-out-of-foster-care", target="_blank") Blighted Franklinton hotels will become apartments for those transitioning out of foster care (February 27, 2019)
										|
										a(href="news/plarrimer/2019-02-27.pdf", target="_blank")
									li: a(href="http://www.ohioequities.com/wp/news/patrick-larrimer-assists-the-animal-health-organization-find-a-home/", target="_blank") Patrick Larrimer Assists The Animal Health Organization Find a Home (November 20, 2017)
									li: a(href="https://www.bizjournals.com/columbus/news/2017/08/22/373-acres-of-development-land-for-sale-south.html", target="_blank") 373 acres of development land for sale south of Columbus (August 22, 2017)
										|
										a(href="news/plarrimer/2017-08-22.pdf", target="_blank")
				.broker-bio-right
					h4 Education
					p BA, Psychology
						br
						| Ohio University, 2009
						br
						br
						| St Charles Preparatory
						br
						| Class of 2005
					h4 Professional Affiliations
					p National Association of REALTORS&reg;
						br
						| Ohio Association of REALTORS&reg;
						br
						| Columbus REALTORS&reg;
					h4 Community Involvement
					p St Charles Alumni Association
						br
						| Larrimer Cup, Organizer
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
