- var titleContent = "NAI Ohio Equities | Patrick Lyons"
- var metaContent = "Patrick Lyons is a commercial real estate agent at NAI Ohio Equities, serving clients across the central Ohio region."
//- Select one of the following includes:
include ../../mixins/brokers-bio.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			//- If any parameters are not applicable, leave variable as default below
			+bio("Patrick Lyons", "Commercial Real Estate Agent", "614-629-5285", "614-824-7227", "plyons", "thepatricklyons", "instagram", "https://www.linkedin.com/in/patrick-lyons-aa506787", "plyons", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p Office Leasing
						br
						| Office and Multi-Family Investments
					h4#header-assistant Assistant
					p
						span.glyphicon.glyphicon-user
						a(href="../marketing/jshipley.html")
							strong Jackie Shipley
						br
						|
						|
						span.glyphicon.glyphicon-envelope
						a(href="mailto:jshipley@ohioequities.com") jshipley@ohioequities.com
						br
						|
						|
						span.glyphicon.glyphicon-earphone
						| (614) 629-5219
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li(role="presentation", class="active")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
							li(role="presentation")
								a(href="#listings", aria-controls="listings", role="tab", data-toggle="pill") Listings
							li(role="presentation")
								a(href="#clients", aria-controls="clients", role="tab", data-toggle="pill") Clients and Transactions
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Patrick Lyons focuses on representing clients for leasing, as well as office and multi-family investments.
								p Prior to joining the company in 2016, he acquired over 11 years of experience through three businesses that he started. Being deeply resourceful, Patrick is always finding new ways to effectively approach and overcome challenges. From growing an auto detailing business of his own, to marketing and helping others optimize their own business, Patrick has developed a unique way of doing things to successfully take a real estate transaction from A to Z.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p As someone who has always had an entrepreneurial mindset through starting businesses, negotiating deals and investing, I think it was only a matter of time until I got into Commercial Real Estate. Real Estate is fascinating to be in because it is an industry where each transaction is different from the last. It allows you to experience new circumstances on a daily basis, which not only keeps things interesting, but challenges you each day to be creative when it comes to overcoming all sorts of obstacles.
								h5 Why did you decide to make Columbus your home?
								p Originally I moved to Columbus from Cleveland to go to The Ohio State University for Finance. It is no secret that Columbus is by far the largest city in Ohio. With the constant growth and the increase in opportunity in Columbus, it only made sense to stay. Columbus is a city that is not only thriving, but a place where you can always find something new to explore.
								h5 Where do you like to vacation?
								p Being from Cleveland, Ohio I think it is only natural to say Palm Beach, Florida is a great place to vacation. You will not find Lake Effect snow there and it is one of the most enjoyable places to explore, both on land and in the water.
							.tab-pane#listings(role="tabpanel")
								#buildout
								script(type="text/javascript", src="//buildout.com/api.js?v8")
								script(type="text/javascript").
									BuildOut.embed({
									token: "20c619670fc47d29ec597179328d57313cad9d2e",
									plugin: "brokers",
									target: "buildout",
									tab: "listings",
									brokerId: "plyons@ohioequities.com"
									});
							.tab-pane#clients(role="tabpanel")
								ul#clients-list.clearfix
									li: img.img-responsive(src="../img/logos/eventsbylinzy.png", alt="Events By Linzy logo")
									li: img.img-responsive(src="../img/logos/usps.png", alt="USPS logo")
								h4 Transactions
								ul#transactions-list
									p
										a(href="transactions/plyons.pdf", target="_blank") View completed transactions
				.broker-bio-right
					h4 Education
					p Associate of Science and Associate of Arts
						br
						| Lakeland Community College
						br
						br
						| Studied at The Ohio State University
					h4 Membership
					p Columbus REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Athletic Club of Columbus
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug