- var titleContent = "NAI Ohio Equities | Al DiLorenzo"
- var metaContent = "Al Dilorenzo is a Realtor®, artist, and community organizer working for NAI Ohio Equities in Columbus, Ohio."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Al DiLorenzo", "Licensed Marketing Assistant", "614-629-5294", "adilorenzo", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/aldilorenzo", "adilorenzo", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Education
					p BFA, Studio Art 
						br
						| Dennison University, 2019
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Al Dilorenzo is a Realtor&reg;, artist, and community organizer. With a background in both residential and commercial real estate, she utilizes her deep understanding of the transaction process to provide administrative and marketing support to Agent, John Mally.
								p Al holds a B.F.A. in Studio Art and began her career freelancing in technology, website development, design, and social media management. This experience combined with her real estate knowledge, allows her to provide exceptional service and enhances the presence and visibility of listings for clients.
								hr
								h5 Why did you decide to get into Commercial Real Estate? 
								p I see Commercial Real Estate as an opportunity to be on the leading edge of what’s happening in our community at an economic, business, and grassroots level.
								h5 What is one of your favorite buildings in Columbus?
								p The William Green building is my favorite. I appreciate its unique shape in the Columbus skyline.
								h5 What has been the best part of Columbus’ growth over the past few decades?
								p The best part about Columbus’ growth is seeing its culture thrive through its evolution from agricultural town to metropolitan city.
					.navspacer
				.broker-bio-right
					h4 Membership
					p National Board of REALTORS&reg;
						br 
						| Ohio REALTORS&reg;
						br 
						| Columbus REALTORS&reg;
						br 
						| Ohio Commercial Real Estate Exchangers (OCREE)
						br 
						| Ohio Business Brokers Association (OBBA)
						br 
						| International Business Brokers Association (IBBA)
						br 
						| Urban Land Institute (ULI)
						br 
						| Columbus Metropolitan Club
					h4 Community Involvement 
					p 934 Gallery
						br 
						| Milo Arts District
						br 
						| Mural ReMix
						br 
						| National Ladies Homestead Gathering
						br 
						| Urban Farm Church
						br 
						| Columbus Quantum Computing Meet-Up Group
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug