- var titleContent = "NAI Ohio Equities | Amy Karnes"
- var metaContent = "Amy Karnes is the Marketing Director at NAI Ohio Equities where she is responsible for the marketing direction and branding solutions."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Amy Karnes", "Marketing Director", "614-629-5239", "akarnes", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/amy-karnes-cpsm-4407263/", "akarnes", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Membership
					p SMPS Columbus, Past President 
						br
						| SMPS Columbus, Logistics Co-Chair, 2022-2023
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Amy serves as our Marketing Director, leading the strategic marketing efforts of the entire company.  She creates and develops full-scope marketing campaigns on properties, working closely with brokers, property managers and administrative staff. Amy is in charge of all marketing for the company, including proposals, e-mail campaigns, social media, marketing collateral and case studies. She ideates and strategizes with the leadership team positioning the company as a leader in the market.
								p Amy leads the marketing and administrative team that supports our brokerage and property management divisions. She is a unique blend of creative and analytical and thrives in knowing the inner works of the commercial real estate industry.
								hr
								h5 What is one of your favorite buildings in Columbus?
								p My favorite building in Columbus is the Leveque Tower. I love the fact that it is an awesome art deco building in downtown Columbus.
								h5 What is your favorite neighborhood/area of Columbus/Central Ohio? 
								p German Village is definitely one of the best neighborhoods in Columbus. I love all the hidden alleys, restaurants within the neighborhood and brick streets.
								h5 Where do you like to vacation?
								p While I do take my fair share of vacations, I almost never vacation in the same spot twice. A few of my favorite vacations in the past few years include visiting the “Mighty 5” National Parks in Utah and Arizona, travelling through Vietnam, driving the entire Ring Road in Iceland and exploring my favorite small town in America, Traverse City, Michigan.
				.broker-bio-right
					h4 Education
					p BA, Communication
						br
						| The Ohio State University, 2004
					h4 Community Involvement
					p At Home by High, Board Member, Secretary, 2021-Present
						br 
						| NAI Global Women's Alliance Leadership Council (2019-2020)
						br 
						| NAI Global Marketing Leadership Council (2019-Present)
					h4 Speaking Engagements 
					p NAI Global Conference 2019, 2020, 2021, 2022
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug