- var titleContent = "NAI Ohio Equities | Daron Blake"
- var metaContent = "Daron Blake is the Director of Information and Technology at NAI Ohio Equities where he is responsible for technology oversight and support."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Daron Blake", "Director of Information and Technology", "614-629-5268", "dblake", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/daron-blake-88726462/", "dblake", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Specialties
					p y
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p 
								hr
								h5 Why did you decide to make Columbus your home?
								p 
				.broker-bio-right
					h4 Education
					p 
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug