- var titleContent = "NAI Ohio Equities | Heather Haines"
- var metaContent = "Heather Haines is a marketing assistant at NAI Ohio Equities where she works closely with the Industrial Services Team as well as several other commercial real estate agents."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Heather Haines", "Marketing Assistant", "614-629-5226", "hhaines", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/heather-h-02b60832/", "hhaines", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Heather is one of the marketing assistants at NAI Ohio Equities. Her skills in graphic design, marketing, office assistance and customer service will be used on a daily basis. These skills were developed by working in the building and museum industries, spending time at both the Smithsonian Institution and Dr Pepper Museum. Her unconventional experience has honed a unique skillset that she is excited to put to work in the commercial real estate field.
								hr
								h5 What is a favorite pastime you enjoy?
								p In my free time I like to hang out with my husband and dog, be active playing sports and running, and make crafts with pallets.
								h5 Who are your favorite sports teams?
								p I enjoy watching Ohio State football and the Barclay’s Premier League. I really enjoyed watching Leicester City beat the odds and win in 2016.
								h5 What is your favorite hidden gem in Columbus?
								p I love the Columbus Metro Parks. They are a nature retreat in the middle of the city with lots of trails to explore. One day I was on a trail run and I crossed paths with a Turkey.
				.broker-bio-right
					h4 Education
					p BA, Art Administration
						br
						| West Virginia Weslyan College
						br
						br
						| MA, Museum Studies
						br
						| Baylor University
					h4 Community Involvement
					p Conversation partner for international students attending The Ohio State University through International Friendships
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug