- var titleContent = "NAI Ohio Equities | Jennifer Stretton"
- var metaContent = "Jennifer Stretton is a marketing assistant with NAI Ohio Equities in Columbus, Ohio."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Jennifer Stretton", "Marketing Assistant", "614-629-5219", "jstretton", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/jennifer-stretton-8bb35a25/", "jstretton", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Membership
					p International Business Society
						br 
						| American Marketing Association
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Jennifer has over seven years of experience in marketing, finance and management. Originally from Athens, she graduated from Ohio University in 2013 with a degree in Business Economics and International Business. Jennifer is the marketing assistant for four agents, where she will be working on flyers, proposals, social media, document preparation and scheduling. Jennifer is an avid hiker and enjoys exploring Columbus on the weekend.
								hr
								h5 What is one of your favorite buildings in Columbus?
								p The Columbus Metropolitan Library Downtown, not only is it a beautiful building but it is filled with books and art, my two favorite things. 
								h5 What is your favorite neighborhood/area of Columbus/Central Ohio? 
								p I love how electric and homey Clintonville feels especially around Iuka Park. 
								h5 Where do you like to vacation? 
								p Any major city with history. I really enjoyed exploring Boston, Massachusetts and Philadelphia, Pennsylvania.  
								h5 What is a favorite pastime you enjoy?
								p I love exploring the galleries during Gallery Hop in the short north, as well as going to the Columbus Museum of Art on the weekends. 
				.broker-bio-right
					h4 Education
					p BBA, Business Economics and International Business
						br
						| The Ohio University, 2013
					h4 Community Involvement 
					p Planned Parenthood
						br 
						| Equality Ohio
						br 
						| NEDA advocacy
						br
						| Choices for Domestic Violence
						br
						| NAMI 
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug