- var titleContent = "NAI Ohio Equities | Kurt Gatterdam, CFO"
- var metaContent = "Kurt Gatterdam is the CFO at NAI Ohio Equities in Columbus, Ohio"
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Kurt Gatterdam", "Chief Financial Officer", "614-629-5253", "kgatterdam", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/company/nai-ohio-equities", "kgatterdam", "customurl")
			.broker-bio-content
				.broker-bio-left
					h4 Certifications
					p Certified Public Accountant 
						br
						| Certificed Treasury Professional
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mr. Gatterdam is Chief Financial Officer and joined the Company in February 2021. Mr. Gatterdam is responsible for overseeing NAI Ohio Equities accounting, financial reporting and treasury, investor relations, compliance and human resources. Prior to joining NAI Ohio Equities, Mr. Gatterdam was Vice President, Finance for Fillmore Capital Partners, LLC., Vice President and Treasurer for DSW, Tween Brands and Assistant Treasurer for Papa John’s International. Mr. Gatterdam holds a B.S. in Finance from The Ohio State University, a Master of Business Administration from Ohio University and is a Certified Public Accountant and Certified Treasury Professional.
								hr
				.broker-bio-right
					h4 Education
					p BS, Finance and MBA 
						br
						| The Ohio State University
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug