- var titleContent = "NAI Ohio Equities | Kaydee Hurst"
- var metaContent = "Kaydee Hurst is a licensed marketing assistant at NAI Ohio Equities where she works closely with the Industrial Services Team as well as several other commercial real estate agents."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Kaydee Hurst", "Licensed Marketing Assistant", "614-629-5226", "khurst", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/kathryn-laney-4a513960/", "khurst", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Kaydee joined NAI Ohio Equities in 2017 as a marketing assistant and completed her education and requirements to become a licensed real estate agent in 2020. Originally from Hicksville, Ohio, she moved to Columbus in 2010 to pursue a degree at The Ohio State University. She has previously held positions in technical writing, marketing, executive administration and internal communications. In her free time, Kaydee enjoys spending time with her fiancé and 2 sons, doing photography, watching Ohio State football and Columbus Crew soccer, and exploring the Central Ohio region.
								hr
								h5 Why did you decide to make Columbus your home?
								p I moved here to attend OSU in 2010 and fell in love with the city immediately. I contemplated moving away after graduation, but quickly changed my mind when I saw how the city was changing and growing rapidly. I couldn’t imagine living anywhere else now.
								h5 What is your favorite neighborhood/area of Columbus?
								p Italian Village – I live in the neighborhood and love all of the hidden gem restaurants, shops and bars tucked into the neighborhood away from High Street.
								h5 Who are your favorite sports teams?
								p Ohio State Buckeyes, of course. And Columbus Crew – I’m a season ticket member!
				.broker-bio-right
					h4 Education
					p BA, Public Affairs Journalism
						br
						| The Ohio State University, 2014
					h4 Community Involvement
					p Columbus Certified Tourism Ambassador
						br
						| Ronald McDonald House Charities
					h4 Membership 
					p Columbus REALTORS&reg;
						br 
						| Ohio Association of REALTORS&reg;
						br
						| National Association of REALTORS&reg;
						br
						| Worthington Moose Lodge #1427, WOTM Guide
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug
