- var titleContent = "NAI Ohio Equities | Kaydee Laney"
- var metaContent = "Kaydee Laney is a marketing assistant at NAI Ohio Equities where she works closely with the Industrial Services Team as well as several other commercial real estate agents."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Kaydee Laney", "Marketing Assistant", "614-629-5226", "klaney", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/kathryn-laney-4a513960/", "klaney", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Kaydee is originally from Hicksville, Ohio and moved to Columbus in 2010 to pursue a degree in Journalism at The Ohio State University. She has previously held positions in technical writing, customer service, executive administration and internal communications. Kaydee has 2 sons: Finlay (4 months) and Brayden (6 years). She enjoys playing golf, soccer and camping in her free time. 
								hr
								h5 Why did you decide to make Columbus your home?
								p I moved here to attend OSU in 2010 and fell in love with the city immediately. I contemplated moving away after graduation, but quickly changed my mind when I saw how the city was changing and growing rapidly. I couldn’t imagine living anywhere else now.
								h5 What is your favorite neighborhood/area of Columbus?
								p Italian Village – I live in the neighborhood and love all of the hidden gem restaurants, shops and bars tucked into the neighborhood away from High Street.
								h5 Who are your favorite sports teams?
								p Ohio State Buckeyes, of course. And Columbus Crew – I’m a season ticket member!
				.broker-bio-right
					h4 Education
					p BA, Public Affairs Journalism
						br
						| The Ohio State University, 2014
					h4 Community Involvement
					p Ronald McDonald House Charities
						br
						| Keep Columbus Beautiful
						br
						| Commons for Kids
						br
						| Habitat for Humanity
						br
						| Leukemia &amp; Lymphoma Society
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug