- var titleContent = "NAI Ohio Equities | Kendra Marston"
- var metaContent = "Kendra Marston is a Marketing Assistant at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Kendra Marston", "Licensed Marketing Assistant", "614-629-5294", "kmarston", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/kendra-marston/", "kmarston", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Kendra joined NAI Ohio Equities in November 2021 after moving to the Columbus area from Minocqua, Wisconsin. During her time in Wisconsin, Kendra attended the University of Wisconsin La Crosse where she pursued a degree in Marketing and was actively involved in organizations such as the American Marketing Association. In her free time, Kendra enjoys exploring the Columbus area, finding new places to visit and planning new adventures!
								hr
								h5 Where do you like to vacation?
								p My favorite place to vacation is anywhere there is a beach. Whether it’s on a lake or on the ocean, as long as there is sunshine and sand – its vacation to me! 
								h5 What is a favorite pastime you enjoy? 
								p One of my favorite pastimes is kayaking. I grew up around a lot of lakes and rivers and would spend a lot of my time on the water exploring. I find it to be a relaxing, yet active activity to do you can do with friends and family.
								h5 What is your favorite hidden gem in Columbus?
								p Although it may not be hidden, the Franklin Park Conservatory and Botanical Gardens is definitely a gem in the Columbus area!
				.broker-bio-right
					h4 Education
					p BS, Marketing 
						br 
						| The University of Wisconsin La Crosse, 2020
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug