- var titleContent = "NAI Ohio Equities | Mariana Gallion"
- var metaContent = "Mariana Gallion is a marketing administrative assistant with NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Mariana Gallion", "Marketing Assistant", "614-629-5219", "mgallion", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/mariana-gallion-364a931a1/", "mgallion", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Mariana joined Ohio Equities in November 2022 as a Marketing Administrative Assistant. She graduated from Otterbein University with a BA in Business Administration in 2021 and immediately jumped into the world of real estate as a Transaction Coordinator where she learned all the details regarding how transactions are conducted and the value of strong marketing. In her free time, Mariana volunteers in youth sports where she teaches sportsmanship values and skills that help children succeed in life through sports. 
								hr
								h5 Where do you like to vacation?
								p I have gone to Ocean Isle North Carolina the past few years and love the small-town atmosphere. Soon I hope to explore out West and see all its beauty.
								h5 What is a favorite pastime you enjoy?
								p A few of my pastimes I enjoy are volleyball, pickleball, hiking or shopping. 
								h5 Who are your favorite sports teams?
								p Cincinnati Bengals, OSU, and Kentucky Basketball.
				.broker-bio-right
					h4 Education
					p BA, Business Administration 
						br
						| Otterbein University, 2021
					h4 Community Involvement 
					p i9 Sports - Volunteer, 2021-Current
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug