- var titleContent = "NAI Ohio Equities | Sarah Lewis"
- var metaContent = "Sarah Lewis is a Marketing Assistant at NAI Ohio Equities."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Sarah Lewis", "Marketing Assistant", "614-629-5219", "slewis", "NAIOhioEquities", "NAIOhioEquities", "https://www.linkedin.com/in/sarahjeanlewis/", "slewis", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Sarah Lewis joined NAI Ohio Equities in October 2021, bringing with her more than 23 years of residential, retail, and multi-family real estate experience. Sarah previously served as the Marketing and Communications Manager for an affordable, multi-family housing provider whose non-profit division provided social services. Sarah’s responsibilities included managing the marketing and communication efforts of more than 35 housing portfolios and numerous resident service initiatives, as well as the development and execution of strategic communication plans.
								p As a Marketing Assistant to several NAI Ohio Equities Commercial Agents, Sarah Lewis assists her team with all marketing initiatives - collaborating with internal and external customers to develop marketing and communication strategies that align with, and drive forward, business objectives. 
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I’ve worked in real estate my whole career – why not commercial?!  I’m looking forward to finally getting my real estate license.
								h5 What has been the best part of Columbus’ growth over the past few decades? 
								p I have been very excited to witness the attraction to the Midwest market that we’ve seen in recent years and am proud of the growth and stability in the Columbus market since moving back home from San Diego, CA in 2008.  While there have been hiccups, Columbus has proven to be increasingly diverse and relatively affordable, despite the growth we’ve experienced.  
								h5 Why did you decide to make Columbus your home? 
								p I was born here, but made the discerning decision to move back from San Diego, CA in 2008 - a difficult decision considering the southern CA climate.  But I did so because of the people, Midwest values, and affordability.
								h5 What is your favorite neighborhood/area of Columbus/Central Ohio?
								p As a native Ohioan, this is really hard to choose a favorite Columbus Neighborhood.  I love Worthington and Lewis Center which is where I grew up/currently live, but I’m quickly growing into a Bexley fan.
								h5 Where do you like to vacation? 
								p I’ve been fortunate to travel and experience many places, but two of my favorite destinations, so far, have been Southern France (Monaco/Monte Carlo) and Costa Rica.
								h5 What’s a favorite pastime you enjoy? 
								p Playing with my dogs, watching ‘sports ball’ with my significant other, watching comedy – from standup to podcasts to late night, traveling, and yoga/Pilates.
								h5 Who are your favorite sports teams?  
								p Ohio State football, Cleveland Browns (season ticket holder, runs in the family), Columbus Blue Jackets, San Diego Padres, the Chargers (prior to them leaving San Diego)
				.broker-bio-right
					h4 Education
					p Attended Columbus State Community College 
						br 
						| Digital Design &amp; Graphics
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug