- var titleContent = "NAI Ohio Equities | Tim Leathery"
- var metaContent = "Tim Leathery is a researcher at NAI Ohio Equities where he conducts market and property research to help agents expand their market knowledge and expertise."
include ../../extends/social-ext.pug

doctype html
html(lang="en")
	include ../../extends/brokers-ext.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			+bio-marketing("Tim Leathery", "Researcher", "614-629-5261", "tleathery", "naiohioequities", "naiohioequities", "https://www.linkedin.com/in/timleathery/", "tleathery", "customurl")
			.broker-bio-content
				.broker-bio-left
				.broker-bio-middle
					div
						ul.nav.nav-pills(role="tablist")
							li.active(role="presentation")
								a(href="#bio", aria-controls="bio", role="tab", data-toggle="pill") Bio
						.tab-content
							.tab-pane.active#bio(role="tabpanel")
								p Tim is one of our new researchers for NAI Ohio Equities. He will be working with the Office Brokerage Group collecting data points on all of the office buildings in the Central Ohio market. Starting as an intern, Tim was quick to transition his real estate and marketing knowledge into a researcher position. He grew up in Columbus and attended Auburn University, majoring in Marketing and taking classes in real estate.
								hr
								h5 Why did you decide to get into Commercial Real Estate?
								p I have family in the business and have always enjoyed listening to them talk about deals they are working on. I also really enjoy knowing what is going on in the city I live in and having a hand in that.
								h5 What is your favorite neighborhood of Columbus?
								p Arena District. There’s so much to do and with the Scioto Mile right there as well I feel like it is the heart of Columbus.
								h5 Who are your faovirte sports teams?
								p Pittsburgh Steelers, Ohio State football/basketball, Auburn football/basketball, Blue Jackets.
				.broker-bio-right
					h4 Education
					p BA, Marketing
						br
						| Auburn University, 2019
	include ../../includes/footer-brokers.pug
	include ../../includes/scripts.pug