- var titleContent = "NAI Ohio Equities | Brokerage Team"
- var metaContent = "NAI Ohio Equities' brokerage team is made up of individuals from diverse backgrounds with many unique professional experiences. Find the agent that fits your needs."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.brokers-container
			div.panel-group#accordion(role="tablist", aria-multiselectable="true")
				.panel.panel-default
					.panel-heading#headingOne(role="tab")
						h4.panel-title
							a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") NAI Ohio Equities Brokerage Team
					.panel-collapse.collapse.in#collapseOne(role="tabpanel", aria-labelledby="headingOne")
						.panel-body
							ul.office-agents
								a(href="brokers/kbenincasa.html")
									li
										img(src="img/brokers/kbenincasa-portrait.jpg")
										p Kim Benincasa<br>614-629-5280 office<br>740-819-4619 mobile<br>Retail
								a(href="brokers/cberlin.html")
									li
										img(src="img/brokers/cberlin-portrait.jpg")
										p Curt Berlin SIOR<br>614-629-5221 office<br>614-296-3739 mobile<br>Industrial
								a(href="brokers/pbird.html")
									li
										img(src="img/brokers/pbird-portrait.jpg")
										p Philip Bird<br>614-629-5296 office<br>614-557-9967 mobile<br>Office
								a(href="brokers/cdavid.html")
									li
										img(src="img/brokers/cdavid-portrait.jpg")
										p Conor David<br>614-629-5298 office<br>248-535-5773 mobile<br>Investment | Multifamily
								a(href="brokers/bdecrane.html")
									li
										img(src="img/brokers/bdecrane-portrait.jpg")
										p Blake DeCrane<br>614-629-5269 office<br>614-905-0944 mobile<br>Industrial
								a(href="brokers/adutcher.html")
									li
										img(src="img/brokers/adutcher-portrait.jpg")
										p Andy Dutcher SIOR<br>614-629-5266 office<br>614-425-2959 mobile<br>Office
								a(href="brokers/mfrancescon.html")
									li
										img(src="img/brokers/mfrancescon-portrait.jpg")
										p Mark Francescon<br>614-629-5264 office<br>614-376-9285 mobile<br>Industrial | Office
								a(href="brokers/mgregory.html")
									li
										img(src="img/brokers/mgregory-portrait.jpg")
										p Matt Gregory SIOR, CCIM<br>614-629-5234 office<br>614-937-6501 mobile<br>Office
								a(href="brokers/jmally.html")
									li
										img(src="img/brokers/jmally-portrait.jpg")
										p John Mally<br>614-629-5254 office<br>614-570-7804 mobile<br>Office | Retail
								a(href="brokers/rmcgreevy.html")
									li
										img(src="img/brokers/rmcgreevy-portrait.jpg")
										p Ryan McGreevy<br>614-629-5282 office<br>614-554-3417 mobile<br>Industrial
								a(href="brokers/jmenninger.html")
									li
										img(src="img/brokers/jmenninger-portrait.jpg")
										p Joe Menninger CCIM<br>614-629-5262 office<br>614-778-1464 mobile<br>Industrial/Land
								a(href="brokers/jmerkel.html")
									li
										img(src="img/brokers/jmerkel-portrait.jpg")
										p Jim Merkel<br>614-629-5214 office<br>614-937-0870 mobile<br>Office
								a(href="brokers/pmerkle.html")
									li
										img(src="img/brokers/pmerkle-portrait.jpg")
										p Peter Merkle<br>614-629-5240 office<br>614-218-3520 mobile<br>Office
								a(href="brokers/bmonahan.html")
									li
										img(src="img/brokers/bmonahan-portrait.jpg")
										p Bob Monahan<br>614-629-5222 office<br>614-204-6907 mobile<br>Retail
								a(href="brokers/mosowski.html")
									li
										img(src="img/brokers/mosowski-portrait.jpg")
										p Matt Osowski SIOR<br>614-629-5229 office<br>614-397-4877 mobile<br>Industrial
								a(href="brokers/msemon.html")
									li
										img(src="img/brokers/msemon-portrait.jpg")
										p Mike Semon<br>614-629-5217 office<br>614-657-2391 mobile<br>Industrial
								a(href="brokers/dsheeran.html")
									li
										img(src="img/brokers/dsheeran-portrait.jpg")
										p Dan Sheeran<br>614-629-5216 office<br>614-581-2434 mobile<br>Industrial
								a(href="brokers/djsheeran.html")
									li
										img(src="img/brokers/djsheeran-portrait.jpg")
										p Dan Sheeran, Jr.<br>614-629-5228 office<br>513-310-5497 mobile<br>Industrial
								a(href="brokers/dshull.html")
									li
										img(src="img/brokers/dshull-portrait.jpg")
										p Doug Shull<br>614-629-5218 office<br>614-496-0048 mobile<br>Industrial
								a(href="brokers/msimpson.html")
									li
										img(src="img/brokers/msimpson-portrait.jpg")
										p Michael Simpson, President<br>614-629-5236 office<br>614-306-1722 mobile<br>Retail | Office
								a(href="brokers/ssimpson.html")
									li
										img(src="img/brokers/ssimpson-portrait.jpg")
										p Sandy Simpson, Chairman<br>614-629-5200 office<br>614-565-3111 mobile<br>Retail | Investment
								a(href="brokers/cstephens.html")
									li
										img(src="img/brokers/cstephens-portrait.jpg")
										p Carter Stephens<br>614-629-5261 office<br>631-704-2257 mobile<br>Investment | Multi-Family
								a(href="brokers/twatkins.html")
									li
										img(src="img/brokers/twatkins-portrait.jpg")
										p Tyler Watkins<br>614-629-5232 office<br>304-238-8613 mobile<br>Self-Storage | Investment
		include ../includes/footer.pug
		include ../includes/scripts.pug
