- var titleContent = "NAI Ohio Equities | Connect"
- var metaContent = "Discover the best way to contact anyone at NAI Ohio Equities."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			#contact-grid.container
				.connect-header
					span Connect
					|
					|
					a(href="https://www.facebook.com/naiohioequities/", target="_blank", rel="noopener noreferrer")
						img(src="img/social/facebook.png", alt="Facebook")
					|
					|
					a(href="https://twitter.com/naiohioequities", target="_blank", rel="noopener noreferrer")
						img(src="img/social/twitter.png", alt="Twitter")
					|
					|
					a(href="https://www.linkedin.com/company/nai-ohio-equities", target="_blank", rel="noopener noreferrer")
						img(src="img/social/linkedin.png", alt="LinkedIn")
					|
					|
					a(href="https://www.instagram.com/naiohioequities/", target="_blank", rel="noopener noreferrer")
						img(src="img/social/instagram.png", alt="Instagram")
					|
					|
					a(href="contactus.html").contact-btn Contact
					|
					|
					a(href="servicerequest.html").contact-btn Service Request
				.col-md-4
					h2 Brokerage Offices
					h3 Main Office, Brokerage
					p
						a(href="brokers/msimpson.html")
							strong Michael Simpson, President
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-629-5236
						br
						| fax: 614-224-5436
						br
						| email: 
						a(href="mailto:msimpson@ohioequities.com") msimpson@ohioequities.com
						br
						| general email: 
						a(href="mailto:info@ohioequities.com") info@ohioequities.com
						br 
						br
						a(href="brokers/mgregory.html") 
							strong Matt Gregory, Managing Director 
						br 
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-629-5236
						br
						| fax: 614-224-5436
						br
						| email: 
						a(href="mailto:mgregory@ohioequities.com") mgregory@ohioequities.com
					h3 Accounting
					p
						a(href="marketing/jpallay.html")
							strong Jeff Pallay, CFO
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-629-5223
						br
						| fax: 614-224-5436
						br
						| email: 
						a(href="mailto:jpallay@ohioequities.com") jpallay@ohioequities.com
					p
						a(href="contactus.html")
							strong << Request More Information >>
						br
						|
						a(href="https://visitor.r20.constantcontact.com/d.jsp?llr=9wz6pyeab&p=oi&m=1104628606682&sit=9t6wtmzfb&f=eb32ca5f-0eaa-48e9-9cad-6db998732f12", target="_blank", rel="noopener noreferrer")
							strong << Sign up for emails >>
						br
						|
						a(href="https://www.ohioequities.com/#employment")
							strong << View Employment Opportunities >>
				.col-md-4
					h2 Property Management
					h3 Main Office, Property Management
					p
						a(href="managers/dwakeman.html")
							strong Dave Wakeman, VP of Property Management
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-224-2400
						br
						| email: 
						a(href="mailto:dwakeman@ohioequities.com") dwakeman@ohioequities.com
					p
						a(href="servicerequest.html")
							strong << Submit Online Service Request >>
					h3 New Albany Office, Property Management
					p
						a(href="managers/dcotterman.html")
							strong Devon Cotterman, VP of Property Management
						br
						| 8000 Walton Pkwy, Ste 250
						br
						| New Albany, Ohio 43054
						br
						| phone: 614-939-8600
						br
						| email: 
						a(href="mailto:dcotterman@ohioequities.com") dcotterman@ohioequities.com
					h3 Lazarus Building
					p
						a(href="managers/rturrin.html")
							strong Robert Turrin
						br
						| 50 W Town Street
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-565-8264
					h3 North Bank Condominiums
					p
						a(href="managers/nproverbs.html")
							strong Nick Proverbs
						br
						| 300 W Spring Street
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-222-0996
					h3 Riverwatch Tower Condo Assn.
					p
						a(href="managers/hposey.html")
							strong Heather Posey
						br
						| 364 W Lane Avenue
						br
						| Columbus, Ohio 43201
						br
						| phone: 614-291-7179
				.col-md-4
					h2 Marketing and Technology
					h3 Marketing Director
					p
						a(href="marketing/akarnes.html")
							strong Amy Karnes
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-224-2400
						br
						| email: 
						a(href="mailto:akarnes@ohioequities.com") akarnes@ohioequities.com
					h3 Interactive Marketing Designer
					p
						a(href="marketing/aschnitkey.html")
							strong Andrew Schnitkey
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| phone: 614-629-5281
						br
						| email: 
						a(href="mailto:aschnitkey@ohioequities.com") aschnitkey@ohioequities.com
					h3 Director of Information Technology
					p
						a(href="marketing/dblake.html")
							strong Daron Blake
						br
						| 605 S Front Street, Ste 200
						br
						| Columbus, Ohio 43215
						br
						| email: 
						a(href="mailto:dblake@ohioequities.com") dblake@ohioequities.com
		include ../includes/footer.pug
		include ../includes/scripts.pug
