- var titleContent = "Contact Us"
- var metaContent = "Contact NAI Ohio Equities and request more information about any of our commercial real estate services and listings."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			<script src="https://www.emailmeform.com/builder/forms/jsform/bICh7Du8zL3393xrewcgG60a7" type="text/javascript"></script>
	include ../includes/footer.pug
	include ../includes/scripts.pug