- var titleContent = "NAI Ohio Equities | Central Ohio Commercial Real Estate Services"
- var metaContent = "NAI Ohio Equities is one of central Ohio's largest Commercial Real Estate companies. With full brokerage, property management, and marketing/technology teams, NAI Ohio Equities is a full service company capable of handling any commercial real estate solution throughout Columbus."

doctype html
html(lang="en")
	include ../extends/gtm-ext.pug
	body
		a.skipnav(href="#skipnavContent") Skip to Main Content
		include ../includes/nav.pug
		.navspacer
		.page-wrap#skipnavContent
			#hero
				.hero-image
					h1.text-right Commercial Real Estate Services | Worldwide
					h3.text-right Serving the Columbus Region Since 1971
			.container-fluid
				.row#slug
					div
						p.text-center.to-hide
							strong: em We are a full service Commercial Real Estate company capable of helping you and your business take control of your real estate needs.
						iframe.aboutusvideo(width='560' height='315' src='https://www.youtube.com/embed/9Ft6Yn2Y4lk' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			.container
				.row#service-descriptions
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/apartment.png", alt="Sales and Leasing Logo")
						h3.text-left: strong Sales and Leasing
						p We have a proven record of successful real estate transactions including the sales and leasing of land, office, retail, and industrial properties throughout Central Ohio and around the world. NAI Ohio Equities is a dedicated team, ready to work for you. We have an in-house marketing team that will assist all sales associates on how to best list your property. Let one of our professionals work with you on listing your property today.
						ul.list-unstyled
							li: a(href="results.html") Read case studies
							li: a(href="listings.html") View our listings
							li: a(href="brokers.html") View our brokerage team
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/agreement3.png", alt="Tenant Representation Logo")
						h3.text-left: strong Tenant Representation
						p If you are new to the Columbus region, expanding your business, or simply looking for new space, our talented and professional tenant representatives will help you understand the process. NAI Ohio Equities is here to walk you through all aspects of site selection; from discovery and identification phase all the way through the negotiation and signing of your new lease or closing on your new space.
						ul.list-unstyled
							li: a(href="results.html") View our clients
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/building105.png", alt="Property Management Logo")
						h3.text-left: strong Property Management
						p NAI Ohio Equities’ team includes 20 helpful and talented property managers, each hired to make sure your property functions effectively. From snow removal to security to HVAC repairs, our property management experts offer peace of mind that every last concern is being considered, managed, and repaired. We also offer full accounting support tailored to your operation.
						ul.list-unstyled
							li: a(href="management.html") Property management services
							li: a(href="managers.html") View our management team
							li: a(href="servicerequest.html") Submit a service request
			#agents-hero.container-fluid
				img(src="img/people.jpg" style="visibility:hidden" alt="size placeholder")
				.agents-hero-background
					h1 Who Are We?
					p Our agents have been helping clients find the perfect real estate solutions for all of their business needs since 1971. Our team members are ready and anxious to offer their assistance for whatever you need.
					a(href="brokers.html"): strong Find an agent
			.container
				.row#displaylogos
					h3.logos-header Clients
					.logos-list
						img(src="img/logos/covermymeds.png", alt="Cover My Meds logo")
						img(src="img/logos/farmersinsurance.png", alt="Farmers Insurance logo")
						img(src="img/logos/hackman.png", alt="Hackman Capital Partners logo")
						img(src="img/logos/kaufman.png", alt="Kaufman Development logo")
						img(src="img/logos/ohiohealth.png", alt="OhioHealth logo")
						img(src="img/logos/pnc.png", alt="PNC logo")
						img(src="img/logos/wendys.png", alt="Wendy's logo")
						img(src="img/logos/wasserstrom.png", alt="Wasserstrom logo")
			.sectional-spacer
			//- #whats-trending.container-fluid
				.row
					.col-md-3.back-yellow
						h1 What's
							br
							|
							span Trending
					.col-md-9.whats-trending-body
						h2 Six Best-Practices All Investors Should Keep Top-of-Mind
						p Are you thinking about venturing into the world of real estate investment? There are plenty of things you should know before making the plunge and signing on the dotted line. If you are just starting out you may be wondering where to even begin, but the good news is, every successful real estate investor wondered the same thing. Here are six best-practices all real estate investors should keep top-of-mind.
						.row
							.col-sm-6
								h3.red Hire a Bookkeeper
								p The first thing you should do is hire a bookkeeper because keeping up with documents and paperwork is a lot less stressful if you do it from the start. The documents will come in handy when tax season rolls around and you can write off your bookkeeper as an expense for your business on your taxes.
							.col-sm-6
								h3.red Learn How to Find Deals
								p One of the hardest parts about investing in real estate is finding the deals. This is a primary function of the business because it’s really what all of real estate investing comes down to. Without a deal, you can’t invest. If you have not, you need to set up your real estate team and systems to be part of finding the deals. An automated lead machine can help you generate leads at all times of the day so you are never losing out on deal opportunities.
						.row
							.col-sm-6
								h3.red Be Consistent
								p Consistency will always beat out talent, resources or experience. Think of real estate investing as a marathon, not a race. You need to accomplish little goals each day to make it to the finish line of this long process. Be sure to track and measure all of your lead-generating efforts. All you need to do to be successful in this is put in the time and effort needed to accomplish these daily goals.
							.col-sm-6
								h3.red Document Everything
								p You will be swamped if you don’t document and systemize all of the operations of your business and will thus limit your income and growth as well if you are disorganized. As a self-employed individual, the power and control are solely in your hands. First, you need to document and systemize everything, then you need to delegate tasks to others while maintaining clarity and control over the business. Make sure you stay as involved as possible with the business while utilizing documentation and organizing systems.
						.row
							.col-sm-6
								h3.red Buy More &amp; Sell Less
								p Intend to hold every property possible. If you need more cash flow, you may need to flip occasionally, but this is fine because cash pays the bills and keeps the business going. The more properties you hold, the more money you will make in the long run and the quicker you will make the money. Any seasoned real estate investor will tell you to buy more and sell less.
							.col-sm-6
								h3.red Underpromise to Partners
								p When it comes to investing, people know that there are a lot of variables that are in play and that risk comes with the territory, but when things don’t work out as planned, it’s easy to point the finger. Try to avoid by underpromising to your partners, but overdelivering. Do not borrow more money than you can use.
			//- .sectional-spacer
			#featured-listings.container-fluid
				.row
					img.img-responsive(src="img/listings-main.jpg", alt="Featured Listings")
					.listings-header-text
						h1 Featured Listings
						p
				.row
					.listings-types
						img.img-responsive(src="img/listings-office.jpg", alt="Office Listings")
						h2 Office Listings
						p NAI Ohio Equities offers a wide variety of services for office users and investors alike.  Our professional staff currently tracks almost 32,000,000 square feet of office space throughout the Central Ohio area.  With over 40 years of professional market experience, our staff of accredited professionals offers each of our clients the home-field advantage.  We live and work in the Central Ohio area, and we distinctly know the properties, the codes and ordinances, the people and business climate.
						p: a(href="listings.html?propertyType=1") View Our Office Listings
					.listings-types
						img.img-responsive(src="img/listings-industrial.jpg", alt="Industrial Listings")
						h2 Industrial Listings
						p NAI Ohio Equities provides the resources necessary to successfully complete even the most complex transactions.  Our services reach throughout the Columbus metropolitan region and the world. While tracking more than 268,000,000 square feet of Industrial space NAI Ohio Equities is able to find not only the best fit, but also the best value for its clients. Industrial clientele include privately owned companies, national and international corporations, institutional owners, private investors and national developers.
						p: a(href="listings.html?propertyType=3") View Our Industrial Listings
					.listings-types
						img.img-responsive(src="img/listings-retail.jpg", alt="Retail Listings")
						h2 Retail Listings
						p Finding the right location for a retail venture is one of the most challenging tasks in today's competitive market. It takes knowledge about your client - a complete understanding of the products, services, target markets and competition. It also takes knowledge and insights into the retail real estate market - knowing the available locations and sites, knowing what's happening in the marketplace today and what is expected tomorrow. NAI Ohio Equities works with developers and retail property owners, helping successfully position their properties in the retail market and developing a comprehensive marketing strategy to attain the highest occupancy.
						p: a(href="listings.html?propertyType=2") View Our Retail Listings
			#market-reports.container-fluid
				.market-reports-topright
					//- img.img-responsive(src="img/market-reports-hero.png", alt="Market Reports")
					video(autoplay playsinline preload="metadata" muted loop src="marketing/marketreports/2022/nai_ohio_equities_2022q3_office.mp4" id="videoSourceTag")
						//- source(src="marketing/marketreports/2019/nai_ohio_equities_2019q3_office.mp4")
				.market-reports-bottomleft
					h1 Market Reports
					p E-commerce, a growing consumer base, and strategic location have driven record-level demand in the Columbus industrial market where the development pipeline has reached an all- time high. At 6.3% of market inventory, Columbus is well above the national average of 4.0%, with approximately 70% of development being speculative.
					p Construction costs have stabilized in the last several months.
					p Seller/buyer pricing exploration continues due to the rise in interest rates causing a slow down in investment activity.
					p Over 6M SF of speculative space will be delivered to the market by the end of the year.
					p Tenant demand for space remains strong and quick decisions must be made to secure space.
					p Lease rates continue to rise to all-time highs.
					p Intel is expected to be a large driver of market demand for years to come.
					p: em "The market is sending mixed signals right now. Interest rates, cap rates and lease rates are increasing, construction costs have leveled off and tenant demand remains strong. Mix all those together and it gets difficult for developers, buyers and sellers to make decisions." - Curt Berlin SIOR, Industrial Specialist
					.ul-center
						ul
							li: a(href="marketing/marketreports/2022/nai_ohio_equities_2022q3.pdf", target="_blank", rel="noopener noreferrer") 3rd Quarter 2022
							li: a(href="https://www.naiglobal.com/category/market-research/", target="_blank", rel="noopener noreferrer") NAI Global Market Reports
			.sectional-spacer
			#property-mgmt
				img.img-responsive(src="img/mgmt.jpg", alt="Property Management")
				.management-header-text
					h1 Property Management
					p Professional Property Management is critical to ensuring the longevity and vitality of your commercial real estate investment. At NAI Ohio Equities, we provide active management and integrated resources to preserve and enhance the value of each of your company's real estate assets. We provide a complete and competitive range of property management services for industrial, office, medical, and retail buildings, as well as educational and multi-family properties and home-owner associations.
					p All NAI Ohio Equities managed assets operate in accordance with our Property Service Standards Program that promotes consistent, high-level operational practices, yet is designed with the flexibility to cater to the unique needs of each property and client.
					ul
						li: a(href="management.html") Property Management Services
						li: a(href="managers.html") Management Team
						li: a(href="servicerequest.html") Online Service Request
			.sectional-spacer
			#case-studies
				h1: a(href="results.html"): span(style="color: #fff;") Case Studies and Testimonials
				.case-studies_testimonial
					p: em "Ryan McGreevy very professionally handled the sale of this property and I was very satisfied with his work. I look forward to doing future business together."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Skip Fetingas, Seller | 2338 Scioto Harper Drive
					p.case-studies_casestudy: a(href="results/scioto-harper.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Each and every prospective deal is always handled in a professional and compelling manner. Furthermore, the attention to detail and analysis provided with each RFP has greatly helped the partners in their decision making."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Arthur Goldner, Owner | PNC Plaza
					p.case-studies_casestudy: a(href="results/pnc.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Ben Struewing, VP | Hackman Capital Partners
					p.case-studies_casestudy: a(href="results/industrialpark.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Working with Matt Gregory and Andy Dutcher was fantastic. They were both very energetic and knowledgeable, responding quickly to our various needs and questions. Both are very personable, understood our needs, and strongly supported our effort to start a social enterprise. I would highly recommend them both."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Steve Votaw, CEO | Furniture Bank of Central Ohio
					p.case-studies_casestudy: a(href="results/furniture.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Joe Menninger and Philip Bird were a delight to work with. They completely understood our parameters and the necessity to sell our real estate, while continuing to maintain our operations in the space during and after the sale."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Bo Hindall, Founder/President | Inquiry Systems, Inc.
					p.case-studies_casestudy: a(href="results/goodale.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "We have grown significantly in the past few years and had to lease space at three separate locations in order to accomodate the needs of the agency. I was delighted with the personal commitment made by both Peter Merkle and Matt Gregory to find us a property that met all of Alvis House's needs. The time and effort they have put forth has been invaluable."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Denise M. Robinson, President and CEO | Alvis House
					p.case-studies_casestudy: a(href="results/alvis.html"): span(style="color: #fff;") Read Case Study
			#news-index.container-fluid
				h1 Recent News
				.col-md-4 
					h3: a(href="https://www.ohioequities.com/wp/news/creating-culture-how-our-community-engagement-committee-makes-us-better/") Creating Culture: How Our Community Engagement Committee Makes Us Better
					p.news-date September 13, 2022
					p Meet our Community Engagement Committee! Throughout the year, our volunteers brainstorm, plan, and organize all of the fun things we do at NAI Ohio Equities. From monthly employee events like kayaking and baseball games to our quarterly volunteer opportunities like Operation Backpack – they make it all happen! But why do we have such a committee and what value does it provide? As it turns out, there are many benefits, in addition to having fun, which help us to create a strong culture and strengthen our organization!
					strong We Want to Create Opportunities for Connection
					p As humans, we crave connection to others, and even more importantly, we desire to belong. Volunteer events and company activities provide an opportunity to interact with your co-workers in an informal, authentic way. Additionally, when selecting and supporting a cause, employees tend to find a commonality, which aids in developing meaningful relationships, a key element to a sense of 
						a(href="https://www.gallup.com/workplace/395102/drives-culture-belonging.aspx?utm_source=linkedinbutton&utm_medium=linkedin&utm_campaign=sharing", target="_blank", rel="noopener noreferrer").red belonging
						| .  
					strong We Want Our Employees Engaged
					p There are numerous studies that demonstrate a correlation between volunteerism and employee engagement. According to a Deloitte 
						a(href="https://www2.deloitte.com/us/en/pages/about-deloitte/articles/citizenship-deloitte-volunteer-impact-research.html", target="_blank", rel="noopener noreferrer").red study
						| , millennial workers who frequently participated in their company’s volunteer activities were twice as likely to rate their company’s culture as very positive, more proud to work for their company, and more likely to be loyal to their organization.
					strong Volunteering Develops Leadership Skills
					p According to another Deloitte 
						a(href="https://www2.deloitte.com/content/dam/Deloitte/us/Documents/us-deloitte-impact-survey.pdf", target="_blank", rel="noopener noreferrer").red study
						| , 92% of respondents agreed that volunteering is an effective way to improve leadership skills and improves employees’ broader professional skill sets including communication, accountability and commitment, and strong character – all skills desired by employers.
					p.read-more: a(href="https://www.ohioequities.com/wp/news/creating-culture-how-our-community-engagement-committee-makes-us-better/") Read More
				.col-md-4 
					h3: a(href="https://www.ohioequities.com/wp/client-spotlight/client-spotlight-columbus-oncology-and-hematology/") Client Spotlight: Columbus Oncology and Hematology
					p.news-date August 30, 2022
					p 
						a(href="https://www.coainc.net/", target="_blank", rel="noopener noreferrer", class="red") Columbus Oncology and Hematology 
						| is dedicated to providing compassionate, quality care to its patients who have received a cancer diagnosis. It is an organization that makes every effort to make the devastating diagnosis a little bit easier to bear by removing obstacles for patients so that they can focus on getting well.
					p From their state-of-the-art facilities and services to something as simple as moving away from a menu-driven phone system and instead, ensuring a patient experience team member answers each call and personally helps to direct it to avoid additional stress and frustration – it’s all about supporting patients as they “walk the journey,” explains Executive Director, Debbie Westkamp.
					p “It’s about living, it’s about how to live, and focusing on the gift of time,” she added.
					p As patients enter the facility, one of their first interactions is with a patient services navigator who aims to ease anxiety by personally orienting them to their surroundings. The tour starts by showing them what a patient room looks like and includes introductions to the entire patient care team. It’s a small gesture that goes a long way in creating a sense of comfort.
					p.read-more: a(href="https://www.ohioequities.com/wp/client-spotlight/client-spotlight-columbus-oncology-and-hematology/") Read More
				.col-md-4 
					h3: a(href="https://www.ohioequities.com/wp/commercialrealestate101/understanding-the-total-cost-of-occupancy/") Understanding the Total Cost of Occupancy
					p.news-date August 9, 2022
					p When signing a commercial lease, there are many factors that impact your overall cost. Understanding the total cost of occupancy is important both for budgeting and developing accurate financial forecasts over time, as well as for negotiation.
					p Recently, our Office Brokerage Group of 
						a.red(href="https://www.ohioequities.com/brokers/mgregory.html") Matt Gregory
						| , 
						a.red(href="https://www.ohioequities.com/brokers/adutcher.html") Andy Dutcher
						| , and 
						a.ref(href="https://www.ohioequities.com/brokers/pbird.html") Philip Bird 
						| worked with 
						a.red(href="https://josephgroup.com/" target="_blank", rel="noopener noreferrer") The Joseph Group 
						| to secure a new office space. The Joseph Group had outgrown its current space of roughly 5,500 square feet and sought a space that could accommodate its current needs, but would also facilitate the organization’s anticipated future growth. However, this came with a caveat, The Joseph Group didn’t want to lease more space than it would immediately be able to use. Knowing this, the Office Brokerage Group was able to negotiate a takedown schedule or graduated rent schedule which allowed it to incrementally increase its space and rent over the course of the lease, ensuring that it wasn’t paying for space it wasn’t yet utilizing.
					p The ability to negotiate creative terms such as this takedown schedule is the result of an understanding of the components of a commercial office lease and the impact those terms have on the total cost of occupancy; therefore, we thought we’d take a closer look at some of the elements of a lease that can affect a tenant’s cost.
					strong How is Rent Calculated?
					p Using the standards for calculating square footage established by the Building Owners and Managers Association (BOMA), the following components are used to calculate a tenant’s base rent.
					p.read-more: a(href="https://www.ohioequities.com/wp/commercialrealestate101/understanding-the-total-cost-of-occupancy/") Read More
				h3.view-all-articles: a(href="https://www.ohioequities.com/wp/", target="_blank", rel="noopener noreferrer") View All Articles
			#employment
				.jobs-content
					h3 Employment Opportunities
					p NAI Ohio Equities is hiring. If you are looking for employment with our company and fit the requirements we are looking for, we would love to meet you. Please review any job openings below, and if interested, please click on the listings to view more information and apply. Thanks!
					.indeedjobs-widget(data-id="ff4755848bf012bdedf0", data-theme="dark", data-height="220")
						ul
							li: a(href="https://www.indeed.com/job/senior-property-manager-33c0eb6c48455e3b", target="_blank", rel="noopener noreferrer", style="color:#fff;") Senior Property Manager
							li: a(href="https://www.indeed.com/viewjob?t=assistant+vp+property+management&jk=2e899b1002e0061e&_ga=2.188022060.521761355.1661282612-2093341110.1660658025", target="_blank", rel="noopener noreferrer", style="color: #fff;") Assistant to the VP of Property Management
							li: a(href="https://www.indeed.com/viewjob?t=senior+hvac+technician&jk=70aa118e58633744&_ga=2.200064426.521761355.1661282612-2093341110.1660658025", target="_blank", rel="noopener noreferrer", style="color: #fff;") Senior HVAC Technician
							li: a(href="https://www.indeed.com/job/maintenance-technician-9b3af5a642820980", target="_blank", rel="noopener noreferrer", style="color: #fff;") Maintenance Technician
			.sectional-spacer
		include ../includes/footer.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/script-video.min.js")
		script(src="js/script.min.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83737675-1', 'auto');
			ga('send', 'pageview');
