- var titleContent = "NAI Ohio Equities | Central Ohio Commercial Real Estate Services"
- var metaContent = "NAI Ohio Equities is one of central Ohio's largest Commercial Real Estate companies. With full brokerage, property management, and marketing/technology teams, NAI Ohio Equities is a full service company capable of handling any commercial real estate solution throughout Columbus."

doctype html
html(lang="en")
	include ../extends/gtm-ext.pug
	body
		a.skipnav(href="#skipnavContent") Skip to Main Content
		include ../includes/nav.pug
		.navspacer
		.page-wrap#skipnavContent
			#hero
				.hero-image
					h1.text-right Commercial Real Estate Services | Worldwide
					h3.text-right Serving the Columbus Region Since 1971
			.container-fluid
				.row#slug
					div
						p.text-center.to-hide
							strong: em We are a full service Commercial Real Estate company capable of helping you and your business take control of your real estate needs.
						iframe.aboutusvideo(width='560' height='315' src='https://www.youtube.com/embed/9Ft6Yn2Y4lk' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
			.container
				.row#service-descriptions
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/apartment.png", alt="Sales and Leasing Logo")
						h3.text-left: strong Sales and Leasing
						p We have a proven record of successful real estate transactions including the sales and leasing of land, office, retail, and industrial properties throughout Central Ohio and around the world. NAI Ohio Equities is a dedicated team, ready to work for you. We have an in-house marketing team that will assist all sales associates on how to best list your property. Let one of our professionals work with you on listing your property today.
						ul.list-unstyled
							li: a(href="results.html") Read case studies
							li: a(href="listings.html") View our listings
							li: a(href="brokers.html") View our brokerage team
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/agreement3.png", alt="Tenant Representation Logo")
						h3.text-left: strong Tenant Representation
						p If you are new to the Columbus region, expanding your business, or simply looking for new space, our talented and professional tenant representatives will help you understand the process. NAI Ohio Equities is here to walk you through all aspects of site selection; from discovery and identification phase all the way through the negotiation and signing of your new lease or closing on your new space.
						ul.list-unstyled
							li: a(href="results.html") View our clients
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/building105.png", alt="Property Management Logo")
						h3.text-left: strong Property Management
						p NAI Ohio Equities’ team includes 20 helpful and talented property managers, each hired to make sure your property functions effectively. From snow removal to security to HVAC repairs, our property management experts offer peace of mind that every last concern is being considered, managed, and repaired. We also offer full accounting support tailored to your operation.
						ul.list-unstyled
							li: a(href="management.html") Property management services
							li: a(href="managers.html") View our management team
							li: a(href="servicerequest.html") Submit a service request
			#agents-hero.container-fluid
				img(src="img/people.jpg" style="visibility:hidden" alt="size placeholder")
				.agents-hero-background
					h1 Who Are We?
					p Our agents have been helping clients find the perfect real estate solutions for all of their business needs since 1971. Our team members are ready and anxious to offer their assistance for whatever you need.
					a(href="brokers.html"): strong Find an agent
			.container
				.row#displaylogos
					h3.logos-header Clients
					.logos-list
						img(src="img/logos/covermymeds.png", alt="Cover My Meds logo")
						img(src="img/logos/farmersinsurance.png", alt="Farmers Insurance logo")
						img(src="img/logos/hackman.png", alt="Hackman Capital Partners logo")
						img(src="img/logos/kaufman.png", alt="Kaufman Development logo")
						img(src="img/logos/ohiohealth.png", alt="OhioHealth logo")
						img(src="img/logos/pnc.png", alt="PNC logo")
						img(src="img/logos/wendys.png", alt="Wendy's logo")
						img(src="img/logos/wasserstrom.png", alt="Wasserstrom logo")
			.sectional-spacer
			//- #whats-trending.container-fluid
				.row
					.col-md-3.back-yellow
						h1 What's
							br
							|
							span Trending
					.col-md-9.whats-trending-body
						h2 Six Best-Practices All Investors Should Keep Top-of-Mind
						p Are you thinking about venturing into the world of real estate investment? There are plenty of things you should know before making the plunge and signing on the dotted line. If you are just starting out you may be wondering where to even begin, but the good news is, every successful real estate investor wondered the same thing. Here are six best-practices all real estate investors should keep top-of-mind.
						.row
							.col-sm-6
								h3.red Hire a Bookkeeper
								p The first thing you should do is hire a bookkeeper because keeping up with documents and paperwork is a lot less stressful if you do it from the start. The documents will come in handy when tax season rolls around and you can write off your bookkeeper as an expense for your business on your taxes.
							.col-sm-6
								h3.red Learn How to Find Deals
								p One of the hardest parts about investing in real estate is finding the deals. This is a primary function of the business because it’s really what all of real estate investing comes down to. Without a deal, you can’t invest. If you have not, you need to set up your real estate team and systems to be part of finding the deals. An automated lead machine can help you generate leads at all times of the day so you are never losing out on deal opportunities.
						.row
							.col-sm-6
								h3.red Be Consistent
								p Consistency will always beat out talent, resources or experience. Think of real estate investing as a marathon, not a race. You need to accomplish little goals each day to make it to the finish line of this long process. Be sure to track and measure all of your lead-generating efforts. All you need to do to be successful in this is put in the time and effort needed to accomplish these daily goals.
							.col-sm-6
								h3.red Document Everything
								p You will be swamped if you don’t document and systemize all of the operations of your business and will thus limit your income and growth as well if you are disorganized. As a self-employed individual, the power and control are solely in your hands. First, you need to document and systemize everything, then you need to delegate tasks to others while maintaining clarity and control over the business. Make sure you stay as involved as possible with the business while utilizing documentation and organizing systems.
						.row
							.col-sm-6
								h3.red Buy More &amp; Sell Less
								p Intend to hold every property possible. If you need more cash flow, you may need to flip occasionally, but this is fine because cash pays the bills and keeps the business going. The more properties you hold, the more money you will make in the long run and the quicker you will make the money. Any seasoned real estate investor will tell you to buy more and sell less.
							.col-sm-6
								h3.red Underpromise to Partners
								p When it comes to investing, people know that there are a lot of variables that are in play and that risk comes with the territory, but when things don’t work out as planned, it’s easy to point the finger. Try to avoid by underpromising to your partners, but overdelivering. Do not borrow more money than you can use.
			//- .sectional-spacer
			#featured-listings.container-fluid
				.row
					img.img-responsive(src="img/listings-main.jpg", alt="Featured Listings")
					.listings-header-text
						h1 Featured Listings
						p
				.row
					.listings-types
						img.img-responsive(src="img/listings-office.jpg", alt="Office Listings")
						h2 Office Listings
						p NAI Ohio Equities offers a wide variety of services for office users and investors alike.  Our professional staff currently tracks almost 32,000,000 square feet of office space throughout the Central Ohio area.  With over 40 years of professional market experience, our staff of accredited professionals offers each of our clients the home-field advantage.  We live and work in the Central Ohio area, and we distinctly know the properties, the codes and ordinances, the people and business climate.
						p: a(href="listings.html?propertyType=1") View Our Office Listings
					.listings-types
						img.img-responsive(src="img/listings-industrial.jpg", alt="Industrial Listings")
						h2 Industrial Listings
						p NAI Ohio Equities provides the resources necessary to successfully complete even the most complex transactions.  Our services reach throughout the Columbus metropolitan region and the world. While tracking more than 268,000,000 square feet of Industrial space NAI Ohio Equities is able to find not only the best fit, but also the best value for its clients. Industrial clientele include privately owned companies, national and international corporations, institutional owners, private investors and national developers.
						p: a(href="listings.html?propertyType=3") View Our Industrial Listings
					.listings-types
						img.img-responsive(src="img/listings-retail.jpg", alt="Retail Listings")
						h2 Retail Listings
						p Finding the right location for a retail venture is one of the most challenging tasks in today's competitive market. It takes knowledge about your client - a complete understanding of the products, services, target markets and competition. It also takes knowledge and insights into the retail real estate market - knowing the available locations and sites, knowing what's happening in the marketplace today and what is expected tomorrow. NAI Ohio Equities works with developers and retail property owners, helping successfully position their properties in the retail market and developing a comprehensive marketing strategy to attain the highest occupancy.
						p: a(href="listings.html?propertyType=2") View Our Retail Listings
			#market-reports.container-fluid
				.market-reports-topright
					//- img.img-responsive(src="img/market-reports-hero.png", alt="Market Reports")
					video(autoplay playsinline preload="metadata" muted loop src="marketing/marketreports/2021/nai_ohio_equities_2021q2_office.mp4" id="videoSourceTag")
						//- source(src="marketing/marketreports/2019/nai_ohio_equities_2019q3_office.mp4")
				.market-reports-bottomleft
					h1 Market Reports
					p Columbus’s multifamily market continues to have high demand due to the rental growth and strong economic base. Sales volume is still down due to investors decreased appetite in luxury apartments. C and B class assets are currently driving the investor activity; however, the sale inventory for that product is scarce.
					p Cap rates continue to compress, down to 6.49% market wide.
					p Annual rent growth in Columbus is far exceeding the national average. Rent is almost double the rent growth in Cincinnati and Cleveland.
					p Vacancy is at a decade low.
					p Price per unit hit all-time highs at $103,197/unit
					p: em “Rental and economic growth in Columbus continue to attract investors to the market. However, the lack of inventory is challenging as most deals are occurring off-market. I expect the desirability to invest in Columbus’ apartment market will continue to grow for years to come.” - Tyler Watkins, NAI Ohio Equities Investment Sales Team
					p 
					.ul-center
						ul
							li: a(href="marketing/marketreports/2021/nai_ohio_equities_2021q2.pdf", target="_blank") 2nd Quarter 2021
							li: a(href="https://www.naiglobal.com/category/market-research/", target="_blank") NAI Global Market Reports
			.sectional-spacer
			#property-mgmt
				img.img-responsive(src="img/mgmt.jpg", alt="Property Management")
				.management-header-text
					h1 Property Management
					p Professional Property Management is critical to ensuring the longevity and vitality of your commercial real estate investment. At NAI Ohio Equities, we provide active management and integrated resources to preserve and enhance the value of each of your company's real estate assets. We provide a complete and competitive range of property management services for industrial, office, medical, and retail buildings, as well as educational and multi-family properties and home-owner associations.
					p All NAI Ohio Equities managed assets operate in accordance with our Property Service Standards Program that promotes consistent, high-level operational practices, yet is designed with the flexibility to cater to the unique needs of each property and client.
					ul
						li: a(href="management.html") Property Management Services
						li: a(href="managers.html") Management Team
						li: a(href="servicerequest.html") Online Service Request
			.sectional-spacer
			#case-studies
				h1: a(href="results.html"): span(style="color: #fff;") Case Studies and Testimonials
				.case-studies_testimonial
					p: em "Ryan McGreevy very professionally handled the sale of this property and I was very satisfied with his work. I look forward to doing future business together."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Skip Fetingas, Seller | 2338 Scioto Harper Drive
					p.case-studies_casestudy: a(href="results/scioto-harper.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Each and every prospective deal is always handled in a professional and compelling manner. Furthermore, the attention to detail and analysis provided with each RFP has greatly helped the partners in their decision making."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Arthur Goldner, Owner | PNC Plaza
					p.case-studies_casestudy: a(href="results/pnc.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Ben Struewing, VP | Hackman Capital Partners
					p.case-studies_casestudy: a(href="results/industrialpark.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Working with Matt Gregory and Andy Dutcher was fantastic. They were both very energetic and knowledgeable, responding quickly to our various needs and questions. Both are very personable, understood our needs, and strongly supported our effort to start a social enterprise. I would highly recommend them both."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Steve Votaw, CEO | Furniture Bank of Central Ohio
					p.case-studies_casestudy: a(href="results/furniture.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Joe Menninger and Philip Bird were a delight to work with. They completely understood our parameters and the necessity to sell our real estate, while continuing to maintain our operations in the space during and after the sale."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Bo Hindall, Founder/President | Inquiry Systems, Inc.
					p.case-studies_casestudy: a(href="results/goodale.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "We have grown significantly in the past few years and had to lease space at three separate locations in order to accomodate the needs of the agency. I was delighted with the personal commitment made by both Peter Merkle and Matt Gregory to find us a property that met all of Alvis House's needs. The time and effort they have put forth has been invaluable."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Denise M. Robinson, President and CEO | Alvis House
					p.case-studies_casestudy: a(href="results/alvis.html"): span(style="color: #fff;") Read Case Study
			#news-index.container-fluid
				h1 Recent News
				.col-md-4
					h3: a(href="https://www.ohioequities.com/wp/commercialrealestate101/industrial-cre-the-party-isnt-over-yet/") Industrial CRE: the party isn’t over yet!
					p.news-date July 29, 2021
					p Real Capital Analytics (RCA) has released their latest US National All-Property Index data for industrial, apartment, retail, and office sectors, which shows index growth of 8.4% year-on-year to April 2021.
					p The biggest gains were evident in Industrial (up by 9.4%), which we all know has been one of the few spaces for which Covid-19 proved to be a boon. But GlobeSt analysis of Crexi data and Moody’s Analytics suggests that a “market correction” may be in the cards.
					p In the monthly Crexi National Commercial Real Estate report, they write, ‘for industrial… prices dropped 6.68% over April Figures, forcing cap rates up slightly in response”. However, occupancy rates in Industrial have increased over six months, by some 11.59%, and the asking rate per square foot is not at its highest levels since before the pandemic.
					p Multifamily prices, by contrast, increased some 10,5% but their occupancy rate declined slightly.
					strong Rent potential
					p Moody’s data also shows that rent for warehouse/distribution was “positive nationally for every quarter” of 2020, and they anticipate it will also prove to be the “strongest rent of all asset classes this year”, with rental growth of 2.8% predicted.
					p.read-more: a(href="https://www.ohioequities.com/wp/commercialrealestate101/industrial-cre-the-party-isnt-over-yet/") Read More
				.col-md-4
					h3: a(href="https://www.ohioequities.com/wp/news/green-and-lean-smart-ways-retail-and-cre-can-clean-up-its-act/") Green and lean: smart ways retail, and CRE, can clean up its act
					p.news-date February 11, 2021
					p Green and sustainable retail has been a talking point for at least two decades, but it has previously been characterized as “unachievable” and even “unaffordable” with some of the big brand retailers detailing how they experienced push back from consumers as greener principles led to increased prices, especially in the early 2000s.
					p This is, however, a very different conversation today in 2021, with Gen Z and younger millennials sustainability-minded. There is a long-overdue green movement in retail, and adoption is often rewarded with customer loyalty.
					p So how can you make your retail greener and leaner, and how can we in commercial real estate (CRE) help you in that sustainability journey?
					strong The Youth (And Tenants) Will Lead Us
					p Reams of research agrees, the youth want greener retail. A Nielsen report from 2015 (which already seems an age ago) found that almost three-quarters (73%) of millennials say they will pay more for sustainable goods. And FirstInsight’s 2018 study found that 62% of Gen Z shoppers prefer to purchase from brands that are seen as sustainable.
					p.read-more: a(href="https://www.ohioequities.com/wp/news/green-and-lean-smart-ways-retail-and-cre-can-clean-up-its-act/") Read More
				.col-md-4
					h3: a(href="https://www.ohioequities.com/wp/commercialrealestate101/3-ways-brokers-can-protect-their-data/") Three Ways Brokers Can Protect Their Data
					p.news-date January 28, 2021
					p It’s 2021 and nothing is more valuable than data. In today’s world of business, data is gold.
					p For commercial real estate, data has been playing an imperative role in shaping successful strategies. From small boutique brokerages to global firms, being data-driven is a must to keep pace with the industry’s contemporary movements.
					p When it comes to data, the most important thing is knowing how to properly leverage the information. Having data is necessary, but the value of data depends on how it’s used. As businesses strive to better flex their data capacities, a new concern is arising: data security.
					p Today, nearly every brokerage is safeguarding a hub of sensitive data. Information from every deal, asset, and client is digitally stored and used for analysis. This data needs to be kept safe - here’s why, and how your brokerage can protect its priceless data.
					strong Why It’s Important to Keep Data Safe
					p The proper application of data allows businesses to make predictive analysis, helping them to better understand the next best moves to make.
					p.read-more: a(href="https://www.ohioequities.com/wp/commercialrealestate101/3-ways-brokers-can-protect-their-data/") Read More
				h3.view-all-articles: a(href="https://www.ohioequities.com/wp/", target="_blank") View All Articles
			#employment
				.jobs-content
					h3 Employment Opportunities
					p NAI Ohio Equities is hiring. If you are looking for employment with our company and fit the requirements we are looking for, we would love to meet you. Please review any job openings below, and if interested, please click on the listings to view more information and apply. Thanks!
					.indeedjobs-widget(data-id="ff4755848bf012bdedf0", data-theme="dark", data-height="220")
						ul
							li: a(href="https://www.indeed.com/job/staff-accountant-5118d4309c1880e9", target="_blank", style="color: #fff;") Staff Accountant
							li: a(href="https://www.indeed.com/job/client-services-coordinator-070e405d8f2a7501", target="_blank", style="color: #fff;") Client Services Coordinator
							li: a(href="https://www.indeed.com/job/maintenance-technician-d49b45d27a934134", target="_blank", style="color: #fff;") Maintenance Technician
							li: a(href="https://www.indeed.com/job/administrative-assistant-3e655d95227bdcc6", target="_blank", style="color: #fff;") Administrative Assistant
					script.
						(function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js');
			.sectional-spacer
		include ../includes/footer.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
		script(src="js/script-video.min.js")
		script(src="js/script.min.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83737675-1', 'auto');
			ga('send', 'pageview');
