- var titleContent = "NAI Ohio Equities | Central Ohio Commercial Real Estate Services"
- var metaContent = "NAI Ohio Equities is one of central Ohio's largest Commercial Real Estate companies. With full brokerage, property management, and marketing/technology teams, NAI Ohio Equities is a full service company capable of handling any commercial real estate solution throughout Columbus."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			#hero
				.hero-image
					h1.text-right Commercial Real Estate Services | Worldwide
					h3.text-right Serving the Columbus Region Since 1971
			.container
				.row#slug
					div
						p.text-center.to-hide
							strong: em We are a full service Commercial Real Estate company capable of helping you and your business take control of your real estate needs.
			.container
				.row#service-descriptions
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/apartment.png", alt="Sales and Leasing Logo")
						h3.text-left: strong Sales and Leasing
						p We have a proven record of successful real estate transactions including the sales and leasing of land, office, retail, and industrial properties throughout Central Ohio and around the world. NAI Ohio Equities is a dedicated team, ready to work for you. We have an in-house marketing team that will assist all sales associates on how to best list your property. Let one of our professionals work with you on listing your property today.
						ul.list-unstyled
							li: a(href="results.html") Read case studies
							li: a(href="listings.html") View our listings
							li: a(href="brokers.html") View our brokerage team
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/agreement3.png", alt="Tenant Representation Logo")
						h3.text-left: strong Tenant Representation
						p If you are new to the Columbus region, expanding your business, or simply looking for new space, our talented and professional tenant representatives will help you understand the process. NAI Ohio Equities is here to walk you through all aspects of site selection; from discovery and identification phase all the way through the negotiation and signing of your new lease or closing on your new space.
						ul.list-unstyled
							li: a(href="results.html") View our clients
							li: a(href="contactus.html") Request more information
					.col-sm-4
						img.img-responsive.center-block(src="img/myIcons/building105.png", alt="Property Management Logo")
						h3.text-left: strong Property Management
						p NAI Ohio Equities’ team includes 20 helpful and talented property managers, each hired to make sure your property functions effectively. From snow removal to security to HVAC repairs, our property management experts offer peace of mind that every last concern is being considered, managed, and repaired. We also offer full accounting support tailored to your operation.
						ul.list-unstyled
							li: a(href="management.html") Property management services
							li: a(href="managers.html") View our management team
							li: a(href="servicerequest.html") Submit a service request
			#agents-hero.container-fluid
				img(src="img/people.jpg" style="visibility:hidden" alt="size placeholder")
				.agents-hero-background
					h1 Who Are We?
					p Our agents have been helping clients find the perfect real estate solutions for all of their business needs since 1971. Our team members are ready and anxious to offer their assistance for whatever you need.
					a(href="brokers.html"): strong Find an agent
			.sectional-spacer
			#whats-trending.container-fluid
				.row
					.col-md-3.back-yellow
						h1 What's
							br
							|
							span Trending
					.col-md-9.whats-trending-body
						h2 Four Commercial Leasing Myths Debunked
						p Commercial leasing is a complex business. Understanding terms, finding the right properties, negotiating the best short or long-term deal possible is all complicated by the detailed financial and legal processes that have to be secured along the way. Without the aid of a professional broker, tenants can find themselves locked in a long-term deal that doesn’t work all because of some common leasing misconceptions.
						.row
							.col-sm-6
								h3.red #1: Trying to Lease in Retail is Futile
								p Unless speaking of online retail, the industry has taken its lumps over the last couple of years, leading many to believe that trying to lease retail space in this climate is futile. As of last year, nationwide rents climbed to nearly $17 PSF – higher than at any time in the last decade. Even mall retailers saw close to 30% rent increases from 2016 to 2017.
							.col-sm-6
								h3.red #2: A Landlord Can Charge Whatever They Want
								p Some tenants get into commercial leases thinking that the rates will stay about the same. Landlords go in expecting to increase rates according to inflation – but what inflation? Economic headwinds affecting one part of the country may not be affecting another. Instead of simply accepting a regular increase, factor your rent against your local inflation rate and not the national Consumer Price Index.
						.row
							.col-sm-6
								h3.red #3: Your Leasing Options are Non-negotiable
								p When the markets change – either decline or excel – renewal options become determinant to how you will proceed during negotiations. At the start of a lease, you negotiate extensions, renewal options, and rate increases. Your landlord will want to charge X, you have the right to negotiate Y.
								p Nothing is set in stone until all parties have signed on the dotted line. In a renewal, if you’ve been a good tenant, you can push for incentives and inducements to entice you to stay in your lease. Having a skilled broker that knows the market climate can help make the case for improvements, inducements, rent reductions, etc.
							.col-sm-6
								h3.red #4: Going with Green Leasing Will Cost You Money
								p Finally, today’s tenants are looking for greener commercial buildings. At the same time, the amount of work it takes to meet the many different standards has been cost-prohibitive. Leased commercial buildings make up a majority of leases and use up to 36% of all of the electricity used in the U.S.
								p Green buildings are just the first step. There are companies out there aiming for Net-Zero Energy (NZE) use in commercial leasing. A big myth about NZE buildings is that you won’t get the same returns as you would in a non-NZE building.
								p Green builder RMI leased its first NZE building in Colorado a few years ago. It was the company’s chance to prove that NZE buildings work for all companies and not just eco-activists. The truth is, NZE buildings are yielding nearly 20% more ROI in the long term and 17% more in the short term.
								p Occupancy rates are at least a few percentage points higher compared to less efficient buildings. Building owners are able to charge more for NZE buildings than those backed by Energy Star and far more than traditional buildings, especially as millennials continue to take over the workforce.
			.sectional-spacer
			#featured-listings.container-fluid
				.row
					img.img-responsive(src="img/listings-main.jpg", alt="Featured Listings")
					.listings-header-text
						h1 Featured Listings
						p
				.row
					.listings-types
						img.img-responsive(src="img/listings-office.jpg", alt="Office Listings")
						h2 Office Listings
						p NAI Ohio Equities offers a wide variety of services for office users and investors alike.  Our professional staff currently tracks almost 32,000,000 square feet of office space throughout the Central Ohio area.  With over 40 years of professional market experience, our staff of accredited professionals offers each of our clients the home-field advantage.  We live and work in the Central Ohio area, and we distinctly know the properties, the codes and ordinances, the people and business climate.
						p: a(href="listings.html?propertyType=1") View Our Office Listings
					.listings-types
						img.img-responsive(src="img/listings-industrial.jpg", alt="Industrial Listings")
						h2 Industrial Listings
						p NAI Ohio Equities provides the resources necessary to successfully complete even the most complex transactions.  Our services reach throughout the Columbus metropolitan region and the world. While tracking more than 268,000,000 square feet of Industrial space NAI Ohio Equities is able to find not only the best fit, but also the best value for its clients. Industrial clientele include privately owned companies, national and international corporations, institutional owners, private investors and national developers.
						p: a(href="listings.html?propertyType=3") View Our Industrial Listings
					.listings-types
						img.img-responsive(src="img/listings-retail.jpg", alt="Retail Listings")
						h2 Retail Listings
						p Finding the right location for a retail venture is one of the most challenging tasks in today's competitive market. It takes knowledge about your client - a complete understanding of the products, services, target markets and competition. It also takes knowledge and insights into the retail real estate market - knowing the available locations and sites, knowing what's happening in the marketplace today and what is expected tomorrow. NAI Ohio Equities works with developers and retail property owners, helping successfully position their properties in the retail market and developing a comprehensive marketing strategy to attain the highest occupancy.
						p: a(href="listings.html?propertyType=2") View Our Retail Listings
			#market-reports.container-fluid
				.market-reports-topright
					img.img-responsive(src="img/market-reports-hero.png", alt="Market Reports")
				.market-reports-bottomleft
					h1 Market Reports
					p Columbus’ retail vacancy rate decreased in the second quarter of 2018 to 3.5% from 3.7% in the first quarter of 2018.
					p Tenants moving in and out of space included Kroger moving out of 67,375 SF at 2831 Olentangy River Road and 59,974 SF at 3349 Cleveland Ave and Columbus Appliance and Parts moving out of 54,540 SF at 3131 S. Hamilton Road. Fast Track It moving into 55,000 SF at 5865 Chantry Dr., Big Lots moving into 36,052 SF at East Pointe and Front Room moving into 33,000 SF at 1640 N. 21st St.
					p The retail rental rate was $12.65 per square foot per year at the end of the second quarter of 2018, representing a 2.3% increase from the end of the first quarter of 2018.
					.ul-center
						ul
							li: a(href="marketing/marketreports/2018/nai_ohio_equities_2018q2.pdf", target="_blank") 2nd Quarter 2018
							li: a(href="http://www.naiglobal.com/research", target="_blank") NAI Global Market Reports
			#property-mgmt
				img.img-responsive(src="img/mgmt.jpg", alt="Property Management")
				.management-header-text
					h1 Property Management
					p Professional Property Management is critical to ensuring the longevity and vitality of your commercial real estate investment. At NAI Ohio Equities, we provide active management and integrated resources to preserve and enhance the value of each of your company's real estate assets. We provide a complete and competitive range of property management services for industrial, office, medical, and retail buildings, as well as educational and multi-family properties and home-owner associations.
					p All NAI Ohio Equities managed assets operate in accordance with our Property Service Standards Program that promotes consistent, high-level operational practices, yet is designed with the flexibility to cater to the unique needs of each property and client.
					ul
						li: a(href="management.html") Property Management Services
						li: a(href="managers.html") Management Team
						li: a(href="servicerequest.html") Online Service Request
			#case-studies
				h1: a(href="results.html"): span(style="color: #fff;") Case Studies and Testimonials
				.case-studies_testimonial
					p: em "Ryan McGreevy very professionally handled the sale of this property and I was very satisfied with his work. I look forward to doing future business together."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Skip Fetingas, Seller | 2338 Scioto Harper Drive
					p.case-studies_casestudy: a(href="results/scioto-harper.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Each and every prospective deal is always handled in a professional and compelling manner. Furthermore, the attention to detail and analysis provided with each RFP has greatly helped the partners in their decision making."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Arthur Goldner, Owner | PNC Plaza
					p.case-studies_casestudy: a(href="results/pnc.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "The NAI Ohio Equities Industrial Team has done an excellent job for us. After purchasing Southeast Industrial Park our goal has been to sell the buildings individually. Their team has clearly communicated our objectives to the brokerage community and end users. Through an aggressive marketing effort they have been able to sell 13 of the 18 buildings in the park. We appreciate their determined and honest approach to business."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Ben Struewing, VP | Hackman Capital Partners
					p.case-studies_casestudy: a(href="results/industrialpark.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Working with Matt Gregory and Andy Dutcher was fantastic. They were both very energetic and knowledgeable, responding quickly to our various needs and questions. Both are very personable, understood our needs, and strongly supported our effort to start a social enterprise. I would highly recommend them both."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Steve Votaw, CEO | Furniture Bank of Central Ohio
					p.case-studies_casestudy: a(href="results/furniture.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "Joe Menninger and Philip Bird were a delight to work with. They completely understood our parameters and the necessity to sell our real estate, while continuing to maintain our operations in the space during and after the sale."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Bo Hindall, Founder/President | Inquiry Systems, Inc.
					p.case-studies_casestudy: a(href="results/goodale.html"): span(style="color: #fff;") Read Case Study
				.case-studies_testimonial
					p: em "We have grown significantly in the past few years and had to lease space at three separate locations in order to accomodate the needs of the agency. I was delighted with the personal commitment made by both Peter Merkle and Matt Gregory to find us a property that met all of Alvis House's needs. The time and effort they have put forth has been invaluable."
					p.results_byline: span(style="color: #E9B741; font-size: 0.75em;") Denise M. Robinson, President and CEO | Alvis House
					p.case-studies_casestudy: a(href="results/alvis.html"): span(style="color: #fff;") Read Case Study
			#news-index.container-fluid
				h1 Recent News
				.col-md-4
					h3: a(href="http://www.ohioequities.com/wp/commercialrealestate101/four-things-to-look-for-when-hiring-a-commercial-brokerage/", target="_blank") Four Things to Look for When Hiring a Commercial Brokerage
					p.news-date August 7, 2018
					p Starting the business was the hard part. Now you are looking for space but how do you find the right commercial building? You need a good commercial real estate brokerage but each brokerage and broker is different. How do you choose the one that’s right for you? Here are 4 things to look for:
					p: strong #1: A broker that specializes in the type of commercial property that you need.
					p One of the first things you’ll come up against when you start looking for commercial property is zoning. You may think that your office building could fit perfectly in a vacant restaurant or retail shop but is it zoned for that? Businesses that will use a building for industrial use have to find a property that is zoned for industrial use just like any other type of commercial business.
					p.read-more: a(href="http://www.ohioequities.com/wp/commercialrealestate101/four-things-to-look-for-when-hiring-a-commercial-brokerage/", target="_blank") Read More
				.col-md-4
					h3: a(href="http://www.ohioequities.com/wp/commercialrealestate101/5-reasons-to-view-flexible-space-as-an-amenity-to-attract-tenants/", target="_blank") 5 Reasons to View Flexible Space as an Amenity to Attract Tenants
					p.news-date July 31, 2018
					p WeWork started the concept but it has only grown and expanded from there. The co-working or flex space model which began in NYC is fast becoming the new Uber of commercial office space. With large corporations abandoning the traditional work model for more flex space, it is changing how landlords attract and retain tenants.
					p Recently, landlords are discovering that they can use their building’s flex space as an amenity to attract tenants. Flex space isn’t just a coworking hub: it is bookable meeting space, conference rooms, event space, and multimedia rooms. Tenants are also demanding more from flex space operators. Here are 5 reasons why landlords should view flexible space as an amenity for their tenants.
					p.read-more: a(href="http://www.ohioequities.com/wp/commercialrealestate101/5-reasons-to-view-flexible-space-as-an-amenity-to-attract-tenants/", target="_blank") Read More
				.col-md-4
					h3: a(href="http://www.ohioequities.com/wp/cre101/sustainability-and-cre-4-things-to-keep-your-eye-on/", target="_blank") Sustainability and CRE: 4 Things to Keep Your Eye On
					p.news-date May 23, 2018
					p When asked about sustainability, most people immediately think of energy consumption and savings. However, energy is just one small component of sustainability. Sustainability is an overarching spectrum — and while it’s true that focusing on the regulation of energy is a necessary piece of the puzzle, as it impacts the overall operating cost on a daily basis, it’s important to remember to pay attention to the other pieces, as well.
					p Let’s take a closer look at sustainability as it pertains to CRE and these 4 trends to keep your eye on.
					p.read-more: a(href="http://www.ohioequities.com/wp/cre101/sustainability-and-cre-4-things-to-keep-your-eye-on/", target="_blank") Read More
				h3.view-all-articles: a(href="http://www.ohioequities.com/wp/", target="_blank") View All Articles
			#employment
				.jobs-content
					h3 Employment Opportunities
					p NAI Ohio Equities is hiring. If you are looking for employment with our company and fit the requirements we are looking for, we would love to meet you. Please review any job openings below, and if interested, please click on the listings to view more information and apply. Thanks!
					.indeedjobs-widget(data-id="ff4755848bf012bdedf0", data-theme="dark", data-height="220")
					script.
						(function(d, id) { if (d.getElementById(id)) return; var js = d.createElement('script'); js.id = id; js.src = 'https://www.indeedjobs.com/widget.js'; d.head.appendChild(js); })(document, 'indeedjobs-js');
		include ../includes/footer.pug
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-83737675-1', 'auto');
			ga('send', 'pageview');
