- var titleContent = "NAI Ohio Equities | Property Management Team"
- var metaContent = "The NAI Ohio Equities Property Management Team is diverse and dedicated to satisfying the management needs of both the property owner and tenants."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			.brokers-container
				.panel-group#accordion(role="tablist", aria-multiselectable="true")
					.panel.panel-default
						.panel-heading#headingOne(role="tab")
							h4.panel-title
								|
								|
								a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") NAI Ohio Equities Property Management Team
						#collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
							.panel-body
								ul.office-agents
									a(href="managers/dbaumann.html")
										li
											img(src="img/managers/dbaumann-portrait.jpg", alt="Don Baumann")
											p Don Baumann
												br
												| Maintenance Manager
												br
												| 614-629-5260 office
									a(href="managers/kbock.html")
										li
											img(src="img/managers/kbock-portrait.jpg", alt="Kim Bock")
											p Kim Bock
												br
												| Senior Property Manager
												br
												| 614-737-4417 office
									a(href="managers/kbroeg.html")
										li
											img(src="img/managers/kbroeg-portrait.jpg", alt="Kelly Broeg")
											p Kelly Broeg
												br
												| Property Manager
												br
												| 614-629-5233 office
									a(href="managers/jchancey.html")
										li
											img(src="img/managers/jchancey-portrait.jpg", alt="Jamie Chancey")
											p Jamie Chancey
												br
												| Property Manager
												br
												| 614-486-5919 office
									a(href="managers/dcotterman.html")
										li
											img(src="img/managers/dcotterman-portrait.jpg", alt="Devon Cotterman")
											p Devon Cotterman
												br
												| Senior Property Manager
												br
												| 614-629-5245 office
									a(href="managers/scramblett.html")
										li
											img(src="img/managers/scramblett-portrait.jpg", alt="Sandy Cramblett")
											p Sandy Cramblett
												br
												| Senior Property Manager
												br
												| 614-629-5208 office
									a(href="managers/rculbertson.html")
										li
											img(src="img/managers/rculbertson-portrait.jpg", alt="Robbin Culbertson")
											p Robbin Culbertson
												br
												| Property Manager
												br
												| 614-291-7179 office
									a(href="managers/rgarcia.html")
										li
											img(src="img/managers/rgarcia-portrait.jpg", alt="Roxanne Garcia")
											p Roxanne Garcia
												br
												| Senior Property Manager
												br
												| 614-224-4425 office
									a(href="managers/pharklau.html")
										li
											img(src="img/managers/pharklau-portrait.jpg", alt="Patty Harklau")
											p Patty Harklau
												br
												| Property Manager
												br
												| 614-222-2196 office
									a(href="managers/mhoy.html")
										li
											img(src="img/managers/mhoy-portrait.jpg", alt="Melissa Hoy")
											p Melissa Hoy
												br
												| Senior Property Manager
												br
												| 614-228-6250 office
									a(href="managers/akerns.html")
										li
											img(src="img/managers/akerns-portrait.jpg", alt="Alicia Kerns")
											p Alicia Kerns
												br
												| Senior Property Manager
												br
												| 614-222-0996 office
									a(href="managers/kkountz.html")
										li
											img(src="img/managers/kkountz-portrait.jpg", alt="Katie Kountz")
											p Katie Kountz
												br
												| Property Manager
												br
												| 614-280-0301 office
									a(href="managers/klampinen.html")
										li
											img(src="img/managers/klampinen-portrait.jpg", alt="Katrina Lampinen")
											p Katrina Lampinen
												br
												| Senior Property Manager
												br
												| 614-629-5238 office
									a(href="managers/dlong.html")
										li
											img(src="img/managers/dlong-portrait.jpg", alt="Dave Long")
											p Dave Long
												br
												| Senior Property Manager
												br
												| 614-629-5251 office
									a(href="managers/cmanofsky.html")
										li
											img(src="img/managers/cmanofsky-portrait.jpg", alt="Chuck Manofsky")
											p Chuck Manofsky
												br
												| Executive VP Asset Services
												br
												| 614-629-5257 office
									a(href="managers/mmcgraw.html")
										li
											img(src="img/managers/mmcgraw-portrait.jpg", alt="Marla McGraw")
											p Marla McGraw
												br
												| Senior Property Manager
												br
												| 614-629-5284 office
									a(href="managers/amitchell.html")
										li
											img(src="img/managers/amitchell-portrait.jpg", alt="Alissha Mitchell")
											p Alissha Mitchell
												br
												| Property Manager
												br
												| 614-224-2400 office
									a(href="managers/amotycka.html")
										li
											img(src="img/managers/amotycka-portrait.jpg", alt="Amber Motycka")
											p Amber Motycka
												br
												| Property Manager
												br
												| 614-629-5241 office
									a(href="managers/cpope.html")
										li
											img(src="img/managers/cpope-portrait.jpg", alt="Chris Pope")
											p Chris Pope
												br
												| Property Manager
												br
												| 614-629-5252 office
									a(href="managers/mreader.html")
										li
											img(src="img/managers/mreader-portrait.jpg", alt="Mark Reader")
											p Mark Reader
												br
												| Senior Property Manager
												br
												| 614-939-8620 office
									a(href="managers/rsutton.html")
										li
											img(src="img/managers/rsutton-portrait.jpg", alt="Bob Sutton")
											p Bob Sutton
												br
												| Senior Property Manager
												br
												| 614-629-5204 office
									a(href="managers/rturrin.html")
										li
											img(src="img/managers/rturrin-portrait.jpg", alt="Robert Turrin")
											p Robert Turrin
												br
												| Senior Property Manager
												br
												| 614-221-1314 office
									a(href="managers/dwakeman.html")
										li
											img(src="img/managers/dwakeman-portrait.jpg", alt="David Wakeman")
											p David Wakeman
												br
												| Senior Property Manager
												br
												| 614-629-5267 office
									a(href="managers/byuhas.html")
										li
											img(src="img/managers/byuhas-portrait.jpg", alt="Bruce Yuhas")
											p Bruce Yuhas
												br
												| Senior Property Manager
												br
												| 614-629-5247 office
	include ../includes/footer.pug
	include ../includes/scripts.pug
