- var titleContent = "NAI Ohio Equities | Property Management Team"
- var metaContent = "The NAI Ohio Equities Property Management Team is diverse and dedicated to satisfying the management needs of both the property owner and tenants."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			.brokers-container
				.panel-group#accordion(role="tablist", aria-multiselectable="true")
					.panel.panel-default
						.panel-heading#headingOne(role="tab")
							h4.panel-title
								|
								|
								a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") NAI Ohio Equities Property Management Team
						#collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
							.panel-body
								ul.office-agents
									a(href="managers/dbaumann.html")
										li
											img(src="img/managers/dbaumann-portrait.jpg", alt="Don Baumann")
											p Don Baumann
												br
												| Director of Maintenance
												br
												| 614-629-5260
									a(href="managers/jchancey.html")
										li
											img(src="img/managers/jchancey-portrait.jpg", alt="Jamie Chancey")
											p Jamie Chancey
												br
												| Asst. Property Manager
												br
												| 614-629-5205
									a(href="managers/dcotterman.html")
										li
											img(src="img/managers/dcotterman-portrait.jpg", alt="Devon Cotterman")
											p Devon Cotterman
												br
												| VP, Property Management
												br
												| 614-939-8600
									a(href="managers/kfenimore.html")
										li
											img(src="img/managers/kfenimore-portrait.jpg", alt="Kelly Fenimore")
											p Kelly Fenimore
												br
												| Property Manager
												br
												| 614-629-5233
									a(href="managers/lgibson.html")
										li
											img(src="img/managers/lgibson-portrait.jpg", alt="Linda Gibson")
											p Linda Gibson
												br
												| Prop. Mgmt. Coordinator
												br
												| 614-629-5235
									a(href="managers/jgrooms.html")
										li
											img(src="img/managers/jgrooms-portrait.jpg", alt="Jennifer Grooms")
											p Jennifer Grooms
												br
												| Senior Association Manager
												br
												| 614-939-8618
									a(href="managers/charbert.html")
										li
											img(src="img/managers/charbert-portrait.jpg", alt="Chris Harbert")
											p Chris Harbert
												br
												| Property Manager
												br
												| 614-629-5235
									a(href="managers/misaly.html")
										li
											img(src="img/managers/misaly-portrait.jpg", alt="Matt Isaly")
											p Matt Isaly
												br
												| Senior Property Manager
												br
												| 614-629-5237
									a(href="managers/akerns.html")
										li
											img(src="img/managers/akerns-portrait.jpg", alt="Alicia Kerns")
											p Alicia Kerns
												br
												| VP, Property Management
												br
												| 614-222-0996
									a(href="managers/klampinen.html")
										li
											img(src="img/managers/klampinen-portrait.jpg", alt="Katrina Lampinen")
											p Katrina Lampinen
												br
												| Association Manager
												br
												| 614-629-5238
									a(href="managers/gmatwich.html")
										li
											img(src="img/managers/gmatwich-portrait.jpg", alt="Geoffrey Matwich")
											p Geoffrey Matwich
												br
												| Property Manager
												br
												| 614-629-5255
									a(href="managers/amotycka.html")
										li
											img(src="img/managers/amotycka-portrait.jpg", alt="Amber Motycka")
											p Amber Motycka
												br
												| Senior Property Manager
												br
												| 614-629-5241
									a(href="managers/apope.html")
										li
											img(src="img/managers/apope-portrait.jpg", alt="Adam Pope")
											p Adam Pope
												br
												| Asst. Property Manager
												br
												| 614-629-5284
									a(href="managers/hposey.html")
										li
											img(src="img/managers/hposey-portrait.jpg", alt="Heather Posey")
											p Heather Posey
												br
												| Association Manager
												br
												| 614-629-5252
									a(href="managers/nproverbs.html")
										li
											img(src="img/managers/nproverbs-portrait.jpg", alt="Nick Proverbs")
											p Nick Proverbs
												br
												| Association Manager
												br
												| 614-629-5215
									a(href="managers/mshonk.html")
										li
											img(src="img/managers/mshonk-portrait.jpg", alt="Marissa Shonk")
											p Marissa Shonk
												br
												| Executive Assistant
												br
												| 614-629-5249
									a(href="managers/ksulser.html")
										li
											img(src="img/managers/ksulser-portrait.jpg", alt="Katie Sulser")
											p Katie Sulser
												br
												| Assistant Prop. Mgr.
												br
												| 614-629-5252
									a(href="managers/rturrin.html")
										li
											img(src="img/managers/rturrin-portrait.jpg", alt="Robert Turrin")
											p Robert Turrin
												br
												| Senior Property Manager
												br
												| 614-221-1314
									a(href="managers/dwakeman.html")
										li
											img(src="img/managers/dwakeman-portrait.jpg", alt="David Wakeman")
											p David Wakeman
												br
												| VP, Property Management
												br
												| 614-629-5267
									a(href="managers/nwolford.html")
										li
											img(src="img/managers/nwolford-portrait.jpg", alt="Nicole Wolford")
											p Nicole Wolford
												br
												| Property Manager
												br
												| 614-939-8600
									a(href="managers/azarate.html")
										li
											img(src="img/managers/azarate-portrait.jpg", alt="Angela Zarate")
											p Angela Zarate
												br
												| Senior Property Manager
												br
												| 614-939-8610
	include ../includes/footer.pug
	include ../includes/scripts.pug
