- var titleContent = "NAI Ohio Equities | Marketing and Technology"
- var metaContant = "NAI Ohio Equities has an entire in-house team dedicated to providing support, marketing, and technology solutions for our agents."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			.brokers-container
				.panel-group#accordion(role="tablist", aria-multiselectable="true")
					.panel.panel-default
						.panel-heading#headingOne(role="tab")
							h4.panel-title
								|
								|
								a(role="button", data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="true", aria-controls="collapseOne") NAI Ohio Equities Marketing and Technology Team
						#collapseOne.panel-collapse.collapse.in(role="tabpanel", aria-labelledby="headingOne")
							.panel-body
								ul.office-agents
									a(href="marketing/aschnitkey.html")
										li
											img(src="img/support/aschnitkey-portrait.jpg", alt="Andrew Schnitkey")
											p Andrew Schnitkey
												br
												| Interactive Marketing Designer
												br
												| 614-629-5281 office
									a(href="marketing/dblake.html")
										li
											img(src="img/support/dblake-portrait.jpg", alt="Daron Blake")
											p Daron Blake
												br
												| Director of I.T.
												br
												| 614-629-5268 office
									a(href="marketing/mgallion.html")
										li
											img(src="img/support/mgallion-portrait.jpg", alt="Mariana Gallion")
											p Mariana Gallion
												br
												| Marketing Assistant
												br
												| 614-629-5219 office
									a(href="marketing/khurst.html")
										li
											img(src="img/support/khurst-portrait.jpg", alt="Kaydee Hurst")
											p Kaydee Hurst
												br
												| Licensed Marketing Assistant
												br
												| 614-629-5226 office
									a(href="marketing/jloxterman.html")
										li
											img(src="img/support/jloxterman-portrait.jpg", alt="Jenna Loxterman")
											p Jenna Loxterman
												br
												| Licensed Marketing Assistant
												br
												| 614-629-5227 office
									a(href="marketing/jramsey.html")
										li
											img(src="img/support/jramsey-portrait.jpg", alt="Jacque Ramsey")
											p Jacque Ramsey
												br
												| Marketing Assistant
												br
												| 614-629-5256 office
									a(href="marketing/abroyles.html")
										li
											img(src="img/support/abroyles-portrait.jpg", alt="Alexa Broyles")
											p Alexa Broyles
												br
												| Content Strategist
												br
												| 614-629-5246 office
	include ../includes/footer.pug
	include ../includes/scripts.pug
