- var titleContent = "NAI Ohio Equities | Online Service Request"
- var metaContent = "Fill out an online request for service on any of the properties that NAI Ohio Equities manages."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			<script src="https://www.emailmeform.com/builder/forms/jsform/95Hd053G4tEa1XfDWoAC" type="text/javascript"></script>
	include ../includes/footer.pug
	include ../includes/scripts.pug