- var titleContent = "NAI Ohio Equities | Services"
- var metaContent = "NAI Ohio Equities provides every commercial real estate service required by our clients, whether that need is valuation, acquisition disposition, leasing, property management, consultation, strategic planning, and representation."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			#services-brokerage-header
				h1 Brokerage Services
				p Every commercial real estate transaction is different. When you choose NAI Ohio Equities as your broker, you know that you are working with professionals who have the expertise and local knowledge to get you the results for your own unique needs.
				.services-brokerage-btn-container
					a(href="brokers.html").button Find An Agent
					a(href="listings.html").button View Our Listings
			#services-body
				.container 
					.cardset 
						a(href="services/office.html").card#office 
							img.card-icon(src="img/myIcons/services-icons/office.png", alt="")
							h2.card-title Office
								br 
								| Services
						a(href="services/industrial.html").card#industrial
							img.card-icon(src="img/myIcons/services-icons/industrial.png", alt="")
							h2.card-title Industrial
								br 
								| Services
						a(href="services/retail.html").card#retail
							img.card-icon(src="img/myIcons/services-icons/retail.png", alt="")
							h2.card-title Retail
								br 
								| Services
						a(href="services/investment.html").card#investment 
							img.card-icon(src="img/myIcons/services-icons/investment.png", alt="")
							h2.card-title Investment
								br 
								| Services
						a(href="services/corporate.html").card#corporate 
							img.card-icon(src="img/myIcons/services-icons/corporate.png", alt="")
							h2.card-title Corporate
								br 
								| Services
						a(href="services/valuation.html").card#valuation 
							img.card-icon(src="img/myIcons/services-icons/valuation.png", alt="")
							h2.card-title Valuation
								br 
								| &amp; Advisory
						a(href="services/landlord.html").card#landlord 
							img.card-icon(src="img/myIcons/services-icons/landlord.png", alt="")
							h2.card-title Landlord
								br 
								| Representation
						a(href="services/tenant.html").card#tenant 
							img.card-icon(src="img/myIcons/services-icons/tenant.png", alt="")
							h2.card-title Tenant
								br 
								| Representation
						a(href="services/seller.html").card#seller
							img.card-icon(src="img/myIcons/services-icons/seller.png", alt="")
							h2.card-title Seller
								br 
								| Representation
				.email-join
					h2.center-text #[span.glyphicon.glyphicon-envelope] Join Our Email List
				.email-signup
					include ../includes/signup.pug
		script(src="js/servicesObs.js")
	include ../includes/footer.pug
	include ../includes/scripts.pug
