- var titleContent = "NAI Ohio Equities | Services"
- var metaContent = "NAI Ohio Equities provides every commercial real estate service required by our clients, whether that need is valuation, acquisition disposition, leasing, property management, consultation, strategic planning, and representation."

doctype html
html(lang="en")
	include ../includes/head.pug
	body
		include ../includes/nav.pug
		.navspacer
		.page-wrap
			#services-header
			#services-body
				h1 NAI Ohio Equities
				h2 Commercial Real Estate Services | Worldwide
				p NAI Ohio Equities is one of Central Ohio’s largest, long-standing commercial real estate companies. The firm has been serving the Columbus real estate market since 1971. We strive to provide the highest quality real estate services by adding value to our clients' assets and real estate needs through expert analysis, specific market knowledge, and personalized service. We pride ourselves on our communication and accountability.
				p NAI Ohio Equities has two divisions: Brokerage and Property Management. Our Brokerage Division includes over 25 experienced agents and staff members. Our Property Management Division, complete with full-service accounting, manages over 10.5 million square feet of property, including over 10,000 units in various home owner and condominium associations throughout Central Ohio. Additionally, we are proud to have our own in-house Marketing and Technology Department.
				p NAI Ohio Equities is the Central Ohio affiliate of NAI Global, the single largest, most powerful global network of owner-operated commercial real estate brokerage firms. NAI Global member firms span worldwide, with 375 offices and more than 6,700 local market experts on the ground. Supported by the central resources of the NAI Global organization, member firms deliver market-leading services locally and combine their in-market strengths to form a powerful bond of insights and execution for clients with multi-market challenges in the U.S. and/or globally.
				p Whether you're a small business in the Central Ohio area or a large multinational firm, our clients know that working with NAI Ohio Equities means successful real-estate transactions. We keep our finger on the pulse of the local market by developing strong relationships with local businesses. We tap into the global marketplace through our affiliation with NAI Global. Our agents focus on you, helping make decisions that will benefit your business. NAI Ohio Equities is a brokerage team that can navigate you through the process as a local resource with a global presence.
				h3 Core Values
				ul.services-values-list.clearfix
					li
						img(src="img/myIcons/fulfillment.png", alt="Fulfillment Icon")
						h4 Fulfillment
						p We place high value on the satisfaction and personal reward gained from advising clients.
					li
						img(src="img/myIcons/communication.png", alt="Communication Icon")
						h4 Communication
						p NAI Ohio Equities agents are the best communicators in the business. We are always accessible, proactive in communication even when news is not good, and active listeners.
					li
						img(src="img/myIcons/value.png", alt="Value Creation Icon")
						h4 Value Creation
						p Creating value through consultation is really the only reason our clients engage us.
				h3 Differentiators
				ul.services-differentiators-list.clearfix
					li
						h4 Local Ownership
						p Local ownership ensures flexibility and the ability to respond quickly and creatively to diverse opportunities.
					li
						h4 "Connecting the Dots"
						p With 45 years of completing more transactions than any CRE provider in our market, NAI Ohio Equities principals and agents know who to know. Whether it is a prospect for a property, legal or environmental information, or an opinion from a local government official, NAI Ohio Equities has access to people who can provide the information we seek every day.
					li
						h4 Innovative Marketing & Tech
						p NAI Ohio Equities is a leader in the adoption of new technologies ensuring the highest quality service to clients, improved business operations, the most effective communication, performance optimization, and facilitating the sharing of best practices among our agents.
				h3 Services
				ul.therefore
					p The team at NAI Ohio Equities strives to make the world of commercial real estate easier to understand. We will guide you through the process and assist you in every step.
					li.services-bold Owners
					ul.right-point
						li Acquisition Disposition
						li Leasing
						li Property Management
					li.services-bold Tenants
					ul.right-point
						li Strategic Planning
						li Valuation
						li Feasibility Analysis
						li Lease Administration
				h3 Areas of Expertise
				ul.right-point
					p NAI Ohio Equities works in all aspects of commercial real estate including office, retail, industrial, investment, land and property management. We are your go-to company with all aspects of real estate, from selling, buying, leasing and property management.
					li Office
					li Retail
					li Industrial
					li Investment
					li Land
					li Property Management
				.email-signup
					include ../includes/signup.pug
	include ../includes/footer.pug
	include ../includes/scripts.pug