- var titleContent = "NAI Ohio Equities | Listings"
- var metaContent = "NAI Ohio Equities have over 400 commercial real estate listings on average. Search our listings to find the property that fits your needs."

doctype html
html(lang="en")
	include ../../includes/head-brokers.pug
	body
		include ../../includes/nav-brokers.pug
		.navspacer
		.page-wrap
			#buildout
			script(type='text/javascript', src='//buildout.com/api.js?v8')
			script(type='text/javascript').
				BuildOut.embed({
					token: "dfa653bcf366c79a005783c8bc1bc875ba55f4f9",
					plugin: "inventory",
					rootPath: "/listings",
					target: "buildout"
					});
			script(type='text/javascript', src='//buildout.com/websites/nai-ohio-equities/inventory.js')

	include ../../includes/footer.pug
	include ../../includes/scripts.pug