- var titleContent = "NAI Ohio Equities - Healthcare Realty Cleveland"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several medical office spaces for lease in Cleveland, Ohio."

doctype html
html(lang="en")
	include ../../../includes/head-selectorsub.pug
	body
		include ../../../includes/nav-selectorsub.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Cleveland Medical Office Space
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="#")
						li
							img(src="img/6789-ridge.jpg", alt="6789 Ridge Rd")
							p
								strong(style="font-size: 1.5rem") 6789 Ridge Rd
								br
								| 29,382 SF Building<br>Medical Office Space
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../../includes/footer-selectorsub.pug
	include ../../../includes/scripts.pug
