- var titleContent = "NAI Ohio Equities - Healthcare Realty Columbus"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several offices for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../../includes/head-selectorsub.pug
	body
		include ../../../includes/nav-selectorsub.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Columbus Medical Office Space
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=85-mcnaughten-rd", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/85-McNaughten.jpg", alt="85 McNaughten")
							p
								strong(style="font-size: 1.5rem") 85 McNaughten
								br
								| 73,331 SF Class "A" Medical Building<br>Flexible suite options
					a(href="https://www.ohioequities.com/listings.html?propertyId=150-taylor-station-road", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150 Taylor Station")
							p
								strong(style="font-size: 1.5rem") 150 Taylor Station
								br
								| Five Suites Available<br>Ranging from 1,292 SF up to 6,317 SF
					a(href="#")
						li
							img(src="img/765-N-Hamilton.jpg", alt="765 N Hamilton")
							p
								strong(style="font-size: 1.5rem") 765 N Hamilton Rd
								br
								| 34,753 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/6275-E-Broad.jpg", alt="6275 E Broad St")
							p
								strong(style="font-size: 1.5rem") 6275 E Broad St
								br
								| 8,156 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/50-McNaughten.jpg", alt="50 McNaughten Rd")
							p
								strong(style="font-size: 1.5rem") 50 McNaughten Rd
								br
								| 20,806 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/7901-Diley.jpg", alt="7901 Diley Rd")
							p
								strong(style="font-size: 1.5rem") 7901 Diley Rd
								br
								| 45,209 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/4343-AllSeasons.jpg", alt="4343 All Seasons Dr")
							p
								strong(style="font-size: 1.5rem") 4343 All Seasons Dr
								br
								| 47,284 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/4363-AllSeasons.jpg", alt="4363 All Seasons Dr")
							p
								strong(style="font-size: 1.5rem") 4363 All Seasons Dr
								br
								| 35,023 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/1210-Gemini.jpg", alt="1210 Gemini Place")
							p
								strong(style="font-size: 1.5rem") 1210 Gemini Place
								br
								| 44,921 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/3650-OlentangyRiver.jpg", alt="3650 Olentangy River Rd")
							p
								strong(style="font-size: 1.5rem") 3650 Olentangy River Rd
								br
								| 77,543 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/477-Cooper.jpg", alt="477 Cooper Rd")
							p
								strong(style="font-size: 1.5rem") 477 Cooper Rd
								br
								| 98,638 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/5965-E-Broad.jpg", alt="5965 E Broad St")
							p
								strong(style="font-size: 1.5rem") 5965 E Broad St
								br
								| 75,019 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/515-E-Main.jpg", alt="515 E Main St")
							p
								strong(style="font-size: 1.5rem") 515 E Main St
								br
								| 59,965 SF Building<br>Medical Office Space
					a(href="#")
						li
							img(src="img/500-E-Main.jpg", alt="500 E Main St")
							p
								strong(style="font-size: 1.5rem") 500 E Main St
								br
								| 55,844 SF Building<br>Medical Office Space
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../../includes/footer-selectorsub.pug
	include ../../../includes/scripts.pug
