- var titleContent = "NAI Ohio Equities - Healthcare Realty Columbus"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several offices for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../../includes/head-selectorsub.pug
	body
		include ../../../includes/nav-selectorsub.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Columbus Medical Office Space
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=939-Worthington-Woods", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/4212478/999d6f029ac6437d8802ad96bfd335fe5296b314/full.jpg?1582898375", alt="939 Worthington Woods Loop")
							p
								strong(style="font-size: 1.5rem") 939 Worthington Woods Loop
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=943-Worthington-Woods", target="_blank", rel="noopener noreferrer")
						li
							img(src="https://s3.amazonaws.com/buildout-production/datas/4212372/20e02e2038dd194b2b43f8d78374e78ce6697cce/full.jpg?1582896880", alt="943 Worthington Woods Loop")
							p 
								strong(style="font-size: 1.5rem") 943 Worthington Woods Loop
								br
								| 1,200 SF Available for an Owner/User<br>Medical Office Space
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../../includes/footer-brokers.pug
	include ../../../includes/scripts.pug
