- var titleContent = "NAI Ohio Equities - Healthcare Realty Columbus"
- var metaContent = "NAI Ohio Equities' Office Brokerage Group has listed several offices for lease in Dublin, Ohio."

doctype html
html(lang="en")
	include ../../../includes/head-selectorsub.pug
	body
		include ../../../includes/nav-selectorsub.pug
		.navspacer
		.page-wrap.lima-selector
			h2.text-center
				small Healthcare Realty Trust
				br
				| Columbus Medical Office Space
			.selector-body-lima
				ul.office-agents.camden-selector-ul
					a(href="https://www.ohioequities.com/listings.html?propertyId=85-mcnaughten-rd", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/85-McNaughten.jpg", alt="85 McNaughten")
							p
								strong(style="font-size: 1.5rem") 85 McNaughten
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="https://www.ohioequities.com/listings.html?propertyId=150-taylor-station-road", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150 Taylor Station")
							p
								strong(style="font-size: 1.5rem") 150 Taylor Station
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
					a(href="#", target="_blank", rel="noopener noreferrer")
						li
							img(src="img/150-TaylorStation.jpg", alt="150")
							p
								strong(style="font-size: 1.5rem") 150
								br
								| 1,200 SF Available for an Owner/User<br>General Office Space
		script.
			const items = document.querySelectorAll('.camden-selector-ul li');
			items.forEach((item) => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			item.addEventListener('mouseover', () => {
			item.style.boxShadow = "0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)";
			});
			item.style.transition = "all .3s ease-out"
			item.addEventListener('mouseout', () => {
			item.style.boxShadow = "0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)";
			});
			});
	include ../../../includes/footer-brokers.pug
	include ../../../includes/scripts.pug
