footer
	.footer-column
		h3.footer-h3 About Us
		ul.footer-links
			li: a(href="http://www.naiglobal.com/", target="_blank") NAI Global
			li: a(href="services.html") Brokerage Services
			li: a(href="management.html") Property Management
			li: a(href="results.html") Case Studies
			li: a(href="brokers.html") Brokerage Team
			li: a(href="managers.html") Management Team
			li: a(href="marketing.html") Marketing Team
			li: a(href="privacy.html") Privacy Policy
	.footer-column.to-hide
		h3.footer-h3 Find Properties
		ul.footer-links
			li: a(href="listings.html?propertyType=1") Office
			li: a(href="listings.html?propertyType=2") Retail
			li: a(href="listings.html?propertyType=3") Industrial
			li: a(href="listings.html?propertyType=5") Land
			li: a(href="listings.html") Search All Listings
	.footer-column.to-hide
		h3.footer-h3 Associations
		ul.footer-links
			li: a(href="https://columbusrealtors.com/", target="_blank") Columbus Realtors
			li: a(href="http://www.ccim.com", target="_blank") CCIM
			li: a(href="http://www.sior.com/", target="_blank") SIOR
			li: a(href="http://www.cciir.com/", target="_blank") CCIIR
			li: a(href="http://bomacolumbus.org", target="_blank") BOMA
			li: a(href="http://www.irem.org/", target="_blank") IREM
			li: a(href="http://www.naiop.org/", target="_blank") NAIOP
	.footer-column-right
		h3.footer-h3 Contact Us
		p 605 S Front Street<br/>Suite 200<br/>Columbus, Ohio 43215<br/>(614)-224-2400
		|
		|
		a(href="connect.html")
			p View Full Contact Page
		|
		|
		a(href="https://www.facebook.com/naiohioequities", target="_blank")
			img(src="img/social/facebook.png", alt="facebook-logo")
		|
		|
		a(href="https://www.linkedin.com/company/nai-ohio-equities", target="_blank")
			img(src="../img/social/linkedin.png", alt="linkedin-logo")
		|
		|
		a(href="https://twitter.com/naiohioequities", target="_blank")
			img(src="img/social/twitter.png", alt="twitter-logo")
		|
		|
		a(href="https://instagram.com/NAIOhioEquities/", target="_blank")
			img(src="img/social/instagram.png", alt="instagram-logo")
		|
		|
		a(href="http://www.ohioequities.com/wp/", target="_blank")
			img(src="img/social/wordpress.png", alt="wordpress-logo")
	p.copyright &copy;2020 NAI Ohio Equities