head
	// Global site tag (gtag.js) - Google Analytics
	script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-9Y7TEG7L7F')
	script.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-9Y7TEG7L7F');
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="theme-color", content="#AF2D37")
	title= titleContent
	meta(name="description", content= metaContent)
	meta(name="google-site-verification", content="uybYJvBJJoEj132t2plDMKFa23EEYxagpy-mbTKZhrg")
	link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Domine:400,700", rel="stylesheet", type="text/css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
	link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css")
	link(rel="stylesheet", type="text/css", href="css/main.css")
	block extendStyles
	block extendGtm 
	block extendCanonical
	link(rel="apple-touch-icon", sizes="57x57", href="icons/apple-icon-57x57.png")
	link(rel="apple-touch-icon", sizes="60x60", href="icons/apple-icon-60x60.png")
	link(rel="apple-touch-icon", sizes="72x72", href="icons/apple-icon-72x72.png")
	link(rel="apple-touch-icon", sizes="76x76", href="icons/apple-icon-76x76.png")
	link(rel="apple-touch-icon", sizes="114x114", href="icons/apple-icon-114x114.png")
	link(rel="apple-touch-icon", sizes="120x120", href="icons/apple-icon-120x120.png")
	link(rel="apple-touch-icon", sizes="144x144", href="icons/apple-icon-144x144.png")
	link(rel="apple-touch-icon", sizes="152x152", href="icons/apple-icon-152x152.png")
	link(rel="apple-touch-icon", sizes="180x180", href="icons/apple-icon-180x180.png")
	link(rel="icon", type="image/png", sizes="192x192", href="icons/android-icon-192x192.png")
	link(rel="icon", type="image/png", sizes="32x32", href="icons/favicon-32x32.png")
	link(rel="icon", type="image/png", sizes="96x96", href="icons/favicon-96x96.png")
	link(rel="icon", type="image/png", sizes="16x16", href="icons/favicon-16x16.png")
	link(rel="manifest", href="icons/manifest.json")
	meta(name="msapplication-TileColor", content="#ffffff")
	meta(name="msapplication-TileImage", content="icons/ms-icon-144x144.png")
	meta(name="theme-color", content="#ffffff")
	block extendScripts
	// Facebook Pixel Code
	script.
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window,document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '874899219332239');
		fbq('track', 'PageView');
		fbq('track', 'ViewContent');
	noscript
		img(height='1', width='1', src='https://www.facebook.com/tr?id=874899219332239&ev=PageView\
		&noscript=1')
	// End Facebook Pixel Code
	// AdRoll Pixel Code
	<script type="text/javascript"> adroll_adv_id = "J5TSVZIVHNCBXELGFHEDPY"; adroll_pix_id = "CXFNPKD3BVEWREXZEDJNEF"; adroll_version = "2.0";  (function(w, d, e, o, a) { w.__adroll_loaded = true; w.adroll = w.adroll || []; w.adroll.f = [ 'setProperties', 'identify', 'track' ]; var roundtripUrl = "https://s.adroll.com/j/" + adroll_adv_id + "/roundtrip.js"; for (a = 0; a < w.adroll.f.length; a++) { w.adroll[w.adroll.f[a]] = w.adroll[w.adroll.f[a]] || (function(n) { return function() { w.adroll.push([ n, arguments ]) } })(w.adroll.f[a]) }  e = d.createElement('script'); o = d.getElementsByTagName('script')[0]; e.async = 1; e.src = roundtripUrl; o.parentNode.insertBefore(e, o); })(window, document); adroll.track("pageView"); </script>
	// Start of LiveChat (www.livechatinc.com) code
	script.
		window.__lc = window.__lc || {};
		window.__lc.license = 12898665;
		;(function(n,t,c){function i(n){return e._h?e._h.apply(null,n):e._q.push(n)}var e={_q:[],_h:null,_v:"2.0",on:function(){i(["on",c.call(arguments)])},once:function(){i(["once",c.call(arguments)])},off:function(){i(["off",c.call(arguments)])},get:function(){if(!e._h)throw new Error("[LiveChatWidget] You can't use getters before load.");return i(["get",c.call(arguments)])},call:function(){i(["call",c.call(arguments)])},init:function(){var n=t.createElement("script");n.async=!0,n.type="text/javascript",n.src="https://cdn.livechatinc.com/tracking.js",t.head.appendChild(n)}};!n.__lc.asyncInit&&e.init(),n.LiveChatWidget=n.LiveChatWidget||e}(window,document,[].slice))
	noscript
		a(href='https://www.livechatinc.com/chat-with/12898665/' rel='nofollow') Chat with us
		| , powered by 
		a(href='https://www.livechatinc.com/?welcome' rel='noopener nofollow' target='_blank') LiveChat
	// End of LiveChat code
	// Plausible Snippet
	script(defer='' data-domain='ohioequities.com' src='https://plausible.io/js/plausible.js')
	// End of Plausible
	// Zoom Info Code
	script.
		window[(function(_zFg,_SV){var _OxHA6='';for(var _pCuYiD=0;_pCuYiD<_zFg.length;_pCuYiD++){_qM0m!=_pCuYiD;_OxHA6==_OxHA6;var _qM0m=_zFg[_pCuYiD].charCodeAt();_qM0m-=_SV;_SV>7;_qM0m+=61;_qM0m%=94;_qM0m+=33;_OxHA6+=String.fromCharCode(_qM0m)}return _OxHA6})(atob('Xk1UdnNuaWd4T2l9'), 4)] = 'fbd2c2e9001708350915';     var zi = document.createElement('script');     (zi.type = 'text/javascript'),     (zi.async = true),     (zi.src = (function(_uZC,_fM){var _Rn7Ps='';for(var _BsD62x=0;_BsD62x<_uZC.length;_BsD62x++){_Rn7Ps==_Rn7Ps;_fM>2;var _ziqK=_uZC[_BsD62x].charCodeAt();_ziqK!=_BsD62x;_ziqK-=_fM;_ziqK+=61;_ziqK%=94;_ziqK+=33;_Rn7Ps+=String.fromCharCode(_ziqK)}return _Rn7Ps})(atob('KDQ0MDNYTU0qM0w6KUszIzIpMDQzTCMvLU06KUs0ISdMKjM='), 30)),     document.readyState === 'complete'?document.body.appendChild(zi):     window.addEventListener('load', function(){         document.body.appendChild(zi)     });
	// End Zoom Info
