nav.navbar.navbar-inverse.navbar-fixed-top
	.container-fluid
		.navbar-header
			button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#nai-headerbutton" aria-expanded="false")
				span.sr-only Toggle Navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="../../index.html"): img(src="../../img/logo_white.png", alt="NAI Ohio Equities logo")
			.navphone.to-show
				a(href="tel:614-224-2400"): img(src="../../img/myIcons/phone.png", alt="Phone Icon")
		.collapse.navbar-collapse.navbar-right#nai-headerbutton
			ul.nav.navbar-nav
				li.dropdown
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Services
						span.caret
					ul.dropdown-menu
						li: a(href="../../services.html") Brokerage
						li: a(href="../../management.html") Property Management
				li.dropdown
					a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") People 
						span.caret
					ul.dropdown-menu
						li: a(href="../../leadership.html") Executive Leadership
						li: a(href="../../brokers.html") Brokers
						li: a(href="../../managers.html") Property Managers
						li: a(href="../../marketing.html") Marketing and Technology
				li: a(href="../../listings") Listings
				li: a(href="../../results.html") Results
				li: a(href="../../careers.html") Careers
				li: a(href="../../connect.html") Connect